---
title: Blog
layout: "base.njk"
cssPath: "/css/blog.css"
---

<section class="banner">
  <div>
    <h2>EFLÚVIO</h2>
  </div>
  <img src="/img/blog/blog-lines.png" alt="">
</section>

<div class="blog-container" id="efluvio-container">
  <div class="title-container">
    <h4>EFLÚVIO TELÓGENO</h4>
    <span class="horizontal-line"></span>
  </div>
  <p>
    Quando presente, há um aumento da queda diária dos fios do cabelo, sendo percebido principalmente na hora do banho
    ou quando se está penteando o cabelo, pelo exagero de fios que caem.
  </p>
  <p>
    Essa causa normalmente está associada a algum evento que ocorreu aproximadamente três meses antes da queda começar,
    que é o tempo médio da queda e renovação dos fios. Várias podem ser as causas: gripe, pós-parto, doenças
    infecciosas, cirurgias, extresse entre outros.
  </p>
  <p>
    Além da queda também há coceira no couro cabeludo. O tratamento pode ser feito com medicações estimuladoras para
    acelerar o processo de crescimento. Entretanto, também é preciso investigar se a condição está associada a
    deficiência de algum componente como ferro ou vitaminas.
  </p>

  <span class="vertical-line"></span>

</div>