---
title: Blog
layout: "base.njk"
cssPath: "/css/article.css"
---

<article>
  <section class="info-container">
    <p>{{ date | postDate }}</p>
    <h3>{{ title }}</h3>

    <div class="tags-container">
      {% for tag in tags -%} {% if tag !== 'post' %}
      <a href="">{{ tag }}</a>
      {% endif %} {%- endfor %}
    </div>
    {% for tag in tags -%}
    {% if tag == 'Vídeos' %}
    <iframe width="545" height="303" src="https://www.youtube.com/embed/{{ video }}" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    {% endif %}
    {%- endfor %}
    {% if thumbnail %}
    <img src="{{ thumbnail }}" alt="" />
    {% endif %}
  </section>

  <div class="content-container">
    {{ content | safe }}
  </div>
</article>

<!-- {%- for item in pagination.items | reverse -%}
<ul class="posts-container">
  <li>
    <img src="{{ item.data.thumbnail }}" alt="" />
    <p>
      {% for tag in item.data.tags -%} 
        {% if tag !== 'post' %}
          {{ tag }}, 
        {% endif %} 
      {%- endfor %}
      {{ item.data.date | postDate }}
    </p>
    <a href="{{ item.url }}">
      {{ item.data.title }}
    </a>
  </li>
  {%- endfor %}
</ul> -->

<img class="article-lines" src="/img/blog/article-lines.svg" alt="" />

<div class="artigos-relacionados">
  <h5>Artigos relacionados</h5>
  {% set postsFiltered = collections.semVideos | limit(3) %}
  <ul>
    {%- for post in postsFiltered -%}
    <li>
      <img src="{{ post.data.thumbnail }}" alt="" />
      <p>
        {% for tag in post.data.tags -%}
        {% if tag !== 'post' %}
        {{ tag }},
        {% endif %}
        {%- endfor %}
        {{ post.data.date | postDate }}
      </p>
      <a href="{{ post.url }}">
        {{ post.data.title }}
      </a>
    </li>
    {%- endfor %}
  </ul>
</div>