<div id="body-hair">
  <h2>body hair</h2>
  <div class="title-container">
    <h4>definição</h4>
    <span class="horizontal-line"></span>
  </div>
  <p>
    A técnica body hair na cirurgia de transplante capilar, consiste na retirada de unidades foliculares de várias
    partes do corpo como, barba, tórax, abdômen, dorso e eventualmente de outras regiões, daqueles pacientes com área
    capilar doadora pobre ou prejudicada e com um número de folículos capilares insuficiente para realizar a cobertura
    adequada e satisfatória da área calva. Essas áreas são denominadas secundárias e complementares, pois a principal é
    o couro cabeludo.

  </p>
  <p>
    Utilizando os pelos corporais teremos um ganho adicional em densidade capilar na região transplantada, além de
    preservar a região posterior do couro cabeludo.
    O body hair sempre é associado com a técnica FUE (extração folículo a folículo) das regiões iminentemente doadoras,
    e possibilita a realização das Megassessões, especialidade da Clínica Muricy, que usa a técnica em 90% das cirurgias
    realizadas.
  </p>

  <p>
    Os resultados são uma quantidade muito maior de fios transplantados, com excepcional densidade no couro cabeludo,
    aparência absolutamente natural da região doadora e receptora, e resultados comprovadamente melhores. E podem ser
    indicados para os casos de grandes áreas calvas.
  </p>

  <p>Clínica Muricy: Body Hair com experiência, segurança e credibilidade.
  </p>

  <span class="vertical-line"></span>
</div>