<div id="body-hair">
  <h2>body hair</h2>
  <div class="title-container">
    <h4>definição</h4>
    <span class="horizontal-line"></span>
  </div>
  <p>
    A técnica body hair na cirurgia de transplante capilar, consiste na retirada de unidades foliculares de várias
    partes do corpo como, barba, tórax, abdômen, dorso e eventualmente de outras regiões, daqueles pacientes com área
    capilar doadora pobre ou prejudicada e com um número de folículos capilares insuficiente para realizar a cobertura
    adequada e satisfatória da área calva. Essas áreas são denominadas secundárias e complementares, pois a principal é
    o couro cabeludo.
  </p>

  <div class="megaImg">
    <img src="/img/bodyhair1.jpg" alt="">
    <img src="/img/bodyhair2.jpg" alt="">
  </div>

  <div class="legendaFlex">
    <p class="legendaImg">
      Áreas doadoras barba, abdome e tórax
    </p>
  </div>

  <p>
    Utilizando os pelos corporais teremos um ganho adicional em densidade capilar na região transplantada, além de
    preservar a região posterior do couro cabeludo.
  </p>

  <div class="megaImgUFS">
    <img src="/img/ufs.jpg" alt="">
  </div>

  <div class="legendaFlex">
    <p class="legendaImg">
      Unidades foliculares das áreas doadoras
    </p>
  </div>

  <div class="importante">
    <div class="importanteFlex">
      <img src="/img/retufs.jpg" alt="">
      <p>Retirada das UFs</p>
    </div>
    <div>
      <p>O body hair sempre é associado com a técnica FUE (extração folículo a folículo) das regiões iminentemente doadoras,
        e possibilita a realização das Megassessões, especialidade da Clínica Muricy, que usa a técnica em 90% das cirurgias
        realizadas.</p>
    </div>
  </div>

  <div class="megaImg2">
    <img src="/img/posad1.jpg" alt="">
    <img src="/img/posad2.jpg" alt="">
    <img src="/img/posad3.jpg" alt="">
  </div>

  <div class="legendaFlex">
    <p class="legendaImg">
      Pós-operatório das áreas doadoras
    </p>
  </div>

  <div class="megaImg">
    <img src="/img/bhpos1.jpg" alt="">
    <img src="/img/bhpos2.jpg" alt="">
  </div>

  <div class="legendaFlex">
    <p class="legendaImg1">
      Cabelo 2.857, Barba 537, Tórax 644
    </p>
    <p class="legendaImg2">
      Total 4.038 UFs
    </p>
  </div>

  <p>
    Os resultados são uma quantidade muito maior de fios transplantados, com excepcional densidade no couro cabeludo,
    aparência absolutamente natural da região doadora e receptora, e resultados comprovadamente melhores. E podem ser
    indicados para os casos de grandes áreas calvas.
  </p>

  <p>Clínica Muricy: Body Hair com experiência, segurança e credibilidade.
  </p>

  <span class="vertical-line"></span>
</div>