<div id="correcoes">
  <h2>CORREÇÕES</h2>

  <div class="conteudo">
    <p>
      Você sabe o que é a correção de resultados artificiais?
    </p>
    <p>
      Aquele aspecto conhecido como “cabelos de boneca”… aquelas cirurgias que deixavam e ainda deixam uma impressão e
      um
      visual artificial, agora são possíveis de reversão.
    </p>

    <div class="megaImg">
      <img src="/img/cor1.jpg" alt="">
      <img src="/img/cor2.jpg" alt="">
      <img src="/img/cor3.jpg" alt="">
    </div>

    <div class="legendaFlex">
      <p class="legendaImg">
        Exemplo de resultados artificiais
      </p>
    </div>

    <p>A Clínica Muricy desenvolveu uma técnica específica para este problema.
      Atualmente uma cirurgia bem feita, por cirurgião especialista e preparado, resulta em aspecto natural e
      imperceptível a olho nu. Infelizmente há casos antigos e atuais ainda artificiais que necessitam de correção.
      Ambas as Unidades da Clínica Muricy, Curitiba ou São Paulo, oferecem abordagem própria na correção destes casos,
      devolvendo ao paciente a naturalidade de uma cirurgia bem realizada.</p>
  </div>

  <span class="vertical-line"></span>
</div>