<footer id="contato">
  <div class="top">
    <div class="left">
      <img src="/img/svg/logo.svg" alt="" style="max-width: 350px" />
      <p>Primeiro Hospital do Paraná dedicado a cirurgias minimamente invasivas.
      </p>
    </div>

    <div class="content">
        <p>
          DIRETOR TÉCNICO<br/>
          Dr. José Cândido Muricy<br/>
          CRM PR 2317 / RQE 539<br/>
        </p>

        <p>(+55) 41 3085-7600<br/>
        (+55) 41 99933-0086<br/>
        contato@hospitaldrmuricy.com.br<br/>
        Av. Presidente Getúlio Vargas, 4089<br/>
        </p>
    </div>
  </div>

  <div class="social-media">
    <a href="https://www.instagram.com/hospitaldrmuricy/">
      <img src="/img/svg/instagram.svg" alt="">
    </a>
    <a href="https://web.facebook.com/hospitaldrmuricy">
      <img src="/img/svg/facebook.svg" alt="">
    </a>
    <a href="https://api.whatsapp.com/send?phone=5541999330086">
      <img src="/img/svg/whats.svg" alt="">
    </a>
  </div>

  <hr />

  <a href="https://namiconsultoria.com.br" class="nami">Desenvolvido por Nami Consultoria</a>
</footer>