<div id="fue">
  <h2>FUE</h2>
  <p>Follicular Unit Extraction, ou <strong>Extração de Unidades Foliculares</strong>, é uma técnica de
    obtenção dos fios da área doadora conhecida como Transplante de Cabelos sem cicatriz linear.</p>

  <p>A técnica FUE consiste na remoção das unidades foliculares, uma a uma, de forma aleatória na área doadora, pelo
    médico cirurgião. As unidades foliculares podem ser compostas de um a quatro fios.
  </p>
  <p>A grande vantagem da técnica FUE é não deixar uma cicatriz linear visível na região posterior, possibilitando o uso
    dos cabelos bem curtos, até máquina 1.
  </p>

  <p>Isto ocorre porque os orifícios feitos para a remoção dos fios são extremamente pequenos, com 0.7 a 0.9mm de
    diâmetro. Outra vantagem é que esta técnica pode ser realizada nos pacientes que não possuem boa elasticidade na
    região doadora, o que impediria a realização de uma megassessão com a técnica FUT.
  </p>


  <div class="megaImg">
    <p class="megaLeg">FUE COM BODY HAIR</p>
    <img src="/img/tecfue1.jpg" alt="">
    <img src="/img/tecfue2.jpg" alt="">
  </div>

  <div class="legendaFlex">
    <p class="legendaImg">
      Couro cabeludo 4.080, Barba 550, Tórax 625
    </p>
    <p class="legendaImg2">
      Total 5.255 UFs
    </p>
  </div>

  <p>Outra vantagem da FUE é a possibilidade de obter fios de diversas outras áreas como tórax e abdome superior, além
    do couro cabeludo e barba (BODY HAIR).
  </p>

  <p>No início, para conseguirmos introduzir o pequeno punch de alguns milímetros corretamente e extrair a unidade
    folicular sem dano, havia a necessidade de raspar os cabelos. Na Clínica Muricy, para realizar a técnica FUE os
    cabelos da região doadora podem ou não ser raspados, conforme a indicação do cirurgião. Quando os cabelos não são
    raspados denominamos "NO SHAVING", indicado para calvícies mais localizadas como na região anterior, na coroa ou
    calvícies femininas.
  </p>

  <p>No FUE, como as unidades foliculares são retiradas uma a uma, o tempo cirúrgico é maior. As megassessões de 3 a 5
    mil UFs são realizadas em um dia de cirurgia. </p>

  <div class="title-container">
    <h4>Colocação das Unidades <br>Foliculares</h4>
    <span class="horizontal-line"></span>
  </div>
  <p style="margin-top: 3rem;">
    Para a colocação das unidades foliculares são utilizados os chamados “IMPLANTERS”, dispositivos semelhantes à uma
    caneta com um sistema de mola e uma agulha na ponta de 0,8mm de diâmetro para as unidades foliculares de 1 e 2 fios
    ou 0,9mm de diâmetro para as de 3 e 4 fios. Estas agulhas possuem uma abertura central que possibilita o
    posicionamento da unidade folicular em seu interior. Ao introduzir a agulha na área calva e apertar a
    ponta oposta do implanter, a unidade folicular é automaticamente implantada.
  </p>
  <p>
    A principal característica desta técnica de colocação é que o bulbo ou raiz dos fios não é tocado, somente a
    superfície da unidade folicular, o que reduz o trauma e aumenta a chance de crescimento destes fios. A
    outra vantagem do uso das agulhas é a alta concentração que se consegue, pois os orifícios produzidos são de 0,7mm a
    no máximo 0,9mm de diâmetro. O resultado desta técnica é um transplante capilar extremamente natural e com alta
    densidade.
  </p>

  <p>
    Outro aspecto do FUE é que a cirurgia pode ser realizada com a cabeça totalmente raspada (máquina zero), com corte
    militar (cabelo raspado apenas nas laterais da cabeça) ou "no shave" (sem raspagem do couro cabeludo). Em quaisquer
    das situações, o paciente é preparado antecipadamente pela equipe cirúrgica da Clínica Muricy.
  </p>

  <div class="imgs">
    <div>
      <img src="/img/fue1.jpg" alt="">
      <p>Implanters</p>
    </div>
    <div>
      <img src="/img/fue2.jpg" alt="">
      <p>Agulha do implanter com abertura central</p>
    </div>
    <div>
      <img src="/img/fue3.jpg" alt="">
      <p>Aspecto de unidades foliculares de 2 e 3 fios imediatamente após serem extraídas com a técnica de FUE</p>
    </div>
  </div>

  <div class="title-container">
    <h4>benefícios <br>
      da técnica fue</h4>
    <span class="horizontal-line"></span>
  </div>

  <p class="beneficioText">É uma cirurgia minimamente invasiva, onde a anestesia é local com sedação endovenosa, sem
    necessidade de
    internação. O pós-operatório é mais tranquilo que na técnica FUT, menos doloroso, com recuperação mais rápida da
    área doadora, mas também exige cuidados orientados pelo médico.<br>
  </p>

  <div class="six-pack">
    <div>
      <h5><span></span>É indicada para diferentes graus de calvície</h5>
      <p>O crescimento dos fios transplantados ocorrerá após 3 meses da cirurgia como na técnica convencional.</p>
    </div>

    <div>
      <h5><span></span>Possibilita uso de cabelos curtos</h5>
      <p>Não deixa cicatriz linear na área posterior.</p>
    </div>

    <div>
      <h5><span></span>Menos traumática</h5>
      <p>É uma cirurgia minimamente invasiva e com menor risco cirúrgico.
      </p>
    </div>

    <div>
      <h5><span></span>Não há necessidade de internação</h5>
      <p>Recuperação mais rápida, possibilitando a volta as atividades normais e físicas em menor tempo.</p>
    </div>

    <div>
      <h5><span></span>Pode corrigir cicatrizes</h5>
      <p>Inclusive a cicatriz prévia de uma cirurgia de translante capilar.</p>
    </div>

    <div>
      <h5><span></span>Maior número de fios doadores</h5>
      <p>Utiliza toda a área doadora possível de cada paciente.</p>
    </div>

  </div>

  <img id="fue-lines" src="/img/blog/article-lines.svg" alt="">

  <div class="title-container">
    <h4>informações <br>
      importantes</h4>
    <span class="horizontal-line"></span>
  </div>

  <div class="importante">
    <div>
      <span class="small-line"></span>
      <p>Na maioria das vezes é necessário raspar o cabelo;</p>
      <span class="small-line"></span>
      <p>É mais difíci de ser realizada em cabelos crespos;</p>
      <span class="small-line"></span>
      <p>Há maior risco de transecção das unidades foliculares na retirada em mãos inexperientes, pois o corte é
        realizado as cegas;</p>
      <span class="small-line"></span>
      <p>Enxertos mais delgados, que são mais frágeis, se não bem manipulados, podem reduzir o índice de "pega";</p>
      <span class="small-line"></span>
      <p>Maior custo pois o tempo cirúrgico é maior.</p>
    </div>

    <img src="/img/important-img.jpg" alt="">
  </div>


  <!-- <div class="title-container">
    <h4>Exemplos de aparelhos cirúrgicos utilizados nos transplantes capilares pela técnica FUE</h4>
    <span class="horizontal-line"></span>
  </div>

  <div class="aparelhos">
    <h4>Mamba</h4>

    <h4>Belga</h4>
  </div> -->

  <span class="vertical-line"></span>