<div id="fue">
  <h2>TÉCNICA FUE</h2>
  <p>O termo FUE significa Follicular Unit Extration. Em português, Extração de Unidades Foliculares. É uma técnica de
    obtenção dos fios da área doadora conhecida como Transplante de Cabelos sem cicatriz linear.</p>

  <p>A técnica FUE consiste na remoção das unidades foliculares, uma a uma, de forma aleatória na área doadora, pelo
    médico cirurgião. As unidades foliculares podem ser compostas de um a quatro fios.
  </p>
  <p>A grande vantagem da técnica FUE é não deixar uma cicatriz linear visível na região posterior, possibilitando o uso
    dos cabelos bem curtos, até máquina 1. É conhecida como a técnica de transplante capilar sem cicatriz linear.
  </p>

  <p>Isto ocorre porque os orifícios feitos para a remoção dos fios são extremamente pequenos, com 0.7 a 0.9mm de
    diâmetro. Outra vantagem é que esta técnica pode ser realizada nos pacientes que não possuem boa elasticidade na
    região doadora, o que impediria a realização de uma megassessão com a técnica FUT - transplante de unidades
    foliculares com extração de uma faixa de couro cabeludo.
  </p>

  <div class="megaImg">
    <img src="/img/tecfue1.jpg" alt="">
    <img src="/img/tecfue2.jpg" alt="">
  </div>

  <div class="legendaFlex">
    <p class="legendaImg">
      Couro cabeludo 4.080, Barba 550, Tórax 625
    </p>
    <p class="legendaImg2">
      Total 5.255 UFs
    </p>
  </div>

  <p>Outra vantagem da FUE é a possibilidade de obter fios de diversas outras áreas como tórax e abdome superior, além
    do couro cabeludo e barba.
  </p>

  <p>No início, para conseguirmos introduzir o pequeno punch de alguns milímetros corretamente e extrair a unidade
    folicular sem dano, havia a necessidade de raspar os cabelos. Na Clínica Muricy, para realizar a técnica FUE os
    cabelos da região doadora podem ou não ser raspados, conforme a escolha do paciente. Realizamos o FUE convencional
    raspado e o não raspado. A diferença entre as duas opções será o tempo e o custo da cirurgia, maior quando os
    cabelos não são raspados (técnica NO-SHAVING) mais indicado para a cirurgia da calvície feminina.
  </p>

  <p>No FUE, como as unidades foliculares são retiradas uma a uma, o tempo cirúrgico é maior. As megassessões de 3 a 5
    mil UFs são realizadas em um dia de cirurgia. </p>

  <div class="title-container">
    <h4>Colocação das Unidades <br>Foliculares</h4>
    <span class="horizontal-line"></span>
  </div>
  <h5>(FIOS)</h5>

  <p>
    Para a colocação das UFs são utilizados os chamados “IMPLANTERS” (Figura 01), dispositivos semelhantes à uma
    caneta com um sistema de mola e uma agulha na ponta de 0.8mm de diâmetro para as unidades foliculares de 1 e 2 fios
    ou 0,9mm de diâmetro para as de 3 e 4 fios. Estas agulhas possuem uma abertura central que possibilita o
    posicionamento da unidade folicular em seu interior (Figura 02). Ao introduzir a agulha na área calva e apertar a
    ponta oposta do implanter, a unidade folicular é automaticamente implantada.
  </p>
  <p>
    A principal característica desta técnica de colocação é que o bulbo ou raiz dos fios não é tocado, somente a
    superfície da unidade folicular, o que reduz o trauma e aumenta a chance de crescimento destes fios. (Figura 03) . A
    outra vantagem do uso das agulhas é a alta concentração que se consegue, pois os orifícios produzidos são de 0.7mm a
    no máximo 0,9mm de diâmetro. O resultado desta técnica é um transplante capilar extremamente natural e com alta
    densidade.
  </p>

  <div class="imgs">
    <div>
      <img src="/img/fue1.jpg" alt="">
      <p>Implanters</p>
    </div>
    <div>
      <img src="/img/fue2.jpg" alt="">
      <p>Agulha do implanter com abertura central</p>
    </div>
    <div>
      <img src="/img/fue3.jpg" alt="">
      <p>Aspecto de unidades foliculares de 2 e 3 fios imediatamente após serem extraídas com a técnica de FUE</p>
    </div>
  </div>

  <div class="title-container">
    <h4>benefícios <br>
      da técnica fue</h4>
    <span class="horizontal-line"></span>
  </div>

  <p class="beneficioText">É uma cirurgia minimamente invasiva, onde a anestesia é local com sedação endovenosa, sem necessidade de
    internação. O pós-operatório é mais tranquilo que na técnica FUT, menos doloroso, com recuperação mais rápida da
    área doadora, mas também exige cuidados orientados pelo médico.<br>
    Pode ser combinada com a técnica convencional da faixa na mesma cirurgia aumentando a quantidade de folículos
    obtidos.</p>

  <div class="six-pack">
    <div>
      <h5><span></span>É indicada para diferentes graus de calvície</h5>
      <p>O crescimento dos fios transplantados ocorrerá após 3 meses da cirurgia como na técnica convencional.</p>
    </div>

    <div>
      <h5><span></span>Possibilita uso de cabelos curtos</h5>
      <p>Não deixa cicatriz linear na área posterior.</p>
    </div>

    <div>
      <h5><span></span>Menos traumática</h5>
      <p>É uma cirurgia minimamente invasiva e com menos risco cirúrgico, e utiliza menor quantidade de medicamentos.
      </p>
    </div>

    <div>
      <h5><span></span>Não há necessidade de internação</h5>
      <p>Recuperação mais rápida, possibilitando a volta as atividades normais e físicas em menor tempo. Ex: Atletas</p>
    </div>

    <div>
      <h5><span></span>Pode corrigir cicatrizes</h5>
      <p>Inclusive a cicatriz prévia de uma cirurgia de translante capilar.</p>
    </div>

    <div>
      <h5><span></span>Maior número de fios doadores</h5>
      <p>Utiliza toda a área doadora possível de cada paciente.</p>
    </div>

  </div>

  <img id="fue-lines" src="/img/blog/article-lines.svg" alt="">

  <div class="title-container">
    <h4>informações <br>
      importantes</h4>
    <span class="horizontal-line"></span>
  </div>

  <div class="importante">
    <div>
      <span class="small-line"></span>
      <p>Na maioria das vezes é necessário raspar o cabelo;</p>
      <span class="small-line"></span>
      <p>É mais difíci de ser realizada em cabelos crespos;</p>
      <span class="small-line"></span>
      <p>Há maior risco de transecção das unidades foliculares na retirada em mãos inexperientes, pois o corte é
        realizado as cegas;</p>
      <span class="small-line"></span>
      <p>Enxertos mais delgados, que são mais frágeis, se não bem manipulados, podem reduzir o índice de "pega";</p>
      <span class="small-line"></span>
      <p>Maior custo pois o tempo cirúrgico é maior.</p>
    </div>

    <img src="/img/important-img.jpg" alt="">
  </div>

  <!-- <section class="historia">
    <div class="title-container">
      <h4>História da <br>Técnica de FUE </h4>
      <span class="horizontal-line"></span>
    </div>

    <p>A técnica surgiu em 2002, quando Dr. Rassman (USA) e colaboradores publicaram seu primeiro trabalho descrevendo a
      metodologia do FUE, que na época foi chamado de Procedimento de FOX. Era usado um punch manual afiado de 1.0mm de
      diâmetro para a extração dos fios uma a um na área doadora. (Punch é um instrumento cirúrgico usado para fazer um
      corte na pele de formato redondo. Possui vários tamanhos e é muito usado em dermatologia para a realização de
      biópsias de pele de couro cabeludo. Figuras 04 e 05).</p>

    <div class="row">
      <div>
        <img src="/img/h-fue-2.jpg" alt="">
        <p>Vários punches de 0.9mm de diâmetro</p>
      </div>
    </div>

    <p>Na época somente 60% dos pacientes estudados pelo Dr Rassman eram candidatos à realização do procedimento pelo
      alto risco de transecção dos folículos. Rassman et al. orientavam que se limitasse a profundidade da introdução do
      punch na pele do couro cabeludo na tentativa de reduzir a porcentagem de lesão. Logo após, Dr. Cole desenvolveu um
      punch manual afiado com limite de introdução na pele (Figuras 03 e 04 abaixo). A técnica não foi muito empregada
      pelo risco de transecção dos folículos pelos punches afiados.</p>

    <div class="row">
      <div id="fue2">
        <img src="/img/h-fue-2.jpg" alt="">
        <p>Cabo desenvolvido pelo Dr. Cole com uma ponta emborrachada que regula a profundidade de introdução do
          instrumento na pele do couro cabeludo.</p>
      </div>

      <div id="fue3">
        <img src="/img/h-fue-3.jpg" alt="">
        <p>Punch para ser acoplado no cabo desenvolvido pelo Dr. Cole.</p>
      </div>
    </div>

    <p>Em 2004, Dr James Harris desenvolveu um aparelho chamado SAFE System (Surgically Advanced Follicular Extraction
      = Extração Folicular Cirúrgica Avançada). É um sistema que utiliza um pequeno motor e um punch “cego”, não
      afiado, permitindo a realização da cirurgia com menor índice de trauma folicular e em menor tempo cirúrgico. </p>

    <div id="fue4">
      <div class="left-side">
        <img src="/img/h-fue-4.jpg" alt="">
        <p>SAFE System desenvolvido pelo Dr. James Harris</p>
      </div>
      <div class="right-side">
        <p>Um dos grandes experts em Transplante capilar de FUE é o Dr. José Lorenzo de Madrid, Espanha. Ele se
          especializou nesta técnica e a indica para 100% de seus pacientes. Utiliza um punch manual para a remoção das
          unidades e os Lion Implanters para a colocação.
        </p>
        <p>Na evolução surgiram muitos outros aparelhos motorizados como o PCID e o CDD Vortex desenvolvidos pelo Dr
          Jonh
          Cole. São aparelhos que utilizam os punches afiados.</p>
        <p>Também surgiu o Robô Arthas que realiza a extração das unidades foliculares usando um punch rombo externo e
          um
          cortante interno. Acreditamos que este sistema robotizado ainda precisa de muitos ajustes, principalmente no
          diâmetro dos orifícios que produz na área doadora dos pacientes, para se tornar a opção ideal para o cirurgião
          da calvície.</p>
      </div>
    </div>

    <p>Em 2016, no congresso da ISHRS (International Society of Hair Restoration Surgery) foi lançado o WAW system, que
      está revolucionando a técnica de FUE. É um aparelho que possue um pedal, onde o cirurgião controla a velocidade do
      movimento de oscilação com os pés. O objetivo é simular o movimento das mãos humanas com uma velocidade mais
      rápida. A ponteira suíça é mais leve e utiliza um punch híbrido! Ou seja, é um punch não cortante na horizontal,
      mas cortante nas bordas. Isto possibilita a obtenção de enxertos mais robustos e menor taxa de transecção.</p>

    <div id="fue5">
      <div class="left-side">
        <p>E a mais recente tecnologia é da Mamba Instruments, fabricante de dispositivos cirúrgicos para FUE. Os
          equipamentos tem melhorias tecnológicas que proporcional altos níveis de desempenho. São dispositivos que
          possuem funções de rotação e vibração mecânica junto com oscilação e angulos que facilitam a extração dos
          folículos e evitam danificá-los.

        </p>
        <p>Nestes últimos anos a Técnica de FUE foi se popularizando e mais médicos foram dominando a forma de lesar ao
          mínimo as raízes dos cabelos e realizar o transplante de uma forma menos invasiva.
        </p>
        <p>Atualmente a técnica FUE é realizada pela Clínica Muricy por oferecer os melhores resultados nos transplantes
          capilares.</p>
      </div>
      <div class="right-side">
        <img src="/img/h-fue-5.jpg" alt="">
        <p>SAFE System desenvolvido pelo Dr. James Harris</p>
      </div>
    </div>
  </section>

  <section class="mais-infos">
    <div>
      <p>Para maiores informações entre em <br> contato conosco pelos telefones:</p>
      <a href="tel:4132428371">41-3242.8371 (Curitiba)</a>
      <a href="tel:1123090210"> 11-2309.0210 (São Paulo) </a>
    </div>

    <div>
      <p>Ou por email:</p>
      <a href="mailto:drmuricy@clinicamuricy.com.br">drmuricy@clinicamuricy.com.br (Curitiba)</a>
      <a href="mailto:dramuricy@clinicamuricy.com.br">dramuricy@clinicamuricy.com.br (São Paulo)</a>
    </div>
  </section> -->


  <span class="vertical-line"></span>
</div>