<div id="haircare">
  <div class="medicalHair">
    <h2>HAIR CARE</h2>

    <P>
      A Hair Care Muricy foi criada por especialistas em cabelo que são reconhecido no Brasil e no mundo. É indicada
      para
      todos os tipos de cabelos. Para quem sofre com todos os tipos de problemas capilares, ou até para quem gosta de
      ter
      um cabelo bonito e saudável.
      <br><br>
      Os cuidados são personalizados para cada paciente, e consistem em técnicas de aplicação de lasers de baixa
      potência,
      leds de ultrapotência, fotobiomodulação e eletroterapia, aplicação de cosmecêuticos específicos, manobras de
      massoterapia, técnicas de relaxamento, aromaterapia e outras tecnologias objetivando melhor penetração das
      substâncias tópicas bem como proporcionar ao paciente sensação de relaxamento e bem-estar.
    </P>
  </div>

  <section class="pre-operatorio">
    <div class="title-container">
      <h5>BENEFÍCIOS</h5>
      <span class="full-horizontal-line"></span>
    </div>
  </section>

  <div class="flexboxTextTA">
    <div class="flexBeneficios">
      <div class="flexBenSmall">
        <span></span>
        <p>Ativação sanguínea do couro cabeludo</p>
      </div>
      <div class="flexBenSmall">
        <span></span>
        <p>Aumento da permeação de ativos</p>
      </div>
      <div class="flexBenSmall">
        <span></span>
        <p>Desobstrução do bulbo capilar</p>
      </div>
    </div>
    <div class="flexBeneficios">
      <div class="flexBenSmall">
        <span></span>
        <p>Ação antifúngica e antibacteriana</p>
      </div>
      <div class="flexBenSmall">
        <span></span>
        <p>Trata alopecia, caspa, seborreia, psoríase, sensibilidade do couro e outras disfunções ligadas à desidratação
          e
          ressecamento</p>
      </div>
      <div class="flexBenSmall">
        <span></span>
        <p>Melhorar o aspecto dos fios (cabelos porosos, opacos, quebradiços, etc).</p>
      </div>
    </div>
  </div>

  <section class="pre-operatorio">
    <div class="title-container">
      <h5>TRATAMENTOS</h5>
      <span class="full-horizontal-line"></span>
    </div>
  </section>

  <div class="whiteTratamento">
    <div class="whiteFlex">
      <div class="whiteText">
        <div class="whiteTitle">
          <h4>HAIR CARE ANTI-QUEDA E CRESCIMENTO</h4><span></span>
        </div>
        <p>Indicada para reduzir a queda capilar estimulando o crescimento de novos fios e fortalecendo os existentes.
          Tem indicação para eflúvio telógeno e da alopecia androgenética (calvície).
          Potencializa os resultados dos tratamentos domiciliares orientados pelo médico.
          Estímulos na raiz e couro cabeludo resultando em fios mais fortes e bonitos.
        </p>
      </div>
    </div>
  </div>

  <div class="greenTratamento">
    <div class="greenFlex">
      <img src="/img/haircare.jpg" alt="">
      <div class="greenText">
        <div class="greenTitle">
          <h4>HAIR CARE ANTI-CROSTA</h4><span></span>
        </div>
        <p>Indicado entre o 10º e o 13º dia de pós-operatório para remoção completa das crostas ainda presentes na área
          transplantada.
          <br><br>
          Nesta terapia também é realizado um estímulo para crescimento das novas raízes.</p><br>
        <div class="greenInline">
          <p class="greenStrong">Tempo de duração</p>
          <p>: 01 hora</p>
        </div>
        <div class="greenInline">
          <p class="greenStrong">Indicação</p>
          <p>: pós-cirúrgica</p>
        </div>
      </div>
    </div>
  </div>

  <div class="whiteTratamento">
    <div class="whiteFlex">
      <div class="whiteText">
        <div class="whiteTitle">
          <h4>HAIR CARE ANTI-CASPA E MICROBIOMA</h4><span></span>
        </div>
        <p>Auxilia no tratamento da caspa removendo a descamação e equilibrando a flora fúngica da região do couro
          cabeludo.

          Terapia Anti-Oleosidade, que reduz a oleosidade do couro cabeludo. Poderá ser associada a outras
          terapias.
          <br><br>
          <strong>Indicação</strong>: caspa, escamação do couro cabeludo. Nos casos severos, 1 vez por semana; casos
          leves, 1 vez a cada 15 dias.
          <br><br>
          Manutenção mensal
        </p>
      </div>
    </div>
  </div>

  <div class="greenTratamento">
    <div class="greenFlex">
      <div class="greenTextTwo">
        <div class="greenTitle">
          <h4>HAIR CARE DETOX</h4><span></span>
        </div>
        <p>
          Desintoxicar o couro cabeludo com uma limpeza profunda e reequilibrar o pH. Elimina sujeira, resíduos de
          produtos cosméticos usados no dia a dia, poluição, oleosidade.
          Ajuda a evitar caspa, seborreia e queda de cabelo.
        </p>
        <div class="greenInline">
          <p class="greenStrong">Indicação</p>
          <p>: antes de iniciar quaisquer das terapias Hair Care.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="whiteTratamento">
    <div class="greenFlex">
      <img src="/img/peelinghc.jpg" alt="">
      <div class="whiteFlexTwo">
        <div class="whiteTextTwo">
          <div class="whiteTitle">
            <h4>PEELING HAIR CARE</h4><span></span>
          </div>
          <p>
            Da mesma forma que se realiza peeling facial é aplicado um ácido específico região do couro cabeludo para
            remover restos celulares, desobstruir os poros e favorecer o nascimento de novo fios.
            Facilita a permeação de substâncias ativas necessárias para estimular o crescimento da raiz dos cabelo.
            É indicado a cada 90 dias e pode ser associado a outras terapias.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="greenTratamento">
    <div class="greenFlex">
      <div class="greenTextTwo">
        <div class="greenTitle">
          <h4>HAIR CARE NUTRIÇÃO E RECONSTRUÇÃO</h4><span></span>
        </div>
        <p>
          Cabelos desidratados, opacos e sem vida necessitam de hidratação específica.
          Esta terapia trata os fios de cabelos em toda a sua extensão.
          Indicada para cabelos danificados e ressecados pelo uso de tintura e descolorações.
          <br><br>
          Utiliza laser azul que ativa a queratina da loção aplicada e da haste, fechando as cutículas e hidratando os
          fios.
        </p>
      </div>
    </div>
  </div>

  <div class="whiteTratamento">
    <div class="whiteFlex">
      <div class="whiteText">
        <div class="whiteTitle">
          <h4>DERMATO CARE</h4><span></span>
        </div>
        <p>Auxilia o tratamento médico de afecções como psoríase, dermatite seborreica e alopecia areata.
          Tem ação calmante, antiinflamatória e de reequilíbrio.
        </p>
      </div>
    </div>
  </div>

  <div class="greenTratamento">
    <div class="greenFlex">
      <img src="/img/haircarepp.jpg" alt="">
      <div class="greenText">
        <div class="greenTitle">
          <h4>HAIR CARE PÓS-PARTO</h4><span></span>
        </div>
        <p>O estímulo adequado das raízes, a reposição de ferro, proteínas, vitaminas e minerais, o relaxamento para
          reduzir o stress, devolvem a saúde aos cabelos.</p>
      </div>
    </div>
  </div>

  <div class="whiteTratamento">
    <div class="whiteFlex">
      <div class="whiteText">
        <div class="whiteTitle">
          <h4>HAIR CARE PRÉ MMP</h4><span></span>
        </div>
        <p>Melhor absorção dos medicamentos aplicados no couro cabeludo durante o MMP, com objetivo de preparar a pele
          do
          couro cabeludo para receber a medicação.
        </p>
      </div>
    </div>
  </div>

  <div class="greenTratamento">
    <div class="greenFlex">
      <div class="greenTextTwo">
        <div class="greenTitle">
          <h4>HAIR CARE PÓS-OPERATÓRIOS</h4><span></span>
        </div>
        <p>
          Objetivam reduzir a formação de edema, acelerar a eliminação das crostas, auxiliar na cicatrização, ter ação
          anti-bacteriana e anti-fúngica, promover a "pega" das novas raízes, atenuar a sensibilidade e o vermelhidão da
          pele da região que recebeu as raízes, ajudar a reduzir a oleosidade do couro cabeludo que ocorre nos primeiros
          3
          meses de pós-operatório, estimular a circulação, acelerar o crescimento dos novos fios, manter o equilíbrio e
          a
          saúde do couro cabeludo favorecendo a ancoragem e fortalecimento dos fios. Anti-crosta, estimulante de
          crescimento capilar e cicatrizante.
        </p>
      </div>
    </div>
  </div>

  <div class="endPage">
    <span></span>
  </div>
</div>