<nav>
  <ul class="nav-items">
    <li>
      <a class="{{ 'active' if '/' in page.url }}" href="/">Home</a>
    </li>
    <li>
      <a class="{{ 'active' if '/blog' in page.url }}" href="/blog">Blog</a>
    </li>
    <li class="dropdown">
      <button class="dropbtn">CURSOS</button>
      <div class="dropdown-content">
        <span></span>
        <a href="/aligner-talks">Aligner Talks</a>
        <span></span>
        <a href="/first-class">FirstClass instituto 4.0</a>
        <span></span>
        <a href="/clincheck">Consultoria de clinCheck</a>
      </div>
    </li>
    <li>
      <a class="{{ 'active' if '/contato' in page.url }}" href="/contato"
        >Contato</a
      >
    </li>
  </ul>
</nav>
