<section class="contato-muricy">
  <div class="flexContato">
    <h1>ENTRE EM CONTATO</h1>
    <h5 class="descricao-contato">
      Envie sua mensagem ou acesse os nossos canais de comunicação para conhecer mais sobre a nossa estrutura, os nossos
      serviços e a nossa história!
    </h5>
      <form name="contato" action="https://submit-form.com/SaBRimOQ">
        <input
          type="hidden"
          name="_redirect"
          value="https://clinicamuricy.com.br/agradecimento"
        />
        
        <input type="hidden" name="_next" value="https://clinicamuricy.com.br/agradecimento/">
      <input type="text" name="nome" class="dados" id="form-nome" placeholder="Nome" required />
      <br />
      <input type="email" name="email" class="dados" id="form-nome" placeholder="E-mail" required />
      <br />
      <input type="hidden" name="_template" value="table">
      <input type="hidden" name="_subject" value="Novo contato pelo site.">
      <textarea type="text" name="ajuda" class="dados" id="form-ajuda" placeholder="Como podemos te ajudar?" cols="50"
        rows="5" required></textarea>
      <br />

      <br />
      <input type="submit" value="ENVIAR" class="enviar" />
      <span class="linha2"></span>
    </form>
  </div>

  <div class="detalhes-contatos">
    <div class="informacoes-contatos">
      <p class="telefone-contato1">(41) 3242-8371</p>
      <p class="telefone-contato">(41) 98495-8022 | (41) 98495-8510</p>
      <p class="endereco-contato">
        Rua Pedro Collere, Nº 35
      </p>
      <h5>Esquina com Avenida Presidente Getúlio Vargas</h5>
      <h5>Curitiba - PR</h5>
      <p class="email-contato">drmuricy@clinicamuricy.com.br</p>
    </div>
  </div>
</section>