<div id="laser">
  <div class="medicalHair2">
    <h2>TRATAMENTO A LASER</h2>
  </div>

  <section class="laserTitle">
    <div class="title-container">
      <h5>INTRODUÇÃO</h5>
      <span class="full-horizontal-line"></span>
    </div>
  </section>

  <div class="textboxTC">
    <p>
      Nos últimos 30 anos o laser de baixa potência vem sendo usado para o tratamento de feridas de difícil
      cicatrização. Observou-se, nestes pacientes, o crescimento de pêlos mais grossos e compridos no local de aplicação
      do laser. Desde então, iniciaram-se pesquisas usando o laser para o tratamento da calvície. Os primeiros trabalhos
      publicados na área capilar datam de 2001, com resultados significativos.
    </p>
  </div>

  <section class="laserTitle">
    <div class="title-container">
      <h5>DEFINIÇÃO</h5>
      <span class="full-horizontal-line"></span>
    </div>
  </section>

  <div class="textboxTC">
    <p>
      O laser de baixa potência, recebe este nome por atingir a potência de 1 a 500 miliwatts(mw), ao contrário dos
      lasers de alta potência que atingem 3000 a 10.000mw. Também é chamado de Laser Frio, pois não gera aquecimento dos
      tecidos, não provocando qualquer tipo de dano térmico no local aplicado. Pela baixa potência, não apresenta efeito
      carcinogênico ou ionizante.
    </p>
  </div>

  <section class="laserTitle">
    <div class="title-container">
      <h5>MECANISMO DE AÇÃO</h5>
      <span class="full-horizontal-line"></span>
    </div>
  </section>

  <div class="textboxTC">
    <p>
      O mecanismo de ação dos lasers de baixa potência é o de FOTOBIOESTIMULAÇÃO. A luz do laser penetra no local
      aplicado, atinge as células, e estimula seu metabolismo (há um aumento da produção de ATP pelas mitocôndrias).
      Isto se traduz em um melhor aproveitamento dos nutrientes, uma melhor eliminação de toxinas, em aceleração da
      divisão celular, aceleração do crescimento epitelial com melhor cicatrização, em aumento de síntese protéica, em
      redução de inflamação, e em estimulação do crescimento dos pêlos.
      <br><br>
      O exemplo mais comum de fotobioestimulação é a fotossíntese, quando as plantas utilizam a luz solar para
      produzirem energia química.
      Outro mecanismo de ação dos lasers de baixa potência é a ativação da microcirculação arterial, melhorando o
      suprimento de sangue e oxigênio para as células. Há também aumento do fluxo de retorno venoso e linfático,
      resultando na redução de edemas pós inflamatórios.
    </p>
  </div>

  <div class="greenTratamento">
    <div class="greenFlex">
      <div class="greenTextTwo">
        <div class="greenTitle">
          <h4>TIPOS DE LASER</h4><span></span>
        </div>
        <p>
          Há vários tipos de lasers de baixa potência. O usado para o tratamento da queda de cabelos é o Laser de DIODO
          no comprimento de onda de 655 nanômetros (nm) com potência de 5 mw. Estes lasers para tratamento capilar podem
          ser portáteis, conhecidos como "escova a laser" ou lasers de cabine. Há também outro tratamento a base de luz
          de diodo chamado LED no comprimento de onda de 635nm com potência de 11mw. O tipo, e duração do tratamento a
          ser usado, é indicado pelo médico especialista. Este também avaliará a necessidade de outras formas de
          tratamentos complementares, como loções capilares, medicamentos via oral ou cirurgia de transplante de
          cabelos.
        </p>
      </div>
    </div>
  </div>

  <div class="flexboxTextTA">
    <div class="flexBeneficios">
      <div class="flexBenSmall">
        <span></span>
        <p>Pós Cirurgia de Transplante Capilar, para acelerar a cicatrização e eliminação das crostas e ajudar no
          crescimento dos fios transplantados.</p>
      </div>
      <div class="flexBenSmall">
        <span></span>
        <p>Como coadjuvante no tratamento da Dermatite seborreica de couro cabeludo, pois a ação anti-inflamatória do
          laser reduz a oleosidade e o prurido da região tratada.</p>
      </div>
      <div class="flexBenSmallTitle">
        <h5>INDICAÇÕES DE USO
          <span></span>
        </h5>
      </div>
    </div>
    <div class="flexBeneficios">
      <div class="flexBenSmall">
        <span></span>
        <p>Redução da progressão das Alopecias Androgenéticas Masculina e feminina em graus iniciais e intermediários,
          pois o laser vai atuar nas raízes que ainda estão vivas. Infelizmente não há tratamento clínico que reative um
          folículo que já entrou em estado fibrótico. Em locais onde já não há mais cabelos, a única forma de tratamento
          é o transplante capilar;</p>
      </div>
      <div class="flexBenSmall">
        <span></span>
        <p>O laser de baixa voltagem não é um tratamento para substituir as terapias existentes que já tem comprovação
          científica e prática de eficácia, como o finasteride e a loção de minoxidil. É mais uma forma de tratamento
          que fará um efeito sinérgico com as demais.</p>
      </div>
      <div class="flexBenSmall">
        <span></span>
        <p>Tratamento de eflúvio telógeno agudo, onde ocorre a queda temporária dos cabelos em situações como no pós
          parto, pós cirurgia, pós emagrecimento importante, pós anemia, pós estresse, pós uso de certos medicamentos,
          pós doenças de tireóide, entre outros;</p>
      </div>
    </div>
  </div>

  <div class="greenTratamento">
    <div class="greenFlex">
      <div class="greenTextTwo">
        <div class="greenTitle">
          <h4>FORMA DE USO</h4><span></span>
        </div>
        <p>
          A aplicação deve ser feita 3 vezes por semana durante 15 minutos por 3 a 6 meses.
          <br><br>
          O tratamento da queda dos cabelos com laser de baixa potência é totalmente indolor, não tóxico, não invasivo,
          sem qualquer tipo de efeito colateral. Já é autorizado pelo FDA e já vem sendo empregado pelas melhoras
          clínicas de tratamento de calvície americanas. Fazendo o tratamento correto, os pacientes podem ter cabelos
          mais grossos, com mais volume, com mais brilho e mais saudáveis.
          <br><br>
          Qualquer tratamento não cirúrgico age na raíz ainda "viva". A figura abaixo mostra as fases do ciclo dos
          cabelos em que a escova a laser ou LED podem ativar o crescimento dos mesmos.
        </p>
      </div>
    </div>
  </div>

  <div class="laserPic">
    <img src="/img/laserfases.jpg" alt="">
  </div>

  <div class="flexboxTextLaser">
    <div class="flexBeneficios">
      <div class="flexBenSmall">
        <h4>FASE 01</h4>
        <p>Pêlo em fase anágena (crescimento).<br>
          A escova a laser ou LED atuam muito bem nesta fase estimulando o metabolismo da raiz e a vascularização.</p>
      </div>
      <div class="flexBenSmall">
        <h4>FASE 02</h4>
        <p>Pêlo em fase telógena (queda). A escova a laser ou LED atuam bem nesta fase, estimulando o crescimento do
          novo pêlo que está por vir.</p>
      </div>
    </div>
    <div class="flexBeneficios">
      <div class="flexBenSmall">
        <h4>FASE 03</h4>
        <p>Pêlo miniaturizado (em fase de atrofia).
          A escova a laser ou LED podem recuperar a vitalidade deste tipo de pêlo, fazendo com que ele volte a engrossar
          parcialmente.</p>
      </div>
      <div class="flexBenSmall">
        <h4>FASE 04</h4>
        <p>Não há mais raiz "viva". A escova a laser ou LED não atuam. Não há como reativar uma raíz que já não existe
          mais.</p>
      </div>
    </div>
  </div>

  <div class="textboxTC">
    <p>
      A grande novidade do último workshop de cirurgia de restauração capilar realizado em Orlando - USA em março de
      2007
      foi o anúncio da autorização do uso da escova a laser Hair Max pelo FDA (Food and Drug Administration - órgão
      americano que controla todos os medicamentos e aparelhos usados em humanos dos USA) para o tratamento da calvície
      masculina dos graus II a V.<br>
      Este anúncio comprova a eficácia da escova a laser para estímulo do crescimento capilar.
      <br><br>
      Saiba mais em <a target="_blank" href="https://www.hairmax.com">www.hairmax.com</a>
    </p>
  </div>

  <div class="endPage">
    <span></span>
  </div>
</div>