<div id="medicamentos">
  <div class="medicalHair">
    <h2>MEDICAMENTOS</h2>
  </div>

  <section class="pre-operatorio">
    <div class="title-container">
      <h5>TERAPIA FARMACOLÓGICA</h5>
      <span class="full-horizontal-line"></span>
    </div>
  </section>
  
  <div class="textboxTC">
    <p>
      Diversos tratamentos clínicos já foram propostos para tentar solucionar ou retardar a Alopecia Androgenética ou
      Calvície (AAG), porém apenas dois tratamentos são atualmente aceitos e aprovados pelo FDA (Food and Drug
      Administration, entidade governamental dos Estados Unidos, responsável pela análise e aprovação de uso de
      medicamentos): o uso do Minoxidil, que pode ser tópico ou oral, e o uso oral de Finasterida e Dutasterida.
      <br><br>
      O principal objetivo da terapia farmacológica é reverter e/ou estabilizar o processo de miniaturização dos
      folículos pilosos. Em termos hormonais, consiste em diminuir a atividade androgênica nos folículos capilares.
      <br><br>
      O tratamento clínico da região doadora antes da realização do procedimento cirúrgico é especialmente vantajoso,
      pois reverte a evolução dos folículos da fase telógena para a anágena, tornando mais fácil a visualização dos
      pêlos, que ganham densidade, e aumentando o número de unidades foliculares disponíveis na área doadora.
    </p>
  </div>

  <div class="greenTratamento">
    <div class="greenFlex">
      <div class="greenTextTwo">
        <div class="greenTitle">
          <h4>MINOXIDIL</h4><span></span>
        </div>
        <p>
          O minoxidil é um modificador biológico que age revertendo o processo de miniaturização do pêlo na AAG ao
          normalizar o ciclo do folículo, prolongando a fase anágena ou de crescimento. Seu agente ativo, substância
          responsável pela estimulação do folículo piloso, é o sulfato de minoxidil (SM).
          <br><br>
          Este medicamento estimula os folículos em fase de miniaturização, ou seja, folículos de pequeno diâmetro,
          curtos
          (entre 0.5 e 2cm) e hipopigmentados. Além de estimular a vascularização do couro cabeludo permitindo uma
          melhor
          oxigenação da região, o minoxidil estimula a multiplicação das células da matrix ( raiz do pêlo ).
          <br><br>
          A solução de minoxidil é geralmente encontrada na concentração 2% a 5%. Um estudo recente controlado com
          placebo
          comparou as respostas terapêuticas de 352 homens com idade média de 36 anos, portadores de AAG grau III-V, a
          essas duas concentrações de solução de minoxidil. O crescimento do pêlo no grupo dos 5% foi mais rápido e mais
          forte.
          <br><br>
          Em outro trabalho, também controlado com placebo, foram avaliados os cabelos cortados da região frontoparietal
          em homens com AAG. Durante os dois anos de estudo, foram comparadas as respostas do placebo com o minoxidil 2%
          e
          5%. Após 42 semanas a variação média no peso dos cabelos foi de 5%, 24% e 29%, respectivamente. Com 96
          semanas,
          14%, 15% e 19%. A diferença entre o grupo tratado e o que recebeu placebo se manteve constante em 34% para o
          minoxidil a 5% e 29% para o minoxidil a 2%. O maior aumento nos cabelos foi observado nas 20 primeiras semanas
          de tratamento.
        </p>

        <div class="minoxiFlex">
          <img src="/img/minoxidil.jpg" alt="">
          <p>O minoxidil é um modificador biológico que age revertendo o processo de miniaturização do pêlo na AAG ao
            normalizar o ciclo do folículo, prolongando a fase anágena ou de crescimento. Seu agente ativo, substância
            responsável pela estimulação do folículo piloso, é o sulfato de minoxidil (SM).
            <br><br>
            Este medicamento estimula os folículos em fase de miniaturização, ou seja, folículos de pequeno diâmetro,
            curtos (entre 0.5 e 2cm) e hipopigmentados. Além de estimular a vascularização do couro cabeludo permitindo
            uma melhor oxigenação da região, o minoxidil estimula a multiplicação das células da matrix (raiz do pêlo).
          </p>
        </div>

        <p>
          A solução de minoxidil é geralmente encontrada na concentração 2% a 5%. Um estudo recente controlado com
          placebo
          comparou as respostas terapêuticas de 352 homens com idade média de 36 anos, portadores de AAG grau III-V, a
          essas duas concentrações de solução de minoxidil. O crescimento do pêlo no grupo dos 5% foi mais rápido e mais
          forte.
          <br><br>
          Em outro trabalho, também controlado com placebo, foram avaliados os cabelos cortados da região frontoparietal
          em homens com AAG. Durante os dois anos de estudo, foram comparadas as respostas do placebo com o minoxidil 2%
          e
          5%. Após 42 semanas a variação média no peso dos cabelos foi de 5%, 24% e 29%, respectivamente. Com 96
          semanas,
          14%, 15% e 19%. A diferença entre o grupo tratado e o que recebeu placebo se manteve constante em 34% para o
          minoxidil a 5% e 29% para o minoxidil a 2%. O maior aumento nos cabelos foi observado nas 20 primeiras semanas
          de tratamento.
          <br><br>
          Após esses estudos, padronizou-se o uso do minoxidil 5% para todos os pacientes duas vezes ao dia.
          Recomenda-se passar 1ml do produto em cada aplicação, e sempre nos cabelos secos. É importante salientar que o
          produto deve ser passado no couro cabeludo, e não nos fios. Ele deve ser absorvido pelos poros para agir na
          raiz
          dos cabelos. O minoxidil não tem ação na haste dos fios.
          <br><br>
          Para se obter o efeito desejado, deve-se deixar a medicação agindo por pelo menos 4 horas. Por isso seu uso é
          indicado à noite e pela manhã, logo ao acordar. Depois de 4 horas pode-se lavar os cabelos.
          <br><br>
          Mulheres com AAG padrão feminino também podem ser tratadas com minoxidil, mas respondem melhor ao minoxidil 5%
          do que ao 2%. Em 7% destas mulheres pode ocorrer hipertricose facial, ou seja, crescimento de pêlos mais
          grossos
          nesta região. É mais comum naquelas que já tinham uma certa quantidade de pêlos faciais, idade acima dos 50
          anos
          ou com algum problema hormonal presente. Este problema é totalmente reversível. Primeiramente tenta-se a
          diminuição da concentração para 2%, e se com alguns meses de tentativa não ocorrer a diminuição destes pêlos,
          interrompe-se o uso da droga. Não se recomenda o uso em gestantes ou período de amamentação.
          <br><br>
          Os primeiros resultados do uso do minoxidil podem ser observados após aproximadamente 4 a 6 meses, sendo
          evidentes com 01 ano de tratamento. Observa-se primeiramente uma redução na queda capilar, depois o processo
          de
          miniturazição se estabiliza, e por fim há um aumento do volume dos fios.
          <br><br>
          Alguns pacientes podem ter uma queda capilar temporária nas primeiras semanas do tratamento. Isto ocorre por
          que
          a droga induz um eflúvio telógeno ( queda dos fios ) para depois estimular o crescimento dos mesmos.
          Seus efeitos colaterais são mínimos, mas podem ocorrer “irritações” no couro cabeludo (ressecamento, prurido e
          eritema) que tendem a desaparecer com a interrupção da droga ou após algum tempo de uso.
          <br><br>
          Quanto mais precoce o diagnóstico e o início do tratamento, melhores os resultados, pois qualquer tratamento
          não
          cirúrgico para queda dos cabelos, vai agir nos folículos "vivos". Aquele folículo que já "morreu" não se
          recupera mais. Nenhum agente medicamentoso faz crescer cabelos em uma área totalmente sem cabelos. Só o
          transplante de cabelos consegue preencher este espaço vazio, retirando folículos da área doadora e
          recolocando-os na área calva.
          <br><br>
          Hoje usamos amuide o minoxidil por via oral nas doses de 1mg a 2,5mg/dia. Além de facilitar para o paciente o
          uso, já é comprovado que a sua efetividade é maior do que o uso tópico.
          <br><br>
          É muito importante que o paciente saiba que o tratamento deve ser contínuo. Uma vez interrompida medicação, a
          calvície volta ao estado anterior ao tratamento em aproximadamente 4 a 6 meses.
        </p>
      </div>
    </div>
  </div>

  <div class="whiteContainer">
    <div class="greenFlex">
      <div class="greenTextTwo">
        <div class="greenTitle">
          <h4>FINASTERIDA</h4><span></span>
        </div>
        <p>
          A finasterida é um modificador hormonal que atua como bloqueador androgênico. É o primeiro inibidor seletivo
          da
          enzima 5-alfa-redutase tipo II, que faz a conversão periférica da T (testosterona) em DHT
          (dihidrotestosterona).
          Esta é responsável pelo processo de miniaturização.
          <br><br>
          Seu emprego no sexo masculino teve início em 1986, quando foi desenvolvido para tratar indivíduos com
          hiperplasia prostática benigna (HPB) na concentração de 5mg. O uso no tratamento da AAG foi aprovado pelo FDA
          em
          1997.
          <br><br>
          Um estudo inicial testou o uso do finasterida em pacientes portadores de AAG que apresentam grande atividade
          da
          enzima 5-alfa-redutase e níveis elevados de DHT. Após tratamento por via oral, mais de 65% dos pacientes
          mostraram significativa redução da DHT no couro cabeludo.
          <br><br>
          Em 1998, três trabalhos multicêntricos, todos controlados com placebo, estudaram 1879 homens com AAG de leve a
          moderada que receberam 1mg de finasterida por via oral ou placebo. 48% dos homens tratados com finasterida
          apresentaram crescimento dos cabelos após um ano de tratamento, em oposição aos 7% do grupo do placebo.
        </p>

        <div class="minoFlex">
          <img src="/img/finasterida.jpg" alt="">
          <p>A incidência de efeitos colaterais foi semelhante no grupo de estudo que tomou placebo e finasterida. 3,8%
            dos pacientes tratados com finasterida apresentaram distúrbios sexuais, como diminuição da libido,
            distúrbios
            de ejaculação e disfunção erétil, contra 2,1% dos que receberam placebo.
            <br><br>
            É importante salientar que o finasterida não gera impotência. E uma vez interrompida a medicação, os
            possíveis
            efeitos colaterais desaparecem.
            <br><br>
            O finasterida é usado para preservar os fios que ainda não caíram. Ele não faz surgir novos fios em área já
            calva. Seu efeito só se mantém durante o uso da medicação. Uma vez interrompido, o processo da calvície
            recomeça. Ele não acelera a queda de fios quando interrompido.
          </p>
        </div>

        <p>
          Indica-se o uso a partir dos 18 anos de idade, sempre com orientação médica. Uma vez iniciado tratamento,
          recomenda-se que o paciente faça acompanhamento médico a cada 6 meses nos 2 primeiros anos, e depois 1 vez ao
          ano, enquanto estiver usando a medicação.
          <br><br>
          O efeito máximo da medicação ocorre com 2 anos de tratamento. Caso o paciente ainda queira mais volume de
          cabelos, indica-se a associação com a cirurgia de transplante capilar.
          <br><br>
          A associação do Finasterida com a loção de minoxidil traz resultados mais eficazes do que o finasterida
          isolado.
          A associação com shampoo de cetoconazol (Medical Hair Controle de Oleosidade como um exemplo ) 2 a 3 vezes na
          semana também é eficaz.
        </p>
      </div>
    </div>
  </div>

  <div class="greenTratamento">
    <div class="greenFlex">
      <div class="greenTextTwo">
        <div class="greenTitle">
          <h4>SAW PALMETTO</h4><span></span>
        </div>
        <p>
          O extrato do Saw Palmetto é retirado da palmeira conhecida como Serenoa repens, nativa das Índias Ocidentais
          que
          desenvolveu-se nos climas quentes da costa sudeste dos Estados Unidos, da Carolina do Sul até a Flórida.
          <br><br>
          Os benefícios de Saw Palmetto são conhecidos há séculos e a planta tem sido utilizada em medicina tradicional,
          eclética e alternativa. Seus ingredientes ativos incluem ácidos graxos, esteróis vegetais e flavonóides.
        </p>

        <div class="sawFlex">
          <img src="/img/serenoa.jpg" alt="">
          <p>O extrato do Saw Palmetto é retirado da palmeira conhecida como Serenoa repens, nativa das Índias
            Ocidentais
            que desenvolveu-se nos climas quentes da costa sudeste dos Estados Unidos, da Carolina do Sul até a Flórida.
            <br><br>
            Os benefícios de Saw Palmetto são conhecidos há séculos e a planta tem sido utilizada em medicina
            tradicional,
            eclética e alternativa. Seus ingredientes ativos incluem ácidos graxos, esteróis vegetais e flavonóides.
            <br><br>
            Sua extração produz suplementos que funcionam como remédios contra a queda de cabelo porque mantêm os níveis
            de testosterona equilibrados. À medida que os homens envelhecem, o hormônio da testosterona diminui e o
            hormônio chamado 5α-Dihydrotestosterone (DHT) aumenta. A causa da perda de cabelo é devido à sensibilidade
            dos
            folículos pilosos à DHT, que é um hormônio androgênico masculino que faz com que os folículos se encolhem,
            resultando em uma vida útil mais curta e diminuição da produção capilar.
          </p>
        </div>

        <p>
          Normalmente, após os cabelos caírem, outro cabelo começa a crescer a partir deste mesmo folículo - mas se DHT
          é
          alta, o crescimento do cabelo diminui. Saw palmetto tem o poder de parar a conversão de testosterona em DHT,
          tornando-o benéfico para o crescimento do cabelo.
        </p>
      </div>
    </div>
  </div>

  <div class="endPage">
    <span></span>
  </div>
</div>