<div id="medicalhair">
  <div class="medicalHair">
    <h2>MEDICAL HAIR</h2>

    <P>
      A Clínica Muricy é especializada em cabelos e para tratá-los com saúde e qualidade, recomenda a linha de
      tratamento
      capilar Medical Hair.
      Todos os produtos da linha Medical Hair foram testados e aprovados pela Clínica Muricy! Para maiores informações
      entre no site.
    </P>
  </div>

  <div class="fotoLocaoCapilar">
    <div class="flexFotoLocao">
      <h4>FOTO LOÇÃO CAPILAR</h4>
      <span></span>
    </div>
    <div class="flexFLC">
      <div class="textFotoLocao">
        <p>Loção capilar que auxilia no combate à queda dos cabelos</p>
        <p class="textStrongFLC">ATIVOS</p>
        <p>Procapyl, Methiosilne C, Hidroxiprolisilane e Tintura de Capsicum
        </p>
        <p class="textStrongFLC">AÇÃO</p>
        <p>Inibe a 5 Alfa Reductase ( enzima que transforma a Testosterona em DHT,<br> causadora da calvície)<br>
          - Estimula a microcirculação periférica<br>
          - Estimula o metabolismo celular<br>
          - Nutrição do bulbo (raiz)<br>
          - Reforça a estrutura interna dos cabelos
        </p>
      </div>
      <img src="/img/oleoFLC.jpg" alt="">
    </div>
    <div class="modoDeUso">
      <p class="textStrongFLC">MODO DE USO</p>
      <p>Aplicar a loção no couro cabeludo, repartindo os fios de cabelos, uma vez ao dia, com os cabelos secos. O ideal
        é
        usar continuamente nos casos de Calvície Masculina ou Feminina, e por 3 meses nos casos de Eflúvio Telógeno.</p>
    </div>
  </div>

  <div class="greenContainer">
    <div class="shampooFlex">
      <img src="/img/shampoofort.png" alt="">
      <div class="shampooText">
        <div class="shampooTitle">
          <h4>SHAMPOO FORTIFICANTE MEDICAL HAIR</h4><span></span>
        </div>
        <p>Composto com Oligoelementos (Zinco, Cálcio, Magnésio e Silício), e também vitaminas B3, B5, B6 e H (Biotina).
          O
          Shampoo Fortificante auxilia nos tratamentos para queda do cabelo por possuir substâncias que inibem a enzima
          5
          alfa-reductase, a qual converte a testosterona em DHT, causadora da calvície. Ainda, estimula a síntese
          celular
          e a produção de queratina, ajudando a fortalecer ainda mais os cabelos.
          <br>
          Como resultado, você tem cabelos mais fortes, resistentes e volumosos.
        </p>
        <p class="shampooStrong">MODO DE USO</p>
        <p>Aplicar nos cabelos molhados, retirar completamente com água. Repetir a aplicação se necessário.</p>
      </div>
    </div>
  </div>

  <div class="whiteContainer">
    <div class="whiteFlex">
      <img src="/img/condicionador.png" alt="">
      <div class="whiteText">
        <div class="whiteTitle">
          <h4>CONDICIONADOR MEDICAL HAIR</h4><span></span>
        </div>
        <p>O Condicionador Medical Hair é composto de silicone, vitamina E, proteínas e óleo de semente de linho. Visa
          auxiliar o tratamento com os Shampoos da linha Medical Hair. Hidrata os cabelos (Vitamina E) e fecha as
          cutículas, o que restaura a superfície dos fios, realça o brilho, a luminosidade e reduz a eletricidade
          estática
          dos cabelos.
        </p>
        <p class="whiteStrong">MODO DE USO</p>
        <p>Aplicar nos cabelos após o shampoo e enxaguar totalmente.</p>
      </div>
    </div>
  </div>

  <div class="greenContainer">
    <div class="shampooFlex">
      <img src="/img/shampooco.png" alt="">
      <div class="shampooText">
        <div class="shampooTitle">
          <h4>SHAMPOO PARA CONTROLE DE OLEOSIDADE MEDICAL HAIR</h4><span></span>
        </div>
        <p>Composto de Cetoconazol, Piroctone Olamina (Octopirox), Biosulphur e Queratina Hidrolisada, o shampoo
          Controle
          de Oleosidade Medical Hair visa acabar com a oleosidade excessiva do cabelo e a Dermatite Seborreica,
          conhecida
          como caspa. Pela presença do Cetoconazol, também apresenta a propriedade de estimular o crescimento capilar e
          auxiliar no tratamento da calvície, potencializando a ação da finasterida. O Octopirox, o Biosulphur associado
          a
          queratina tratam o couro cabeludo sem ressecar os fios, lentificando a produção de sebo e reduzindo a
          população
          fúngica.
          <br><br>
          Em casos de oleosidade excessiva dever ser utilizado 1 vez ao dia. Em casos de caspa deve ser aplicado 1 vez
          ao
          dia até o desaparecimento da mesma. Após este período, o produto deve ser utilizado 2 vezes por semana a fim
          de
          evitar o reaparecimento da caspa.
        </p>
        <p class="shampooStrong">MODO DE USO</p>
        <p>
          Aplicar nos cabelos molhados, deixar agir por alguns minutos, enxaguar totalmente. Repetir a aplicação se
          necessário.
          Lavar 1 vez ao dia até o desaparecimento da caspa. Manter de 2 a 3 vezes por semana.</p>
      </div>
    </div>
  </div>

  <div class="whiteContainer">
    <div class="whiteFlex">
      <img src="/img/shampoopo.png" alt="">
      <div class="whiteText">
        <div class="whiteTitle">
          <h4>SHAMPOO PÓS-OPERATÓRIO MEDICAL HAIR</h4><span></span>
        </div>
        <p>Indicado como coadjuvante na recuperação dos pós-operatórios de cirurgias do couro cabeludo. Não tem
          contra-indicações. Sem reações adversas.
        </p>
        <p class="whiteStrong">MODO DE USO</p>
        <p>Lavar os cabelos 2 vezes ao dia por 15 dias. Deixar a espuma agir por 5 minutos, e enxaguar.</p>
      </div>
    </div>
  </div>

  <div class="endPage">
    <span></span>
  </div>
</div>