<div class="mega-sessoes" id="mega-sessoes">
  <h2>MEGASSESSÕES</h2>
  <div class="title-container">
    <h4>definição</h4>
    <span class="horizontal-line"></span>
  </div>
  <p>
    Quando presente, há um aumento da queda diária dos fios do cabelo, sendo percebido principalmente na hora do banho
    ou quando se está penteando o cabelo, pelo exagero de fios que caem.
  </p>
  <p>
    Essa causa normalmente está associada a algum evento que ocorreu aproximadamente três meses antes da queda começar,
    que é o tempo médio da queda e renovação dos fios. Várias podem ser as causas: gripe, pós-parto, doenças
    infecciosas, cirurgias, estresse entre outros.
  </p>
  <p>
    O objetivo é transplantar o maior número de fios possíveis por sessão cirúrgica.
  </p>

  <span class="vertical-line"></span>

</div>