<div class="mega-sessoes" id="mega-sessoes">
  <h2>MEGASSESSÕES</h2>
  <div class="title-container">
    <h4>definição</h4>
    <span class="horizontal-line"></span>
  </div>
  <p>
    O termo megassessão, surgiu na década de 90 para denominar aqueles procedimentos que ultrapassassem 1000 unidades
    foliculares (UFs).<br>
    Este número aumentou consideravelmente desde que a técnica começou a ser empregada, há mais de 20 anos. Atualmente é
    considerada megassessão a cirurgia que atinge 3 mil unidades foliculares, correspondendo de 6 a 8 mil fios
    transplantados em uma única sessão. Acima de 4 mil UFs transplantadas chamamos de gigassessão podendo atingir de 8 a
    12 mil fios de cabelos, dependendo da qualidade dos cabelos e da densidade da área doadora.
  </p>

  <div class="megaImg">
    <img src="/img/megapos.jpg" alt="">
    <img src="/img/megapos2.jpg" alt="">
  </div>

  <p class="legendaImg">
    Couro cabeludo 3.816, Barba 600, Tórax 1.000
  </p>

  <p class="legendaImg2">
    Total 5.416 UFs
  </p>

  <p>
    Este número aumentou consideravelmente desde que a técnica começou a ser empregada, há mais de 20 anos. Atualmente é
    considerada megassessão a cirurgia que atinge 3 mil unidades foliculares, correspondendo de 6 a 8 mil fios
    transplantados em uma única sessão. Acima de 4 mil UFs transplantadas chamamos de gigassessão podendo atingir de 8 a
    12 mil fios de cabelos, dependendo da qualidade dos cabelos e da densidade da área doadora.
    <br>
    O objetivo é transplantar o maior número de fios possíveis por sessão cirúrgica.
  </p>

  <div class="megaImg">
    <img src="/img/megapos3.jpg" alt="">
    <img src="/img/megapos4.jpg" alt="">
  </div>

  <p class="legendaImg">
    Couro cabeludo 4.110, Barba 713, Tórax 750
  </p>

  <p class="legendaImg2">
    Total 5.573 UFs
  </p>
  <span class="vertical-line"></span>

</div>