<div id="micropigmentacao">
  <div class="medicalHair">
    <h2>MICROPIGMENTAÇÃO</h2>
  </div>

  <section class="pre-operatorio">
    <div class="title-container">
      <h5>DEFINIÇÃO</h5>
      <span class="full-horizontal-line"></span>
    </div>
  </section>

  <div class="textboxTC">
    <p>
      A micropigmentação é a técnica que consiste em redesenhar e colorir os pelos do couro cabeludo com o auxílio de um
      aparelho elétrico chamado dermógrafo ou agulhas próprias. É o implante de pigmentos na pele de determinadas
      regiões como a delineação dos lábios, a repigmentação dos mamilos após uma cirurgia, sombreamento de falhas ou
      poucos pelos na sobrancelha e no couro cabeludo.
      <br><br>
      Todos os tipos de pele podem receber o procedimento, exceto pessoas com doenças específicas na derme, como
      vitiligo. A micropigmentação é uma técnica que onde o pigmento penetra na pele como se fosse uma tatuagem na derme
      média e derme profunda.
    </p>
  </div>

  <div class="greenTratamento">
    <div class="greenFlex">
      <div class="greenTextTwo">
        <div class="minoFlex">
          <span></span>
          <p>
            Em nossa experiência é o procedimento ideal para os casos de cicatrizes provenientes de microtransplantes
            anteriores pela técnica FUT.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="endPage">
    <span></span>
  </div>
</div>