<div id="mmp">
  <div class="medicalHair">
    <h2>MMP</h2>
  </div>

  <div class="whiteTratamento">
    <div class="greenFlex">
      <img src="/img/mmp.jpg" alt="">
      <div class="whiteFlexTwo">
        <div class="whiteTextTwo">
          <div class="whiteTitle">
            <h4>DEFINIÇÃO<span></span></h4>
          </div>
          <p>
            MMP significa microinfusão de medicamentos na pele. É uma via de administração de medicamentos que leva o
            princípio ativo diretamente no foco da ação desejada.
            <br><br>
            Esta técnica consiste na aplicação uniforme dos medicamentos indicados para a queda de cabelos na
            região
            a ser tratada, os folículos pilosos do couro cabeludo ou de outras regiões como, por exemplo, nas
            sobrancelhas.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="purpleContainer">
    <div class="purpleContent">
      <h4>O objetivo do tratamento é fortificar e engrossar os pelos da região gerando mais volume.</h4>
    </div>
    <div class="purpleContent">
      <p>Para a aplicação da medicação é usado um aparelho especial com uma ponteira que possui múltiplas microagulhas.
        A
        penetração das agulhas na pele é somente cerca de 1.0 a 1.5mm de profundidade atingindo a derme. Isso faz com
        que
        a absorção dos componentes da fórmula seja lenta.
        <br><br>
        O tratamento deve ser feito de 3 em 3 meses. Depois o paciente entra em manutenção a cada 4 ou 6 meses. A
        resposta
        já é observada 30 a 60 dias após a primeira sessão.
        A técnica é feita com anestesia local em creme.
        Esta técnica potencializa os resultados da cirurgia de transplante capilar e dos tratamentos feitos em casa.</p>
    </div>
  </div>

  <div class="endPage">
    <span></span>
  </div>
</div>