<nav data-scroll-section>
  <img class="logo logo2" src="../img/logo.png" alt="Logo hospital Muricy" />
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li>
      <a target="_blank" href="https://api.whatsapp.com/send?phone=5541999330086">COTAÇÃO</a>
    </li>
    <li>
      <a href="#contato">CONTATO</a>
    </li>
    <li>
      <a href="#servicos">SERVIÇOS</a>
    </li>
    <li>
      <a href="#estrutura">ESTRUTURA</a>
    </li>
   

    <label class="menu-icon-inside only-mobile" for="menu-btn">
      <span class="navicon"></span
    ></label>
  </ul>
</nav>
