<div id="outras-tecnicas">
  <h2>OUTRAS TÉCNICAS</h2>
  <div class="title-container">
    <h4>FUE e FUT</h4>
    <span class="horizontal-line"></span>
  </div>
  <h5>Híbrida ou combinada</h5>
  <p>
    Atualmente existem 2 métodos para a realização do transplante capilar de unidades foliculares, a técnica
    convencional da extração da faixa chamada de FUT = Transplante de Unidades Foliculares e a Técnica de FUE = Extração
    de Unidades Foliculares uma a uma. A grande diferença entre as duas é a forma como as unidades são retiradas da
    região doadora na parte posterior do couro cabeludo.
  </p>
  <p>
    Na técnica FUT o cirurgião remove uma tira de couro cabeludo que mede aproximadamente 25cm de comprimento por 1,5 a
    2cm de largura. A região doadora então recebe uma sutura para aproximar as bordas da ferida cirúrgica que resultará
    em uma cicatriz linear, camuflada pelos cabelos da região. A técnica de FUT possibilita a realização de uma
    megassessão em um só dia com a retirada média de 3000 unidades foliculares (ufs) ou mais, com duração aproximada de
    6 horas de cirurgia. Uma vez feito o transplante, o paciente deverá usará os fios de cabelos mais longos - no mínimo
    máquina 4 -, para camuflar a cicatriz posterior.
  </p>

  <div class="megaImg">
    <img src="/img/fuefut1.jpg" alt="">
    <img src="/img/fuefut2.jpg" alt="">
  </div>

  <div class="legendaFlexCaption">
    <p>Pós-operatório da área doadora</p>
    <p>Pós-operatório com 8 meses</p>
  </div>

  <div class="legendaFlex">

    <p class="legendaImg">
      Cabelo 2.900, Barba 485
    </p>

    <p class="legendaImg2">
      Total 3.385 UFs
    </p>
  </div>

  <div class="megaImg">
    <img src="/img/fuefut3.jpg" alt="">
    <img src="/img/fuefut4.jpg" alt="">
  </div>

  <div class="legendaFlexCaption2">
    <p>Pós-operatório com 2 meses</p>
    <p>Pós-operatório com 12 meses</p>
  </div>

  <div class="legendaFlex">
    <p class="legendaImg">
      Cabelo 2.831, Barba 900, Tórax 400, Abdomen 383
    </p>

    <p class="legendaImg2">
      Total 4.514 UFs
    </p>
  </div>
  
  <span class="vertical-line"></span>
</div>