<div id="outras-tecnicas">
  <h2>FUT</h2>

  <p>
    É a técnica convencional da extração das unidades foliculares através da retirada de uma faixa do couro cabeludo.
  </p>
  <p>
    Nesta técnica o cirurgião remove uma tira de couro cabeludo de aproximadamente 25cm de comprimento por 1,5 a
    2cm de largura. A região doadora então recebe uma sutura para aproximar as bordas da ferida cirúrgica que resultará
    em uma cicatriz linear, camuflada pelos cabelos da região. A técnica de FUT possibilita a realização de uma
    megassessão em um só dia com a retirada média de 3000 unidades foliculares (UFs) ou mais, com duração aproximada de
    6 horas de cirurgia. Uma vez feito o transplante, o paciente deverá usará os fios de cabelos mais longos - no mínimo
    máquina 4, para camuflar a cicatriz posterior.
  </p>

  <div class="megaImg">
    <p class="megaLeg">FUT COM BODY HAIR</p>
    <img src="/img/fuefut1.jpg" alt="">
    <img src="/img/fuefut2.jpg" alt="">
  </div>

  <div class="legendaFlexCaption">
    <p>Pós-operatório da área doadora</p>
    <p>Pós-operatório com 8 meses</p>
  </div>

  <div class="legendaFlex">

    <p class="legendaImg">
      Cabelo 2.900, Barba 485
    </p>

    <p class="legendaImg2">
      Total 3.385 UFs
    </p>
  </div>

  <div class="megaImg">
    <p class="megaLeg">FUT COM BODY HAIR</p>
    <img src="/img/fuefut4.jpg" alt="">
  </div>

  <div class="legendaFlexCaption2">
    <p>Pós-operatório com 12 meses</p>
  </div>

  <span class="vertical-line"></span>
</div>