<section class="pos-operatorio">
  <div class="title-container">
    <h2>pÓS-operatório</h2>
    <span class="full-horizontal-line"></span>
  </div>

  <div class="conteudo">
    <div>
      <p>
        Ao término da cirurgia não há necessidade de se colocar curativo oclusivo. Ao paciente é receitado analgésico
        para aliviar eventuais dores ou desconfortos nas duas noites seguintes à cirurgia. Deve permanecer em repouso
        por mais 72 horas, a fim de evitar edema.<br />
        Em casa o paciente deve usar compressas frias na região das sobrancelhas por mais 48 horas e dormir com a cabeça
        elevada (45 graus) por 3 dias subsequentes ao procedimento cirúrgico, para também impedir a formação de edema.
        Se este ocorrer, as compressas frias devem ser mantidas, assim como a elevação da cabeça, até que desapareça.
        <br /><br />
        Pequenas crostas se formam no local do transplante. Estas crostas caem com cerca de 10 a 12 dias após a
        cirurgia. Se houver prurido, um anti-histamínico é receitado. Os novos fios transplantados caem dentro de 3 a 4
        semanas, porém as raízes permanecerão e darão origem aos novos fios, que começarão a aparecer a partir de 3
        meses da cirurgia.
        <br /><br />
        O paciente receberá todas as orientações de uma enfermeira, no pós-operatório imediato. Caso ainda permaneça com
        dúvidas deverá entrar em contato conosco.
      </p>

    </div>

    <p class="text-bottom">A equipe da Clínica Muricy orientará quanto a medicação a ser utilizada no pré e no
      pós-operatório. Os medicamentos receitados devem ser tomados corretamente, como complemento do procedimento
      cirúrgico.</p>
  </div>

  <section class="gray-box">
    <div class="left-side">
      <div>
        <p><b>INTERCORRÊNCIAS</b></p>
        <span class="horizontal-line"></span>
      </div>

      <img src="/img/pos-op-photo.jpg" alt="">
    </div>

    <div class="right-side">
      <p><b>São raras.</b> Pequenas foliculites podem ocorrer na área transplantada, similares a um pelo encravado ou
        uma
        espinha. Isto ocorre porque junto de todo pelo existe uma glândula sebácea, e esta retoma suas funções de
        produção de sebo antes do crescimento dos novos cabelos. Sem o pelo para direcionar a eliminação deste sebo,
        pode haver a formação de um pequeno cisto. Este não é sinal de infecção. Geralmente estas foliculites devem ser
        drenadas, e respondem facilmente à antissépticos tópicos. Porém, se notar a presença de hiperemia (vermelhidão),
        inchaço, hipersensiblidade ou pus, entre em contato com a Clínica Muricy. Estes são sinais de que pode estar
        ocorrendo o início de um quadro infeccioso e o paciente precisará ser medicado. Se ocorrer sangramento, aplicar
        pressão constante sobre a área por 10 a 15 minutos, sem retirar a gaze. Se o mesmo continuar, entre em contato
        com a clínica. Nas calvícies de graus iniciais, onde os pacientes tem ainda muito cabelo, pode ocorrer um
        pequeno eflúvio telógeno, ou seja, uma pequena queda capilar pelo trauma cirúrgico na região. Estes cabelos
        voltam a crescer junto com os fios transplantados.</p>
    </div>
  </section>

  <section class="pos-operatorio">
    <div class="conteudo">
      <p>Estes cuidados minimizam o sangramento durante a cirurgia e melhoram a cicatrização.</p><br /><br />

      <p>Para sua maior comodidade, a Clínica Muricy recomenda que os cabelos sejam lavados à noite e pela manhã antes
        da
        cirurgia, que o período de sono seja de pelo menos oito horas e que as roupas sejam confortáveis e não precisem
        ser tiradas pela cabeça.</p>
    </div>

    <span class="vertical-line"></span>
  </section>

  <section class="outras-recomendacoes">
    <div>
      <p><b>OUTRAS RECOMENDAÇÕES</b></p>
      <span class="horizontal-line"></span>
    </div>
    <p>A rotina poderá ser retomada apenas 72 horas após a cirurgia. Para facilitar a cicatrização, deixar a área
      transplantada exposta o quanto for possível, mas não diretamente ao sol. Nos primeiros quinze dias que se seguem a
      cirurgia, deve-se evitar trabalhos pesados, atividades esportivas e levantamento de peso. Banhos de mar e piscina
      também devem ser evitados por trinta dias. As orientações do cirurgião para revisões devem ser seguidas e em
      caso de dúvidas ou anormalidade, a equipe da Clínica Muricy está a disposição. Basta manter contato.
      <br><br>
      Lembre-se que os cabelos transplantados começarão a crescer em aproximadamente três meses e serão permanentes.</p>
  </section>

  <span class="vertical-line"></span>
</section>