@import "global";
@import "header";
@import "footer";
@import "contato";
@import "colors";

.LPFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;

    .landingPageTitle {
        color: $roxo_800;
        font-weight: 800;
        line-height: 61px;
        font-size: 5rem;
    }

    span {
        width: 604px;
        height: 23px;
        background-color: $roxo_400;
        opacity: 0.2;
        margin-top: -3.6rem;
    }
}

.LPCidadesFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    gap: 8rem;
    margin-bottom: 10rem;

    .cwb {
        position: relative;

        h2 {
            font-weight: 500;
            line-height: 51px;
            letter-spacing: 0.2em;
            color: $white;
            position: absolute;
            top: 68px;
            right: 118px;
        }

        a {
            opacity: 1;
            transition: 0.2s;

            &:hover {
                opacity: 0.85;
            }
        }
    }

    .sao {
        position: relative;

        h2 {
            font-weight: 500;
            line-height: 51px;
            letter-spacing: 0.2em;
            color: $white;
            position: absolute;
            top: 68px;
            right: 77px;
        }

        a {
            opacity: 1;
            transition: 0.2s;

            &:hover {
                opacity: 0.85;
            }
        }
    }
}

@media (orientation: portrait) and (max-width: 500px) {
    .LPFlex {
        margin-top: 4rem;

        .landingPageTitle {
            font-size: 4rem;
            text-align: center;
        }

        span {
            width: 330px;
        }
    }

    .LPCidadesFlex {
        flex-direction: column;
        margin-top: 5rem;
        gap: 4rem;

        .cwb {
            img {
                width: 90vw;
            }

            h2 {
                font-size: 4rem;
                top: 45px;
                right: 54px;
            }
        }

        .sao {
            img {
                width: 90vw;
            }

            h2 {
                font-size: 4rem;
                top: 45px;
                right: 26px;
            }
        }
    }
}
