@import "./parts/global";
@import "./parts/colors";
@import "./parts/buttons";
@import "./parts/nav";
@import "./parts/footer";

.initial-banner {
  display: flex;
  position: relative;
  width: 100vw;
  height: 64vh;
  overflow: hidden;
  min-height: 580px;

  .content {
    z-index: 4;
    display: flex;
    flex-direction: column;
    padding-left: 7%;
    margin-top: 8.5rem;

    h1 {
      color: $white;
      font-size: 4rem;
      font-weight: 700;
      line-height: 4rem;
      max-width: 52rem;
      margin-bottom: 2rem;
    }

    p {
      color: $white;
      font-size: 2rem;
      line-height: 2.4rem;
      max-width: 50rem;
    }
  }

  .banner-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    object-fit: cover;
    height: 100%;
  }

  .bege-button {
    margin-top: 4.5rem;
  }

  @media screen and (max-width: 700px) {
    flex-direction: column;
    height: auto;
    justify-content: center;
    .content {
      padding: 0;
      margin-top: -10rem;
      text-align: center;
      place-items: center;
      h1 {
        text-align: center;
        font-size: 2.2rem;
        line-height: 2.2rem;
        font-weight: 650;
        max-width: 70%;
      }
    }
  }
}

.servicos {
  display: flex;
  place-items: center;
  flex-direction: column;
  padding-top: 7rem;
  .content {
    display: flex;
    gap: 14rem;
    align-items: flex-start;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 6rem;

    h2 {
      color: $roxo-800;
      font-size: 2.8rem;
      font-weight: 900;
      line-height: normal;
      letter-spacing: -0.27px;
      text-transform: uppercase;
      margin-bottom: 4rem;
    }
    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 33rem;

      p {
        color: $cinza;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        margin-top: 3rem;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 33rem;
      p {
        color: $cinza;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        margin-top: 3rem;
      }
    }
  }

  @media screen and (max-width: 700px) {
    .only-mobile {
      flex-direction: column;
      align-items: center;
      p {
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        line-height: 1.6rem;
        width: 70%;
        margin-bottom: 3rem;
        color: $roxo-800;
      }
    }
    h2 {
      font-size: 2rem;
      margin-top: 5rem;
    }
    .content {
      flex-direction: column;
      text-align: center;
      gap: 4rem;
      img {
        width: 5.8rem;
      }
      .left {
        p {
          font-size: 1.2rem;
          width: 70%;
          margin-top: 2rem;
        }
      }
      .right {
        p {
          font-size: 1.2rem;
          width: 70%;
          margin-top: 2rem;
        }
      }
    }
  }
}

.estrutura {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4rem 5rem 4rem 0;
  background: $musgo;
  color: $white;
  gap: 8rem;

  .right {
    max-width: 46.2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    h2 {
      color: $white;
      font-size: 2.8rem;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    p {
      color: $white;
      font-size: 1.8rem;
      font-weight: 400;
    }
  }

  @media screen and (max-width: 700px) {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem 0;
    gap: 2rem;

    .left {
      max-width: 90vw;
      img {
        width: 100%;
        aspect-ratio: 3.9/3;
        object-fit: cover;
      }
    }

    .right {
      max-width: 80vw;
      margin: auto;
      gap: 2rem;
      h2 {
        font-size: 2rem;
      }

      p {
        color: $white;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }
}

.complexo {
  display: flex;
  background-color: $roxo-800;
  padding-top: 7rem;
  padding-bottom: 7rem;
  gap: 7rem;
  z-index: 0;
  .left {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    color: $white;
    padding-left: 7.5rem;
    flex: 1;

    .intro {
      padding-left: 7.5rem;
      h2 {
        font-size: 2.8rem;
        font-weight: 700;
        margin-bottom: 4.5rem;
      }
      p {
        color: $white;
        font-size: 1.8rem;
        font-weight: 300;
        margin-bottom: 3rem;
      }
    }
    .suites {
      border-left: 1px solid $white;
      padding-left: 7.5rem;
      h2 {
        font-size: 2.8rem;
        font-weight: 700;
        margin-bottom: 4.5rem;
        text-transform: uppercase;
      }
      p {
        color: $white;
        font-size: 1.8rem;
        font-weight: 300;
        margin-top: 3rem;
      }
    }
  }
  .right {
    flex: 1;
    .itens {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      margin-top: 7rem;
      .item {
        display: flex;
        gap: 4.4rem;
        align-items: center;
        max-width: 60%;
        margin-left: 10rem;
        p {
          color: $white;
          font-weight: 300;
          font-size: 1.8rem;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 7rem;
    gap: 1rem;
    z-index: 0;
    .left {
      gap: 1rem;
      padding-left: 0rem;

      .intro {
        width: 80vw;
        margin: auto;
        padding-left: 0rem;
        h2 {
          font-size: 2rem;
          margin-bottom: 4rem;
          text-align: center;
        }
        p {
          font-size: 1.2rem;
          margin-bottom: 3rem;
          text-align: center;
        }
      }
      > img {
        width: 100vw;
      }
      .suites {
        padding-left: 2rem;
        width: 80vw;
        margin: 3rem auto 0;
        h2 {
          font-size: 2rem;
          margin-bottom: 1rem;
        }
        p {
          font-size: 1.2rem;
          margin-top: 3rem;
        }
      }
    }
    .right {
      flex: 1;
      .itens {
        gap: 2rem;
        margin-top: 4rem;
        .item {
          gap: 3rem;
          max-width: 80%;
          margin-left: 4rem;
          p {
            color: $white;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.conforto {
  padding-top: 0rem;
  margin-top: 0rem;
  z-index: 0;
  background-color: $ice;
  .diferenciais {
    background: $musgo;
    padding: 7rem 9rem 6rem 15rem;
    margin: -23rem 0 6rem;
    width: 50%;
    h2 {
      font-size: 2.8rem;
      font-weight: 900;
      text-transform: uppercase;
      color: $white;
    }
    p {
      margin-top: 4.5rem;
      color: $white;
      max-width: 90%;
      z-index: 99;
    }
  }
  .seletor {
    display: flex;
    align-items: center;
    justify-content: space-around;
    button {
      border: none;
      background: transparent;
      text-transform: uppercase;
      font-size: 1.8rem;
      color: $musgo;
      font-weight: 700;
    }
    .selected {
      color: $roxo-600;
      padding-bottom: 0.3rem;
      border-bottom: 4px solid;
    }
  }
  .wrapTexto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7rem;
    #content {
      flex: 1;
      p {
        font-size: 2.4rem;
        font-weight: 400;
        width: 50%;
        margin: auto;
      }
    }
    img {
      flex: 1;
    }
  }

  @media screen and (max-width: 700px) {
    .diferenciais {
      padding: 4rem 2rem 4rem 4rem;
      margin: -6rem 0 6rem;
      width: 90%;
      h2 {
        font-size: 2rem;
      }
      p {
        margin-top: 3rem;
        font-size: 1.2rem;
        width: 100%;
        z-index: 99;
      }
    }
    .seletor {
      button {
        font-size: 1.2rem;
      }
      .selected {
        border-bottom: 2px solid;
      }
    }
    .wrapTexto {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 4rem;
      gap: 4rem;
      #content {
        order: 2;
        p {
          font-size: 1.6rem;
          width: 80%;
          margin: auto;
          text-align: center;
        }
      }
      img {
        order: 1;
        width: 100vw;
        object-fit: cover;
      }
    }
  }
}

.separator {
  width: 80vw;
  border-bottom: 1px solid $musgo;
  padding-bottom: 7rem;
  margin: auto;
}
.nossos-convenios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  padding: 7.4rem 0;
  width: 80vw;
  margin: auto;
  h2 {
    color: $roxo-800;
    font-size: 2.8rem;
    font-weight: 900;
    text-transform: uppercase;
  }
  p {
    color: $cinza;
    font-size: 2rem;
    text-align: center;
    max-width: 50rem;
  }

  .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .bege-button {
    width: 234px;
    height: 46px;
  }

  @media screen and (max-width: 600px) {
    gap: 3rem;
    padding: 4rem 0;
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
      max-width: 80vw;
    }

    .icons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      max-width: 80vw;
      img{
        width: 100%;
      }
    }

    .bege-button {
      width: 9rem;
      height: auto;
    }
  }
}
.timeline {
  display: flex;
  place-items: center;
  flex-direction: column;
  padding-top: 8rem;
  background-color: #4f4d7c;

  .content {
    display: flex;
    flex-direction: column;

    h2 {
      color: #fff;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.48px;
      text-align: center;
    }

    .line {
      margin-left: 10%;
      margin-top: 7rem;
      margin-bottom: 4rem;
    }

    .slider-container {
      display: flex;
      position: relative;

      .swiper {
        width: 90vw;
        margin-left: 10%;
      }

      .nav-depo {
        position: absolute;
        bottom: -47px;
        display: flex;
        z-index: 1;
        width: 100%;
        justify-content: space-between;

        .video-button-prev {
          border-radius: 0.4rem;
          width: 2.6rem;
          height: 2.6rem;
          display: flex;
          place-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all 0.2s;
          margin-left: 6rem;

          img {
            margin-right: 3px;
          }

          &:hover {
            filter: brightness(1.2);
          }
        }

        .video-button-next {
          border-radius: 0.4rem;
          width: 2.6rem;
          height: 2.6rem;
          display: flex;
          place-items: center;
          justify-content: center;
          cursor: pointer;
          margin-right: 6rem;

          &:hover {
            filter: brightness(1.2);
          }
        }

        @media screen and (max-width: 600px) {
          display: none;
        }
      }
    }

    .points {
      display: flex;
      justify-content: space-between;

      .point {
        display: flex;
        flex-direction: column;
        max-width: 155px;

        h4 {
          color: #fff;
          font-size: 18px;
          font-weight: 650;
          line-height: normal;
          letter-spacing: -0.27px;
        }

        p {
          color: #fff;
          font-size: 18px;
          line-height: normal;
          letter-spacing: -0.27px;
        }

        &::before {
          content: "";
          width: 32px;
          height: 4px;
          background-color: #d9d9d9;
          margin-bottom: 1.2rem;
        }
      }
    }
  }

  img {
    margin-top: -2rem;
    width: 100vw;
  }
}

.perguntas {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 84.6rem;
  margin: auto;
  margin-top: 7rem;
  margin-bottom: 14rem;

  h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.015em;
    color: #4f4d7c;
    margin-top: 8rem;
    margin-bottom: 8.3rem;
  }

  .collapsible {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    margin-top: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -0.015em;
    color: #4f4d7c;
    background-color: transparent;
    border-bottom: 1px solid #c5c5c5;
    padding-bottom: 2rem;
    padding-left: 4rem;

    .symbol {
      font-weight: 800;
      font-size: 3rem;
      line-height: 120%;
      letter-spacing: -0.015em;
      color: #4f4d7c;
    }
  }

  .collapsible:hover {
    filter: brightness(0.95);
  }

  .active {
    border-bottom: none;
  }

  .text-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    padding: 2rem 3rem 6rem 4rem;
    border-bottom: 1px solid #c5c5c5;
  }

  @media screen and (max-width: 600px) {
    width: 85vw;
    margin-top: 0rem;

    .collapsible {
      padding-left: 1rem;
      padding-bottom: 1rem;
    }

    .text-content {
      padding: 1rem;
      line-height: 1;
    }
  }
}
