---
title: Blog
layout: "base.njk"
cssPath: "/css/build/blog.css"
---

<section class="banner">
  <div>
    <h2>ALOPÉCIA</h2>
  </div>
  <img src="/img/blog/blog-lines.png" alt="">
</section>

<div class="blog-container" id="efluvio-container">  
  <div class="title-container">
    <h4>ALOPÉCIA AREATA</h4>
    <span class="full-horizontal-line"></span>
  </div>
  <p>
    Também conhecida pela queda de cabelo, a alopecia areata é uma doença inflamatória autoimune. A percepção se dá com a queda dos fios  e a formação de falhas circulares, sem cabelos. Também pode ser difusa no couro cabeludo. A extensão dessa falha costuma variar entre um indivíduo e outro.
  </p>
  <p>
    Não contagiosa,  esta enfermidade está relacionada a quadros emocionais,  infecciosos, traumas físicos, entre outros. Os fios podem crescer novamente mesmo após a perda total dos cabelos, após tratamento e controle adequados da inflamaçao.
  </p>

  <div class="title-container" id="androgenetica">
    <h4>ALOPÉCIA <br/> ANDROGENÉTICA</h4>
    <span class="full-horizontal-line"></span>
  </div>
  <p>Conhecida como calvície, é uma queda de cabelo geneticamente determinada. Essa doença pode ter início já na adolescência, quando o estímulo hormonal aparece, fazendo com que os fios do cabelo tornem-se cada vez mais finos. Essa condição também acomete tanto homens, quanto mulheres entre 30 e 40 anos.
  </p>
  <p>Os fios ficam mais ralos e o couro cabeludo mais exposto. Nos homens a área mais aberta é a da região frontal e da coroa. Já nas mulheres a área central tende a ser a mais acometida.
  </p>
  <p>Para fazer com que os fios voltem a crescer, é indicado o uso de bloqueadores hormonais, poliovitamínicos, lasers, loções capilares, uso de minoxidil, entre outros. Porém essas ações podem recuperar parte da perda capilar e estacionar o processo, mas  somente o transplante capilar pode solucionar o problema definitivamente.
  </p>
  <p>Na Clinica Muricy você tem o cuidado completo dos seus cabelos. Agende uma avaliação.
  </p>

  <span class="vertical-line"></span>

</div>