nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 123;
  background: $ice;

  .logo {
    width: 7rem;

    @media (min-width:701px) and (max-width: 1268px) {
      margin-left: 0rem;
      width: 5rem;
    }

    @media (max-width: 700px) {
      width: 4rem;
    }
  }

  ul {
    opacity: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }

  li a {
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    color: $roxo-600;
    display: block;
  }
  li a:hover,
  .menu-btn:hover {
    color: #000;
  }

  .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    display: flex;
    align-items: center;
    gap: 4rem;

    .menu-icon-inside {
      cursor: pointer;
      float: right;
      padding: 2rem 0;
      position: relative;
      user-select: none;
      margin-left: auto;
      margin-right: 1rem;
    }

    .menu-icon-inside .navicon {
      display: block;
      height: 4px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 45px;
    }

    .menu-icon-inside .navicon:before,
    .menu-icon-inside .navicon:after {
      background: $cinza;
      content: "";
      display: block;
      height: 55%;
      position: absolute;
      transition: all 0.2s ease-out;
      width: 48%;
    }

    .menu-icon-inside .navicon:before {
      top: 10px;
    }

    .menu-icon-inside .navicon:after {
      top: -10px;
    }

    .menu-icon-inside .navicon:before {
      transform: rotate(-45deg);
    }

    .menu-icon-inside .navicon:after {
      transform: rotate(45deg);
    }

    .menu-icon-inside:not(.steps) .navicon:before,
    .menu-icon-inside:not(.steps) .navicon:after {
      top: 0;
    }
  }

  .menu-icon {
    cursor: pointer;
    float: right;
    padding: 1rem 0;
    position: relative;
    user-select: none;
    margin: 0;
  }

  .menu-icon .navicon {
    background: $cinza;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 3rem;
  }

  .menu-icon .navicon:before,
  .menu-icon .navicon:after {
    background: $cinza;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .menu-icon .navicon:before {
    top: 10px;
  }

  .menu-icon .navicon:after {
    top: -10px;
  }

  .menu-btn {
    display: none;
  }

  .menu-btn:checked ~ .menu {
    max-height: 80vh;
  }

  .heer .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  .menuactive {
    font-weight: bold;
  }

  @media (min-width: 701px) {
    li {
      float: left;
    }

    .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .menu-icon {
      display: none;
    }
  }

  @media (max-width: 700px) {

    .menu {
      position: absolute;
      top: 0;
      right: 0;
      background: $ice;
      padding-right: unset;
      border-radius: 0 0 20px 20px;
      width: 100vw;
      display: flex;
      flex-direction: column;
      height: auto;
      gap: 2rem;
      margin-top: 0;

      li {

        &:first-of-type {
          padding-top: 5rem;
        }

        &:last-of-type {
          padding-bottom: 1rem;

          a {
            border-bottom: unset;
          }
        }

        a {
          font-size: 1.8rem;
          line-height: 100%;
          color: $cinza;
          text-align: center;
        }
      }
    }
  }
}
