.contato-muricy {
  margin-left: 262px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .titulo-pagina {
    margin-top: 105px;
    display: flex;
    align-items: center;
    h1 {
      color: #541e43;
      font-weight: 500;
      font-size: 4.2rem;
      line-height: 51px;
      width: 27.1rem;
    }
    .linha {
      width: 73px;
      background-color: #7f6678;
      height: 2px;
    }
  }

  .descricao-contato {
    margin-top: 25px;
    p {
      width: 349px;
      height: 12.4rem;
      font-weight: 300;
      font-size: 2.2rem;
      line-height: 30px;
      color: #495057;
      text-align: justify;
    }
  }

  .forms-detalhes {
    display: flex;
    align-items: center;

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .dados {
        width: 455px;
        padding-left: 15px;
      }

      #form-nome {
        font-size: 1.2rem;
        font-weight: 400;
        height: 39px;
        color: black;
        background-color: #efefef;
        border: none;
      }

      #form-nome::placeholder {
        color: #bcbcbc;
      }

      #form-ajuda {
        padding-top: 15px;
        padding-right: 15px;
        font-size: 1.2rem;
        font-weight: 400;
        height: 144px;
        color: black;
        background-color: #efefef;
        border: none;
        resize: none;
      }

      #form-ajuda::placeholder {
        color: #bcbcbc;
      }

      .enviar {
        align-items: end;
        font-size: 1.6rem;
        color: #541e43;
        border: none;
        background-color: #ffffff;
        line-height: 20px;
        font-weight: 500;
      }
    }

    .linha2 {
      margin-top: 2px;
      margin-right: 3px;
      width: 59px;
      background-color: #7f6678;
      height: 2px;
    }

    .detalhes-contatos {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 142px;
      background-color: #7f6678;
      width: 588px;
      height: 402px;

      .informacoes-contatos {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 359px;
        height: 158px;
        color: #ffffff;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 20px;

        .telefone-container {
          display: flex;

          .icones {
            width: 21px;
            height: 21px;
            margin-right: 9px;
          }
        }

        .endereco-container {
          display: flex;

          .icones {
            width: 21px;
            height: 21px;
            margin-right: 9px;
          }
        }

        .email-container {
          display: flex;

          .icones {
            width: 21px;
            height: 21px;
            margin-right: 9px;
          }
        }
      }
    }
  }
}

.imagem-linhas {
  width: 100vw;
  z-index: -1;
  top: 549px;

  .linhas-onduladas {
    width: 100%;
    overflow: hidden;
    transform: rotate(3.24deg);
    margin-left: -2rem;
    opacity: 0.25;
    margin-top: -11rem;
  }
}

@media screen and (max-width: 600px) {
  .contato-muricy {
    margin-left: 0px !important;
    justify-content: center;
    align-items: initial;
  }

  .titulo-pagina {
    width: 80vw;
  }

  .forms-detalhes {
    margin-top: 40px;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;

    .dados {
      width: 80vw !important;
    }

    .detalhes-contatos {
      height: 60vw !important;
      width: 100vw !important;
      margin-left: 0px !important;
      margin-top: 40px;

      .informacoes-contatos {
        width: 100% !important;
        font-size: 1.4rem !important;
      }

      .icones {
        width: 16px;
        height: 16px;
        margin-left: 9px;
      }
    }
  }
}
