footer {
  background-color: #01051e;
  height: 408px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
  margin: auto;
  padding: 0 5rem;
  width: 100vw;
  place-items: center;
  margin: auto;
  padding: 2rem 0;
  position: relative;
}
