@import "colors";

.contato-muricy {
  margin-top: 15rem;
  margin-left: 262px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .flexContato {
    width: 455px;

    h1 {
      color: $roxo_800;
      font-weight: 500;
      font-size: 4.2rem;
      line-height: 51px;
      width: 27.1rem;
      line-height: 51px;
      letter-spacing: 0.1em;
    }

    .descricao-contato {
      height: 12.4rem;
      font-weight: 300;
      line-height: 30px;
      color: #495057;
      text-align: justify;
      margin-top: 0.5rem;
    }
  }


  .linha {
    width: 73px;
    background-color: $roxo_400;
    height: 2px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin-top: 4rem;

    input,
    textarea {
      width: 100%;
    }

    .dados {
      padding-left: 15px;
    }

    #form-nome {
      font-size: 1.2rem;
      font-weight: 400;
      height: 39px;
      color: black;
      background-color: #efefef;
      border: none;
    }

    #form-nome::placeholder {
      color: #bcbcbc;
    }

    #form-ajuda {
      padding-top: 15px;
      padding-right: 15px;
      font-size: 1.2rem;
      font-weight: 400;
      height: 144px;
      color: black;
      background-color: #efefef;
      border: none;
      resize: none;
    }

    #form-ajuda::placeholder {
      color: #bcbcbc;
    }

    .enviar {
      align-items: end;
      font-size: 1.6rem;
      color: #541e43;
      border: none;
      background-color: #ffffff;
      line-height: 20px;
      font-weight: 500;
      text-align: right;
      margin-top: 1rem;
      cursor: pointer;
    }
  }

  .linha2 {
    margin-top: 2px;
    margin-right: 3px;
    width: 59px;
    background-color: #7f6678;
    height: 2px;
  }

  .detalhes-contatos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-top: auto;
    background-color: $roxo_400;
    height: 342px;
    width: 50%;

    p {
      font-weight: 600;
      margin-top: 15px;
    }

    .telefone-contato1 {
      margin-top: 0;
    }

    h5 {
      font-size: 1.6rem;
      font-weight: 300;
      margin: 0;
    }

    .informacoes-contatos {
      display: flex;
      flex-direction: column;
      height: 158px;
      color: $white;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 20px;
    }
  }
}



.imagem-linhas {
  width: 100vw;
  z-index: -1;
  top: 549px;

  .linhas-onduladas {
    width: 100%;
    overflow: hidden;
    transform: rotate(3.24deg);
    margin-left: -2rem;
    opacity: 0.25;
    margin-top: -11rem;
  }
}

@media screen and (max-width: 600px) {
  .contato-muricy {
    margin-left: 0px !important;
    justify-content: center;
    align-items: initial;
  }

  .titulo-pagina {
    width: 80vw;
  }

  .forms-detalhes {
    margin-top: 40px;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;

    .dados {
      width: 80vw !important;
    }

    .detalhes-contatos {
      height: 60vw !important;
      width: 100vw !important;
      margin-left: 0px !important;
      margin-top: 40px;

      .informacoes-contatos {
        width: 100% !important;
        font-size: 1.4rem !important;
      }
    }
  }
}

@media (orientation: portrait) and (max-width: 500px) {
  .contato-muricy {
    display: flex;
    flex-direction: column;

    .flexContato {
      width: 82vw;
      margin-left: 3rem;
      margin-bottom: 5rem;
    }

    .detalhes-contatos {
      margin-left: unset;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1537px) {
  .contato-muricy {
    margin-top: 13rem;
    margin-left: 10rem;
  }
}

@media screen and (max-width: 1024px) {
  .contato-muricy {
    margin-left: 4rem;

    .flexContato {
      h1 {
        font-size: 4rem;
      }
    }
  }
}