@import "global";
@import "header";
@import "footer";
@import "contato";
@import "colors";

.info-container {
  margin-top: 7.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;

  h3 {
    font-weight: 700;
  }

  p {
    color: $cinza_500;
    font-size: 1.4rem;
  }

  .tags-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    a {
      text-decoration: underline;
      color: $roxo_400;
    }
  }

  img {
    margin-top: 7rem;
  }
}

.content-container {
  max-width: 800px;
  margin: auto;
  margin-top: 9rem;

  h6 {
    font-size: 1.6rem;
    font-weight: 600;
    color: $cinza_800;
    margin-bottom: 2rem;
  }

  p {
    line-height: 2.6rem;
    margin-bottom: 2rem;
    text-align: justify;
  }
}

.article-lines {
  margin-top: -210px;
}

.artigos-relacionados {
  display: flex;
  justify-content: center;
  flex-direction: column;
  place-items: center;
  margin-top: -180px;
  margin-bottom: 23rem;

  ul {
    display: flex;
    gap: 3.8rem;

    li {
      max-width: 30rem;
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      padding-bottom: 9rem;
      border-bottom: 0.5px solid $cinza_400;

      img {
        width: 100%;
      }

      a {
        font-weight: 500;
        color: $roxo_800;
        font-size: 1.8rem;
      }

      p {
        color: $cinza_500;
        font-size: 1.2rem;
      }
    }
  }

  h5 {
    font-weight: 500;
    color: $roxo_800;
    margin-bottom: 4.5rem;
  }
}
