@import "global";
@import "header";
@import "footer";
@import "contato";
@import "colors";

.banner {
  height: 60vh;
  display: flex;
  place-items: center;
  position: relative;
  z-index: -1;

  >div {
    max-width: 400px;
    z-index: 2;
    margin-left: auto;
    margin-right: 10vw;
    text-align: right;
  }

  h2 {
    color: $roxo_800;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  h5 {
    color: $cinza_900;
    max-width: 340px;
  }

  img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100vw;
  }
}

.info-container {
  display: flex;
  justify-content: center;
  background-color: $bege;
  color: $roxo_800;
  justify-content: space-around;
  place-items: center;
  padding: 5rem 0;

  h5 {
    font-weight: 600;
  }

  >div {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p {
      text-align: right;
      font-weight: 400;
    }
  }
}

.avaliacao-form {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: auto;
  margin-top: 10rem;

  input {
    background-color: $cinza_300;
    border: none;
    width: 100%;
    padding: 1.4rem;
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
  }

  input[type="file"] {
    background-color: transparent;

    &::file-selector-button {
      border: none;
      color: $cinza_800;
      border-bottom: 1px solid $cinza_900;
      background-color: transparent;
      padding: 0;
    }
  }

  input[type="submit"] {
    background-color: transparent;
    color: $roxo_800;
    display: flex;
    width: fit-content;
    margin-left: auto;
    background: transparent;
    border-bottom: 1px solid $roxo_800;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0.6rem 0;
  }

  .half {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;

    input {
      width: 49.8%;
      margin-bottom: 0;
      font-size: 1.4rem;
    }
  }
}

.radio-container {
  display: flex;
  background-color: $cinza_300;
  width: 49.8%;
  place-items: center;
  justify-content: space-between;
  padding: 1.4rem;

  input[type="radio"] {
    width: 24px;
  }

  >div {
    display: flex;
  }

  p {
    font-size: 1.4rem;
    color: $cinza_800;
    font-weight: 400;
  }

  label {
    font-size: 1.4rem;
    color: $cinza_800;
    margin-right: 1rem;
  }
}

.orientacoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  margin: auto;
  margin-top: 10rem;

  h2 {
    text-transform: uppercase;
    color: $roxo_800;
    margin-bottom: 3rem;
    text-align: center;
  }

  .explicacao {
    display: flex;
    margin-bottom: 6.5rem;
    align-items: flex-start;

    >div {
      display: flex;
      flex-direction: column;
      margin-left: 2rem;
      justify-content: center;

      h5 {
        color: $roxo_800;
        font-weight: 500;
        margin-bottom: 0.4rem;
      }
    }

    .fotos-avaliacao {
      display: flex;
      margin-top: 4rem;
      gap: 1rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .info-container {
    justify-content: space-between;
    padding: 5rem 3rem;
  }

  .avaliacao-form {
    width: 90vw;
  }

  .orientacoes {
    width: 85vw;
  }
}