@import "global";
@import "header";
@import "footer";
@import "contato";
@import "colors";

.blog-container {
  width: 80vw;
  margin: auto;
}

.banner {
  height: 60vh;
  display: flex;
  place-items: center;
  position: relative;
  z-index: -1;

  > div {
    max-width: 400px;
    z-index: 2;
    margin-left: 10vw;
  }

  h2 {
    color: $roxo_800;
    margin-bottom: 1rem;
  }

  p {
    color: $cinza_900;
  }

  img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.nav-blog {
  display: flex;
  gap: 80px;
  justify-content: center;
  margin-bottom: 4rem;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;

    p {
      margin-left: 1rem;
    }
  }
}

.first-blog {
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    max-width: 512px;
  }

  > div {
    margin-left: 4.8rem;

    p {
      color: $cinza_500;
      padding-top: 10rem;
    }

    h3 {
      max-width: 60%;
    }
  }
}

.posts-container {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin-top: 12.8rem;
  gap: 3.8rem;
  margin-bottom: 13rem;
  justify-content: center;

  li {
    width: 300px;
    padding-bottom: 7rem;
    border-bottom: 1px solid $cinza_400;

    img {
      width: 100%;
    }

    a {
      font-size: 1.8rem;
      color: $roxo_800;
      font-weight: 500;
    }
  }
}

.pagination-container {
  display: flex;
  margin-bottom: 9rem;

  .pagination {
    display: flex;
    gap: 1rem;
    margin-left: auto;
  }
}
