@import "global";
@import "header";
@import "footer";

#correcoes {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-bottom: 17rem;
    justify-content: center;
    margin-top: 17rem;
    width: 100vw;
  
    h2 {
      color: $roxo_800;
      font-weight: 400;
    }
  
    .conteudo {
      margin-top: 10rem;
  
      .megaImg {
        display: flex;
        flex-direction: row;
        margin-top: 6rem;
        margin-bottom: 4rem;
        justify-content: center;
      }
  
      .legendaFlex {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .legendaImg {
          color: $roxo_800;
          font-weight: 300;
          margin-bottom: 9rem;
        }
      }
    }
  
    p {
      line-height: 2.6rem;
      margin-bottom: 2rem;
      text-align: justify;
      max-width: 60vw;
    }
  }
  
  .vertical-line {
    display: block;
    height: 7rem;
    width: 2px;
    background-color: $roxo_800;
    margin-top: 14rem;
  }