@import "global";
@import "header";
@import "footer";
@import "contato";
@import "colors";

.orientacoes-banner {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 90vh;
  justify-content: center;
  place-items: center;

  h1 {
    text-transform: uppercase;
    text-align: center;
  }

  h4 {
    font-weight: 300;
    color: $cinza_800;
    text-align: center;
    margin-top: 9rem;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    object-fit: cover;
  }
}

.informacoes-iniciais {
  display: flex;
  flex-direction: column;
  margin-left: 123px;

  .atendimento-clinico {
    display: flex;
    position: relative;
    margin-bottom: 13rem;

    .atendimento-titulo {
      margin-top: 25.6rem;
      margin-bottom: 15.1rem;
      letter-spacing: 0.1rem;
      color: $roxo_800;
      max-width: 52.1rem;
      font-weight: 400;
      line-height: 68px;
      z-index: 1;
    }

    p {
      position: absolute;
      top: 77%;
      width: 25vw;
      line-height: 26px;
      font-weight: 300;
    }

    img {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }

  .container-bege {
    color: #ffffff;
    display: flex;
    height: 40vh;
    background-color: $bege;
    justify-content: space-around;
    place-items: center;

    h2 {
      margin-left: 2.5rem;
      line-height: 51px;
      letter-spacing: 0.1em;
    }

    .right-side {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      max-width: 34%;

      >div {
        display: flex;
        margin-top: 5rem;
      }

      a {
        font-weight: 700;
        line-height: 1.7rem;
        margin-left: 2rem;
        color: $white;
        border: 1px solid transparent;
        padding-bottom: 0.5rem;

        &:hover {
          border-bottom: 1px solid #ffffff;
        }
      }

      p {
        line-height: 2.6rem;
        text-align: right;
      }
    }
  }
}

.tecnicas {
  margin-top: 23rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 12rem;

  .texto-tecnicas {
    display: flex;
    flex-direction: column;
    max-width: 95rem;
    text-align: right;
    align-items: end;

    h2 {
      color: $roxo_800;
      font-weight: 500;
      line-height: 51px;
      letter-spacing: 0.1em;
    }

    p {
      margin-top: 23px;
      font-weight: 300;
      line-height: 26px;
      color: $cinza_900;
      width: 35vw;
    }

    ul {
      margin-top: 5rem;
      display: flex;
      justify-content: space-between;
      width: 25vw;

      a {
        font-weight: 600;
        font-size: 1.8rem;
        color: $roxo_800;
        padding-bottom: 5px;
      }

      a:hover {
        border-bottom: 1px solid $roxo_800;
      }
    }
  }
}

.agende-consulta {
  position: relative;
  display: flex;
  justify-content: center;

  a {
    margin-top: 12.7rem;
    margin-bottom: 26.2rem;
    display: flex;
    width: 42.2rem;
    height: 4.3rem;
    border: 2px solid $roxo_800;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    color: $roxo_800;
    transition: all 0.3s;

    &:hover {
      color: $white;
      border: 2px solid $roxo_800;
      background-color: $roxo_800;
    }
  }

  img {
    z-index: -1;
    top: -100px;
    width: 100%;
    position: absolute;
    opacity: 0.3;
    transform: rotate(3.24deg);
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 55%;

    .informacoes-iniciais {
      margin-left: 0;

      .atendimento-clinico {
        justify-content: center;

        .atendimento-titulo {
          font-size: 4.5rem;
          text-align: center;
          margin: 11rem 0;
        }

        img {
          display: none;
        }
      }

      .container-rosa {
        padding: 9.6rem 2rem 5.5rem 2rem;

        .diagnostico {
          flex-direction: column-reverse;

          p {
            margin-top: 20px;
          }
        }

        .doencas-cabelo {
          div {
            flex-direction: column;
          }
        }

        .informacoes-cabelo {
          margin-top: 10rem;
          width: 100%;

          h2 {
            font-size: 3.4rem;
          }
        }
      }
    }

    .tratamentos {
      flex-direction: column;
      padding: 2rem;
      margin-top: 7rem;

      .texto-tratamentos {
        place-items: center;

        ul {
          display: grid;
          gap: 1rem;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 8vw);
        }

        p {
          text-align: justify;
        }
      }

      img {
        margin-top: 2rem;
      }
    }

    .container-verde {
      margin-top: 9rem;
      width: 100%;
      padding: 2rem;
      flex-direction: column;
      justify-content: center;

      h2 {
        text-align: center;
        margin-bottom: 2rem;
      }

      .texto-tratamento-associados {
        p {
          text-align: center;
          margin-bottom: 2rem;
        }

        ul {
          justify-content: space-around;

          li {
            margin: 0;
          }
        }
      }
    }

    .agende-consulta {
      a {
        width: 80%;
        margin: 11rem 0;
      }
    }
  }
}