@import "global";
@import "header";
@import "footer";
@import "contato";
@import "colors";

.informacoes-iniciais {
  display: flex;
  flex-direction: column;
  margin-left: 123px;

  .atendimento-clinico {
    display: flex;
    .atendimento-titulo {
      margin-top: 25.6rem;
      margin-bottom: 15.1rem;
      letter-spacing: 0.1rem;
      color: $roxo_800;
      width: 52.1rem;
      font-size: 5.6rem;
      font-weight: 400;
      line-height: 68px;
    }
    img {
      opacity: 0.3;
      overflow: hidden;
    }
  }

  .container-rosa {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20.6rem 8rem 8.5rem 10rem;
    background-color: $roxo_400;

    .diagnostico {
      display: flex;
      align-items: center;

      p {
        width: 71.5rem;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.1em;
      }

      h2 {
        margin-left: 2.5rem;
        font-weight: 500;
        font-size: 4.2rem;
        line-height: 51px;
        letter-spacing: 0.1em;
      }
    }

    .doencas-cabelo {
      margin-top: 4.8rem;
      display: flex;
      div {
        margin-left: 3.7rem;
        display: flex;
        align-items: initial;
      }
      h3 {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.7rem;
      }
      p {
        font-size: 1.4rem;
        font-weight: 300;
      }
    }

    .informacoes-cabelo {
      margin-top: 13rem;
      display: flex;
      flex-direction: column;
      h1 {
        width: 56rem;
        font-weight: 500;
        font-size: 4.2rem;
        line-height: 51px;
        letter-spacing: 0.1em;
      }
    }
    .texto-dermatologista {
      margin-top: 15px;
      width: 109.1rem;
      p {
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 26px;
        text-align: justify;
        margin-top: 20px;
      }
    }
  }
  .tratamentos {
    margin-top: 22.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .texto-tratamentos {
      display: flex;
      flex-direction: column;
      width: 65.1rem;
      h1 {
        color: $roxo_800;
        font-weight: 500;
        font-size: 42px;
        line-height: 51px;
        letter-spacing: 0.1em;
      }
      p {
        margin-top: 23px;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 26px;
        color: $cinza_900;
      }
      ul {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        a {
          font-weight: 600;
          font-size: 1.8rem;
          color: $roxo_800;
          padding-bottom: 5px;
        }
        a:hover {
          border-bottom: 1px solid $roxo_800;
        }
      }
    }
  }
}
.container-verde {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 36.8rem;
  background-color: $verde_400;
  position: relative;
  margin-top: 248px;
  align-items: center;
  padding: 0 5.7rem 0 24.4rem;
  color: #ffffff;
  .titulo-tratamento-associados {
    h1 {
      width: 36.9rem;
      font-weight: 500;
      font-size: 4.2rem;
      line-height: 51px;
      letter-spacing: 0.1em;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  .texto-tratamento-associados {
    width: 40.5rem;
    display: flex;
    flex-direction: column;
    p {
      font-size: 1.6rem;
      line-height: 26px;
      text-align: right;
      margin-bottom: 3.5rem;
    }
    ul {
      display: flex;
      justify-content: end;
      > li {
        margin-left: 2.9rem;
      }
      a {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 22px;
        color: #ffffff;
        padding-bottom: 5px;
      }
      a:hover {
        border-bottom: 1px solid #ffffff;
      }
    }
  }
}

.agende-consulta {
  position: relative;
  display: flex;
  justify-content: center;
  a {
    margin-top: 12.7rem;
    margin-bottom: 26.2rem;
    display: flex;
    width: 42.2rem;
    height: 4.3rem;
    border: 2px solid $roxo_800;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    color: $roxo_800;
  }
  img {
    z-index: -1;
    top: -100px;
    width: 100%;
    position: absolute;
    opacity: 0.3;
    transform: rotate(3.24deg);
  }
}
