@import "global";
@import "header";
@import "footer";
@import "contato";
@import "colors";

#mmp {
  display: flex;
  flex-direction: column;
}

#medicamentos {
  display: none;
  flex-direction: column;
}

#micropigmentacao {
  display: none;
  flex-direction: column;
}

#laser {
  display: none;
  flex-direction: column;

  .flexboxTextTA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2rem 0 5rem;
    gap: 6rem;

    .flexBeneficios {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 8rem;

      .flexBenSmall {
        display: flex;
        flex-direction: column;
        width: 20vw;

        p {
          text-align: justify;
          line-height: 26px;
        }

        span {
          border: 0.5px solid $roxo_400;
          width: 0px;
          height: 26px;
          transform: rotate(90deg);
          margin-left: 12px;
          margin-bottom: -7px;
        }
      }

      .flexBenSmallTitle {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        width: 20vw;

        h5 {
          color: $roxo_800;
          font-weight: 500;
          position: relative;

          span {
            position: absolute;
            width: 44vw;
            top: 9px;
            left: 105%;
            border: 0.5px solid #7f6678;
          }
        }
      }
    }
  }

  .laserPic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .flexboxTextLaser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 11rem 0;
    gap: 6rem;

    .flexBeneficios {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 8rem;

      .flexBenSmall {
        display: flex;
        flex-direction: column;
        width: 20vw;

        h4 {
          color: $roxo_800;
          font-weight: 600;
        }

        p {
          text-align: justify;
          line-height: 26px;
        }
      }

      .flexBenSmallTitle {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        width: 20vw;

        h5 {
          color: $roxo_800;
          font-weight: 500;
          position: relative;

          span {
            position: absolute;
            width: 44vw;
            top: 9px;
            left: 105%;
            border: 1px solid #7f6678;
          }
        }
      }
    }
  }
}

.orientacoes-banner {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 80vh;
  justify-content: center;
  place-items: center;

  h1 {
    padding-top: 20rem;
    text-transform: uppercase;
  }

  h4 {
    font-weight: 300;
    color: $cinza_800;
    text-align: center;
    margin-top: 9rem;
    width: 60vw;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    object-fit: cover;
  }
}

.banner-nav {
  display: flex;
  justify-content: center;
  gap: 10rem;
  z-index: 2;

  button {
    color: $roxo_800;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    background: none;
    border: none;
    cursor: pointer;
    user-select: none;
  }

  .active {
    border-bottom: 1px solid $roxo_800;
  }
}

.medicalHair {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin: 0 24rem;
  margin-top: 12rem;

  h2 {
    color: $roxo_800;
    letter-spacing: 0.1em;
    font-weight: 400;
    margin-bottom: 4rem;
  }
}

.medicalHair2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin: 0 24rem;
  margin-top: 12rem;
  margin-bottom: 6rem;

  h2 {
    color: $roxo_800;
    letter-spacing: 0.1em;
    font-weight: 400;
    margin-bottom: 4rem;
  }
}

.textboxTC {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: auto;
  margin-bottom: 5rem;

  p {
    text-align: justify;
    line-height: 26px;

    a {
      color: $roxo_800;
      font-weight: 700;
    }
  }
}

.greenTratamento {
  background-color: $roxo_400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85vw;
  margin: auto;
  margin-bottom: 3rem;

  .greenFlex {
    padding: 7rem 0;
    display: flex;
    flex-direction: row;
    width: 70vw;
    margin: auto;
    justify-content: space-around;
    gap: 7rem;
    align-items: center;

    img {
      align-self: center;
    }

    .greenTextTwo {
      width: 70vw;
      color: $white;
      line-height: 26px;
      text-align: justify;

      .greenTitle {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        margin-bottom: 3rem;

        h4 {
          font-weight: 500;
        }

        p {
          text-align: justify;
        }

        strong {
          font-weight: 600;
        }

        span {
          border: 1px solid #ffffff;
          width: 40px;
          height: 0;
        }
      }

      .minoFlex {
        width: 63vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 3rem;
        margin: 3rem 0;
        margin-left: 10rem;

        span {
          height: 192px;
          border: 0.5px solid #ffffff;
          transform: rotate(90deg);
        }

        p {
          text-align: unset;
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 26px;
          max-width: 526px;
        }
      }

      .minoxiFlex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 3rem 0;
        gap: 5rem;
      }

      .sawFlex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 3rem 0;
        gap: 5rem;
      }

      .greenInline {
        display: flex;

        .greenStrong {
          font-weight: 600;
        }
      }
    }
  }
}

.whiteContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85vw;
  margin: auto;
  margin-bottom: 3rem;

  .greenFlex {
    padding: 7rem 0;
    display: flex;
    flex-direction: row;
    width: 70vw;
    margin: auto;
    justify-content: space-around;
    gap: 7rem;
    align-items: center;

    img {
      align-self: center;
    }

    .greenTextTwo {
      width: 70vw;
      text-align: justify;
      color: $cinza_800;
      line-height: 26px;

      .greenTitle {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        margin-bottom: 3rem;

        h4 {
          color: $roxo_800;
          font-weight: 500;
        }

        p {
          text-align: justify;
        }

        strong {
          font-weight: 600;
        }

        span {
          border: 0.5px solid $roxo_800;
          width: 40px;
          height: 0;
        }
      }

      .minoFlex {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 3rem;
        margin: 3rem 0;

        span {
          height: 192px;
          border: 2px solid #ffffff;
          transform: rotate(90deg);
        }
      }

      .greenInline {
        display: flex;

        .greenStrong {
          font-weight: 600;
        }
      }
    }
  }
}

.pre-operatorio {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100vw;
  margin-top: 14rem;

  .title-container {
    display: flex;
    align-items: center;
    color: $roxo_800;
    justify-content: center;
    margin-bottom: 4.7rem;

    h5 {
      margin-right: 1rem;
      font-weight: 500;
      text-align: center;
    }
  }
}

.laserTitle {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100vw;

  .title-container {
    display: flex;
    align-items: center;
    color: $roxo_800;
    justify-content: center;
    margin-bottom: 4.7rem;

    h5 {
      margin-right: 1rem;
      font-weight: 500;
      text-align: center;
    }
  }
}

.full-horizontal-line {
  display: block;
  height: 2px;
  width: 4rem;
  background-color: $roxo_800;
  width: 60vw;
  margin-right: -60vw;
}

.whiteTratamento {
  background-color: $white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .greenFlex {
    padding: 7rem 0;
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: auto;
    gap: 7rem;
    align-items: center;
    margin-bottom: 4rem;

    img {
      align-self: center;
    }

    .greenText {
      width: 50vw;
      text-align: justify;
      color: $white;
      line-height: 26px;

      .greenTitle {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: end;
        gap: 5px;
        margin-bottom: 3rem;

        h4 {
          font-weight: 500;
        }

        p {
          text-align: justify;
        }

        strong {
          font-weight: 600;
        }

        span {
          border: 1px solid #ffffff;
          width: 40px;
          height: 0;
        }
      }

      .greenInline {
        display: flex;

        .greenStrong {
          font-weight: 600;
        }
      }
    }

    .greenTextTwo {
      width: 70vw;
      text-align: justify;
      color: $white;
      line-height: 26px;

      .greenTitle {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: end;
        gap: 5px;
        margin-bottom: 3rem;

        h4 {
          font-weight: 500;
        }

        p {
          text-align: justify;
        }

        strong {
          font-weight: 600;
        }

        span {
          border: 1px solid #ffffff;
          width: 40px;
          height: 0;
        }
      }

      .greenInline {
        display: flex;

        .greenStrong {
          font-weight: 600;
        }
      }
    }

    .whiteFlexTwo {
      width: 36vw;

      .whiteTextTwo {
        text-align: justify;
        color: $cinza_900;
        line-height: 26px;

        .whiteTitle {
          color: $roxo_800;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          margin-bottom: 3rem;

          h4 {
            position: relative;
          }

          span {
            position: absolute;
            border: 0.5px solid $roxo_800;
            height: 0;
            width: 50vw;
            height: 0;
            top: 11px;
            left: 107%;
          }
        }
      }
    }
  }

  .whiteFlex {
    padding: 4rem 0;
    display: flex;
    flex-direction: row-reverse;
    width: 70vw;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 3rem;

    img {
      align-self: center;
    }

    .whiteText {
      width: 70vw;
      text-align: justify;
      color: $cinza_900;
      line-height: 26px;

      .whiteTitle {
        color: $roxo_800;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        margin-bottom: 3rem;

        span {
          border: 1px solid $roxo_800;
          width: 30vw;
          height: 0;
        }
      }
    }
  }
}

.purpleContainer {
  display: flex;
  flex-direction: row;
  width: 85vw;
  margin: auto;
  padding: 10rem;
  background-color: $roxo_400;
  gap: 5rem;

  .purpleContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

    h4 {
      color: $white;
      font-weight: 500;
      line-height: 26px;
      border-bottom: 2px solid $white;
      padding-bottom: 1rem;
      width: 24vw;
    }

    p {
      color: $white;
      line-height: 26px;
      text-align: justify;
    }
  }
}

.endPage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 10rem;

  span {
    border: 0.5px solid $roxo_400;
    width: 0;
    height: 73px;
  }
}
