---
title: Agradecimento Contato
layout: "base.njk"
cssPath: "/css/agradecimento.css"
---

<div class="thanksContainer">
  <h3>Obrigado!</h1>

    <img src="/img/icons8-check-circle.svg" alt="Check">

    <h4>Entraremos em contato em breve.</h2>
</div>