---
title: Avaliação
layout: "base.njk"
cssPath: "/css/build/avaliacao.css"
---

<section class="banner">
  <img src="/img/svg/avaliacao-lines.svg" alt="">
  <div>
    <h2>faça sua  <br /> avaliação</h2>
    <h5>A avaliação do médico é fundamental para um diagnóstico preciso do seu tratamento clínico ou cirúrgico.</h5>
  </div>
</section>

<section class="info-container">
  <h5>Contate-nos para obter informações preliminares.</h5>
  <div>
    <p>Clínica Muricy: (41) 3242-8371   |   drmuricy@clinicamuricy.com.br</p>
  </div>
</section>

<form class="avaliacao-form" name="avaliacao" action="https://formsubmit.co/drmuricy@clinicamuricy.com.br" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="_template" value="table">
  <input type="hidden" name="_subject" value="Nova avaliação pelo site.">
  <input type="hidden" name="_cc" value="financeiro@namiconsultoria.com.br">
  <input type="hidden" name="_next" value="https://clinicamuricy.com.br/agradecimento/">
  
  <div class="half">
    <input type="text" name="nome" placeholder="Em qual cidade você reside?" required />
    <div class="radio-container">
      <p>Em qual cidade fará a avaliação?</p>
      <div>
        <div>
          <input type="radio" id="curitiba" name="cidade" value="curitiba">
          <label for="curitiba">Curitiba</label>
        </div>
        <div>
          <input type="radio" id="sp" name="cidade" value="sp">
          <label for="sp">São Paulo</label>
        </div>
      </div>
    </div>
  </div>

  <input type="text" name="nome" placeholder="Qual seu nome completo?" required />

  <div class="half">
    <input type="email" name="email" placeholder="E-mail para contato:" required />
    <input type="text" name="nascimento" placeholder="Data de nascimento:" required onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}"/>
  </div>

  <div class="half">
    <input type="phone" name="celphone" placeholder="Telefone Celular:" required />
    <input type="phone" name="phone" placeholder="Telefone Fixo:"/>
  </div>

  <div class="half">
    <div class="radio-container">
      <p>Já fez cirurgia de transplante capilar?</p>
      <div>
        <div>
          <input type="radio" id="yes" name="transplante-capilar" value="yes">
          <label for="yes">Sim</label>
        </div>
        <div>
          <input type="radio" id="no" name="transplante-capilar" value="no">
          <label for="no">Não</label>
        </div>
      </div>
    </div>
    <input type="text" name="tc-tempo" placeholder="Se afirmativo, há quanto tempo?"  />
  </div>

  <div class="half">
    <div class="radio-container">
      <p>Já fez ou ainda faz tratamento para a queda de cabelo?</p>
      <div>
        <div>
          <input type="radio" id="yes" name="queda-cabelo" value="yes">
          <label for="yes">Sim</label>
        </div>
        <div>
          <input type="radio" id="no" name="queda-cabelo" value="no">
          <label for="no">Não</label>
        </div>
      </div>
    </div>
    
    <div class="radio-container">
      <p>Faz uso de algum medicamento para a queda de cabelo?</p>
      <div>
        <div>
          <input type="radio" id="yes" name="med-queda-cabelo" value="yes">
          <label for="yes">Sim</label>
        </div>
        <div>
          <input type="radio" id="no" name="med-queda-cabelo" value="no">
          <label for="no">Não</label>
        </div>
      </div>
    </div>
  </div>

  <div class="half">
    <input type="text" name="tempo-medicamento" placeholder="Se afirmativo, há quanto tempo e qual é o medicamento?"/>
    <div class="radio-container">
      <p>Como descreveria o seu cabelo?</p>
      <div>
        <div>
          <input type="radio" id="fino" name="tipo-cabelo" value="fino">
          <label for="fino">Fino</label>
        </div>
        <div>
          <input type="radio" id="medio" name="tipo-cabelo" value="medio">
          <label for="medio">Médio</label>
        </div>
        <div>
          <input type="radio" id="grosso" name="tipo-cabelo" value="grosso">
          <label for="grosso">Grosso</label>
        </div>
      </div>
    </div>
  </div>

  <div class="half">
    <div class="radio-container">
      <p>Tem histórico de calvície na família? </p>
      <div>
        <div>
          <input type="radio" id="yes" name="historico-familiar" value="yes">
          <label for="yes">Sim</label>
        </div>
        <div>
          <input type="radio" id="no" name="historico-familiar" value="no">
          <label for="no">Não</label>
        </div>
      </div>
    </div>
    <input type="text" name="parentesco" placeholder="Se afirmativo, qual o parentesco?" />
  </div>
  <h5>Anexar fotos</h5>
  <br/>
  <p>Foto 1</p>
  <input type="file" name="foto1"/>
  <p>Foto 2</p>
  <input type="file" name="foto2"/>
  <p>Foto 3</p>
  <input type="file" name="foto3"/>
  <p>Foto 4</p>
  <input type="file" name="foto4"/>
  <p>Foto 5</p>
  <input type="file" name="foto5"/>
  
  <input type="submit" value="ENVIAR" class="enviar" /> 
</form>

<section class="orientacoes">
  <h2>orientações para as fotos</h2>

  <div class="explicacao">
    <img src="/img/svg/nao-operado.svg" alt="">
    <div>
      <h5>Se <b>não</b> operado</h5>
      <p>Fotos: frente, lateral, posterior e superior do couro cabeludo (queixo encostado no peito)</p>
    </div>
  </div>

  <div class="explicacao">
    <img src="/img/svg/operado.svg" alt="">
    <div>
      <h5>Se <b>já</b> operado</h5>
      <p>Enviar todas as fotos conforme modelo abaixo (a foto da área doadora deve aparecer a cicatriz).</p>
      <div class="fotos-avaliacao">
        <img src="/img/avaliacao/foto-operado-1.jpg" alt="">
        <img src="/img/avaliacao/foto-operado-2.jpg" alt="">
        <img src="/img/avaliacao/foto-operado-3.jpg" alt="">
        <img src="/img/avaliacao/foto-operado-4.jpg" alt="">
        <img src="/img/avaliacao/foto-operado-5.jpg" alt="">
      </div>
      <div class="fotos-avaliacao2">
        <img src="/img/avaliacao/foto-operado-6.jpeg" alt="">
        <img src="/img/avaliacao/foto-operado-7.jpeg" alt="">
        <img src="/img/avaliacao/foto-operado-8.jpeg" alt="">
      </div>
    </div>
  </div>

  <div class="explicacao">
    <img src="/img/svg/fotos.svg" alt="">
    <div>
      <h5>Fotos</h5>
      <p>Fotos: frente, lateral, posterior e superior do couro cabeludo (queixo encostado no peito)</p>
    </div>
  </div>
</section>

<script>  

for(var i = 0; i <=5 ; i++){
  const inputFile = document.querySelector(`input[name="foto${i}"]`);
  inputFile?.addEventListener('change', (e) => {
    const file = e.target.files[0];
    
    if(file){
      var img = document.createElement('img');
      img.src =   URL.createObjectURL(e.target.files[0]);;
      img.style.width = '100px' 
      inputFile.insertAdjacentElement('beforebegin',img)
    }
  });
}

//   let inputQuantity = {
//     qtd:  1
//   };

// var targetProxy = new Proxy(inputQuantity, {
//   set: function (target, key, value) {
//       target[key] = value;
//       createNewInput(value)
//       return true;
//   }
// });


// const sendButton = document.querySelector('input[type="submit"]')

// function createNewInput(value){
//   const inputFile = document.querySelector(`input[name="foto${value + 1}"]`)
//   inputFile.addEventListener('change', (e) => {
//     const file = e.target.files[0];
    
//     if(file){
//       var inputFile = document.createElement('input');

//       var img = document.createElement('img');
//       img.src =   URL.createObjectURL(e.target.files[0]);;
//       img.style.width = '100px' 

//       inputFile.type = "file";
//       inputFile.name = `arquivos${value + 2}`
//       sendButton.insertAdjacentElement('beforebegin',inputFile)
//       inputFile.insertAdjacentElement('beforebegin',img)
//       targetProxy.qtd = value + 1;
//     }
//   });
// }


</script>