---
title: Avaliação
layout: "base.njk"
cssPath: "/css/build/avaliacao.css"
---

<section class="banner">
  <img src="/img/svg/avaliacao-lines.svg" alt="">
  <div>
    <h2>faça sua  <br /> avaliação</h2>
    <h5>A avaliação do médico é fundamental para um diagnóstico preciso do seu tratamento clínico ou cirúrgico.</h5>
  </div>
</section>

<section class="info-container">
  <h5>Contate-nos para obter informações preliminares.</h5>
  <div>
    <p>Clínica Muricy Curitiba: 41 3242-8371   |   drmuricy@clinicamuricy.com.br</p>
    <p>Clinica Muricy São Paulo: 11 2309-0210   |   dramuricy@clinicamuricy.com.br</p>
  </div>
</section>

<form>
  <input type="text" name="nome" class="dados" id="form-nome" placeholder="Nome" required />
  <br />
  <input type="email" name="email" class="dados" id="form-nome" placeholder="E-mail" required />
  <br />
  <textarea type="text" name="ajuda" class="dados" id="form-ajuda" placeholder="Como podemos te ajudar?" cols="50"
    rows="5" required></textarea>
  <br />
  <input type="submit" value="ENVIAR" class="enviar" />
  <span class="linha2"></span>
</form>