---
title: Blog
layout: "base.njk"
cssPath: "/css/build/blog.min.css"
---

<section class="blog-banner">
  <h2>BLOG E NOTÍCIAS</h2>
  <h5>Confira as últimas atualizações sobre os cuidados, dicas, curiosidades, informações e orientações a respeito de saúde capilar.</h5>
</section>

  {%- for post in collections.post -%}
  <li>
    <h3>{{ post.data.title }}</h3>
    <a href="{{ post.url }}">Read more</a>
    <h4>{{ post.data.date | postDate }}</h4>
  </li>
  {%- endfor %}
</div>
