---
title: Contato
layout: "base.njk"
---

<section class="contato-muricy">
  <div class="titulo-pagina">
    <h1>ENTRE EM CONTATO</h1>
    <span class="linha"></span>
  </div>
  <span class="descricao-contato">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie ipsum
      nibh, et facilisis risus molestie nec.
    </p>
  </span>
  <div class="forms-detalhes">
    <form>
      <input
        type="text"
        name="nome"
        class="dados"
        id="form-nome"
        placeholder="Nome"
        required
      />
      <br />
      <input
        type="email"
        name="email"
        class="dados"
        id="form-nome"
        placeholder="E-mail"
        required
      />
      <br />
      <textarea
        type="text"
        name="ajuda"
        class="dados"
        id="form-ajuda"
        placeholder="Como podemos te ajudar?"
        cols="50"
        rows="5"
        required
      ></textarea>
      <br />
      <input type="submit" value="ENVIAR" class="enviar" />
      <span class="linha2"></span>
    </form>
    <div class="detalhes-contatos">
      <div class="informacoes-contatos">
        <div class="telefone-container">
          <img
            class="icones"
            src="<?php echo THEME_IMG_PATH;  ?>/phone.svg"
            alt="Icone Telefone"
          />
          <p class="telefone-contato">(41) 3242-8371</p>
        </div>
        <div class="telefone-container">
          <img
            class="icones"
            src="<?php echo THEME_IMG_PATH;  ?>/phone.svg"
            alt="Icone Telefone"
          />
          <p class="telefone-contato">(41) 9 8495-8022 | (41) 98495-8510</p>
        </div>
        <div class="endereco-container">
          <img
            class="icones"
            src="<?php echo THEME_IMG_PATH;  ?>/map-pin.svg"
            alt="Icone Mapa"
          />
          <p class="endereco-contato">
            Rua Pedro Collere, Nº 35 | Esquina com Avenida Presidente Getúlio
            Vargas
          </p>
        </div>
        <div class="email-container">
          <img
            class="icones"
            src="<?php echo THEME_IMG_PATH;  ?>/mail.svg"
            alt="Icone Email"
          />
          <p class="email-contato">drmuricy@clinicamuricy.com.br</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="imagem-linhas">
  <img
    class="linhas-onduladas"
    src="<?php echo THEME_IMG_PATH;  ?>/linhas.png"
    alt="Linhas onduladas"
  />
</div>
