---
title: Contato
layout: "base.njk"
cssPath: "/css/build/contato.css"
---

<div class="contatoBanner">
  <h2>ENTRE EM CONTATO</h2>
  <h4>Confira as nossas Redes Sociais ou preencha os seus dados para nos enviar uma mensagem.
    <br>Queremos saber quem você é.</h4>
  <div class="contatoButtons">
    <a href="" class="btn">AVALIAÇÃO PARA TRANSPLANTE CAPILAR</a>
    <a href="" class="btn">AGENDE A SUA CONSULTA</a>
  </div>
</div>

<div class="perguntasFlex">
  <h2>PERGUNTAS FREQUENTES</h2>
  <div class="pfsidebox">
    <div class="pftextbox">
      <button type="button" class="collapsible active">
        O que é megatransplante de cabelos?
        <img src="/img/seta.png" alt="" style="transform: rotate(0)">
      </button>
      <div class="collapsiblecontent" style="display: block;">
        <p>Megatransplante é o mais eficiente procedimento cirúrgico para o tratamento da calvície. É o transplante de
          unidades foliculares, denominados folículos capilares que são extraídos da região doadora na parte posterior
          da cabeça e transplantados para a área calva. A cada procedimento cirúrgico são transplantados cerca de 2.600
          a 3.500 ou mais enxertos, dependendo da quantidade de fios da área doadora de cada paciente, que correspondem
          de 7.000 a 10.000 mil fios, aproximadamente. Após duas sessões os resultados são cabelos naturais e
          permanentes.</p>
      </div>
    </div>
    <div class="pftextbox">
      <button type="button" class="collapsible">O que pode ser feito em relação ao padrão masculino de
        calvície?<img src="/img/seta.png" alt=""></button>
      <div class="collapsiblecontent" style="display: none;">
        <p>Pessoas que sofrem com a miniaturização capilar têm quatro opções para lidar com o problema. A melhor delas é
          partir para uma cirurgia de restauração capilar, a única solução natural e permanente para a calvície. Pode-se
          também, nos casos iniciais, optar por tratamentos clínicos como comprimidos, loções ,shampoos, laser de baixa
          potência, ou utilizar cosméticos em forma de cremes, sprays que, quando aplicados na área calva, ajudam a
          disfarçar o problema, desde que ainda haja um pouco de cabelo no local.</p>
      </div>
    </div>
    <div class="pftextbox">
      <button type="button" class="collapsible">Há algum remédio ou loção que faça meus cabelos crescer novamente?<img
          src="/img/seta.png" alt=""></button>
      <div class="collapsiblecontent" style="display: none;">
        <p>Depende do grau da calvície. Se bem inicial, os resultados são bons. Porém em graus mais avançados, o melhor
          tratamento é o cirúrgico. Remédios podem retardar a evolução da calvície, mas não fazem nascer novos fios onde
          já houve a morte da raiz. A solução permanente para a calvície é mesmo o megatransplante de unidades
          foliculares.</p>
      </div>
    </div>
    <div class="pftextbox">
      <button type="button" class="collapsible">Quem pode fazer uma cirurgia de restauração capilar?<img
          src="/img/seta.png" alt=""></button>
      <div class="collapsiblecontent" style="display: none;">
        <p>Esse tipo de cirurgia é uma solução definitiva para homens e mulheres acometidos pela Alopecia Androgênica
          (AAG). Locais cicatrizados com falta de cabelos também podem receber cirurgia.</p>
      </div>
    </div>
    <div class="pftextbox">
      <button type="button" class="collapsible">Sou um bom candidato?<img src="/img/seta.png" alt=""></button>
      <div class="collapsiblecontent" style="display: none;">
        <p>Qualquer pessoa com boa densidade capilar e couro cabeludo saudável é imediatamente um bom candidato para o
          megatransplante. Um paciente com cabelos e pele claros – em oposição a um paciente com cabelos escuros e pele
          clara – normalmente tem uma maior densidade capilar, o que facilita o procedimento cirúrgico. Pacientes com
          cabelos enrolados ou encaracolados precisarão de menos sessões do que alguém com cabelos lisos. Apesar de
          naturais, os resultados variam de paciente para paciente e podem não alcançar a densidade total ou cobertura
          que você tinha quando adolescente.</p>
      </div>
    </div>
  </div>
</div>

{% include 'includecontato.njk' %}

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var collapsiblecontent = this.nextElementSibling;
      var img = this.getElementsByTagName('img');
      console.log(img[0])
      if (collapsiblecontent.style.display === "block") {
        collapsiblecontent.style.display = "none";
        img[0].style.transform = "rotate(-180deg)";
      } else {
        collapsiblecontent.style.display = "block";
        img[0].style.transform = "rotate(0)";
      }
    });
  }
</script>