---
title: Correções
layout: "base.njk"
cssPath: "/css/build/correcoes.css"
---

<div id="correcoes">
  <h2>CORREÇÕES DE RESULTADOS ARTIFICIAIS</h2>

  <div class="conteudo">
    <p>
      Aquele aspecto conhecido como “cabelos de boneca”, aquelas cirurgias que deixavam e ainda deixam uma impressão e
      um
      visual artificial, são possíveis de reversão.
    </p>

    <p>A Clínica Muricy desenvolveu uma técnica específica para este problema.
      Atualmente uma cirurgia bem feita por cirurgião especialista e experiente resulta em aspecto natural e
      imperceptível a olho nu. E há muitos casos com resultados artificiais que necessitam de correção.
      Ambas as Unidades da Clínica Muricy, Curitiba ou São Paulo, oferecem abordagem própria na correção destes casos,
      com resultados absolutamente naturais.</p>
  </div>

  <span class="vertical-line"></span>
</div>