---
title: Home
layout: "base.njk"
cssPath: "/css/build/home.css"
---

<div class="bannerHome">
  <img src="/img/bannerbg.jpg" class="bannerbg" alt="">
  <div class="degrade">
    <img src="/img/bannerdgd.svg" class="bannerdgd" alt="">
  </div>
  <img src="/img/linhasbanner.png" class="linhasbanner" alt="">
  <div class="bannerFlex">
    <h1>CLÍNICA MURICY</h1>
    <h4>São 30 anos de experiência e mais de 7 mil transplantes capilares, melhorando a autoestima de todos os nossos
      pacientes operados
    </h4>
  </div>
</div>

<div id="myModal" class="modal">
  <div class="modalEquipe">
    <span class="close">&times;</span>
    <img src="/img/drmuricymodal.jpg" alt="">
    <div class="modalText">
      <h2>DR. JOSÉ<br>CANDIDO MURICY</h2>
      <p>
        Médico formado na faculdade de medicina da UFPR, é um dos maiores e mais conceituado especialista em cirurgia
        corretiva da calvície do Brasil. No início da década de 80, então cirurgião geral, o Dr. Muricy iniciou sua
        especialização em cirurgia plástica com estágios junto a cirurgiões renomados mundialmente dentre os quais estão
        o Dr. Antonio Costa Estima, de Porto Alegre, RS, Dr. Jaime Planas, de Barcelona, Espanha e o Dr. José Guerrero
        Santos, de Guadalajara, México. Nesta área, participou de mais de uma centena de cursos, congressos e eventos.
        Presidiu Instituições como o Centro de Estudos Dr. Costa Estima (Porto Alegre) e a Sociedade Brasileira de
        Cirurgia Plástica Regional do Paraná.
      </p>
    </div>
  </div>
</div>

<div id="myModal2" class="modal">
  <div class="modalEquipe">
    <span class="close">&times;</span>
    <img src="/img/drraffaelemodal.jpg" alt="">
    <div class="modalText">
      <h2>DR. RAFFAELE<br>MURICY MARIGLIANO</h2>
      <p>
        Cirurgião Plástico, formado pela Pontifícia Universidade Católica do Paraná em 1987, CRM 10961.<br>
        Graduado em Cirurgia geral pelo Hospital da Cruz Vermelha Brasileira filial Paraná;<br>
        Graduado em Cirurgia Plástica pelo serviço do Dr. José Candido Muricy em Curitiba;<br>
        Graduado em Cirurgia Plástica pelo serviço do Dr. Antônio Costa Estima em Porto Alegre;<br>
        Membro especialista em Cirurgia Plástica pela sociedade Brasileira de Cirurgia Plástica em 1993 e titular em
        1995;<br>
        Especialista em Cirurgia Plástica pelo Conselho Regional de Medicina do Paraná;<br>
        Membro da Associação Brasileira da Cirurgia de Restauração Capilar;<br>
        Diretor proprietário da Clínica Marigliano de Cirurgia Plástica.
      </p>
    </div>
  </div>
</div>

<div id="myModal3" class="modal">
  <div class="modalEquipe">
    <span class="close">&times;</span>
    <img src="/img/drapriscilamodal.jpg" alt="">
    <div class="modalText">
      <h2>DRA. PRISCILA REGINA<br>ORSO REBELLATO</h2>
      <p>
        Graduada em Medicina pela Pontifícia Universidade Católica do Paraná (2010), residência médica em Clínica Médica
        pelo Hospital Regional Hans Dieter Schmidt (2014), especialização em Dermatologia pelo Hospital Universitário
        Evangélico de Curitiba (2016) e subespecialização em Tricologia, Cosmiatria e Laser pelo Serviço de Dermatologia
        do Hospital Universitário Evangélico Mackenzie de Curitiba (2017). Atualmente é colaboradora dos Ambulatórios de
        Dermatologia Pediátrica do Hospital Infantil Pequeno Príncipe e de Tricologia do Hospital Universitário
        Evangélico Mackenzie e faz atendimento em consultório particular.
      </p>
    </div>
  </div>
</div>

<div class="equipeHome">
  <div class="gallery">
    <button class="modalBtn">
      <figure class=”gallery__item gallery__item--1">
        <img src="/img/drmuricy.jpg" class="gallery__img" alt="Dr. José Candido Muricy">
      </figure>
    </button>
    <button class="modalBtn btn2">
      <figure class="gallery__item gallery__item--2">
        <img src="/img/drraffaele.jpg" class="gallery__img drraffaele" alt="Dr. Raffaele Muricy Marigliano">
      </figure>
    </button>
    <button class="modalBtn btn3">
      <figure class="gallery__item gallery__item--3">
        <img src="/img/drapriscila.jpg" class="gallery__img dra" alt="Dra. Priscila Rebellato">
      </figure>
    </button>
  </div>

  <div class="equipeText">
    <h2>EQUIPE</h2>
    <p>
      A sede em Curitiba - PR conta com grandes profissionais para cuidar da sua autoestima realizando a avaliação do
      seu
      caso com precisão e expertise nos melhores tratamentos e procedimentos para você.
      <br><br>
      Conheça os nossos profissionais:
    </p>
  </div>
</div>

<div class="brownboxHome">
  <h2>A SAÚDE E BELEZA PARA VOCÊ E SEUS CABELOS COM SERVIÇOS ESPECIALIZADOS
  </h2>
  <p>Atendimentos Clínicos para avaliar, investigar, tratar, cuidar e prevenir alopecias e eflúvios capilares
    acompanhados ou não de procedimentos cirúrgicos.
    <br><br>
    Cirurgias de Transplante Capilar com uma equipe especialista em técnicas inovadoras, tecnológicas e de alta precisão
    para um resultado mais natural (FUE). Realizamos megassessões utilizando a técnica BODY HAIR (com pelos do couro
    cabeludo e do corpo).
  </p>
</div>

<div class="servicosHome">
  <div class="servicosText">
    <div class="servicosTextbox">
      <h2>SERVIÇOS</h2>
      <p>Investimos em tecnologia, estrutura e profissionais altamente qualificados para que você tenha uma experiência
        mais sofisticada e exclusiva conosco.
        <br><br>
        Conheça os nossos serviços e surpreenda-se com o resultado de décadas de experiência no cuidado de saúde
        capilar:</p>
    </div>
    <div class="servicosBelowText">
      <a href="/tratamentos">
        <h4>ATENDIMENTO<br>CLÍNICO</h4>
      </a>
      <a href="/transplante-capilar">
        <h4>CIRURGIAS DE<br>TRANSPLANTE CAPILAR</h4>
      </a>
    </div>
  </div>
  <img src="/img/servicoshome.jpg" alt="">
</div>

<div class="agende-consulta">
  <a href="/avaliacao">FAÇA UMA AVALIAÇÃO</a>
</div>

{% include 'includecontato.njk' %}


<script>
  // Get the modal
  var modal = document.getElementsByClassName('modal');

  // Get the button that opens the modal
  var btn = document.getElementsByClassName("modalBtn");


  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close");

  // When the user clicks the button, open the modal 
  btn[0].onclick = function () {
    modal[0].style.display = "block";
  }

  btn[1].onclick = function () {
    modal[1].style.display = "block";
  }

  btn[2].onclick = function () {
    modal[2].style.display = "block";
  }
  // When the user clicks on <span> (x), close the modal
  span[0].onclick = function () {
    modal[0].style.display = "none";
  }

  span[1].onclick = function () {
    modal[1].style.display = "none";
  }

  span[2].onclick = function () {
    modal[2].style.display = "none";
  }
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal[0]) {
      modal[0].style.display = "none";
    }
    if (event.target == modal[1]) {
      modal[1].style.display = "none";
    }
    if (event.target == modal[2]) {
      modal[2].style.display = "none";
    }
  }

  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".bannerFlex", {
    x: -150,
    opacity: 0,
    duration: 2,
  })

  gsap.from(".gallery", {
    scrollTrigger: {
      trigger: ".gallery",
      start: "-50px bottom",
      end: "10%",
      toggleActions: "restart none reverse none",
      scrub: 1,
    },
    x: -150,
    opacity: 0,
    duration: 2,
  })

  gsap.from(".equipeText", {
    scrollTrigger: {
      trigger: ".equipeText",
      start: "-50px bottom",
      end: "0%",
      toggleActions: "restart none reverse none",
      scrub: 1,
    },
    x: 200,
    opacity: 0,
    duration: 2,
  })

  gsap.from(".brownboxHome", {
    scrollTrigger: {
      trigger: ".brownboxHome",
      start: "-50px bottom",
      end: "10%",
      toggleActions: "restart none reverse none",
      scrub: 1,
    },
    x: -150,
    opacity: 0,
    duration: 2,
  })

  gsap.from(".servicosText", {
    scrollTrigger: {
      trigger: ".servicosText",
      start: "-50px bottom",
      end: "10%",
      toggleActions: "restart none reverse none",
      scrub: 1,
    },
    x: -150,
    opacity: 0,
    duration: 2,
  })

  gsap.from(".flexContato", {
    scrollTrigger: {
      trigger: ".flexContato",
      start: "-50px bottom",
      end: "10%",
      toggleActions: "restart none reverse none",
      scrub: 1,
    },
    x: -150,
    opacity: 0,
    duration: 2,
  })

  gsap.from(".detalhes-contatos", {
    scrollTrigger: {
      trigger: ".flexContato",
      start: "-100px bottom",
      end: "0%",
      toggleActions: "restart none reverse none",
      scrub: 1,
    },
    x: 200,
    opacity: 0,
    duration: 2,
  })
</script>