---
title: Hospital Dr. Muricy
layout: "base.njk"
cssPath: "/css/main.css"
---

{% include 'nav.njk' %}

<section class="initial-banner">
  <div class="content">
    <h1>
      Primeiro Hospital do Paraná dedicado a cirurgias minimamente invasivas.
    </h1>
    <p class="only-desktop">
      Contamos com uma equipe multiprofissional de médicos, nutricionistas,
      farmacêuticos e enfermeiros, atuando sob as rigorosas normas estabelecidas
      pelo Hospital Dr Muricy, pela ANVISA e pelos padrões internacionais. 
    </p>

    <a
      class="bege-button only-desktop"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541999330086"
    >
      Fale com nossa equipe
    </a>
  </div>

  <picture>
    <source media="(max-width: 600px)" srcset="./img/banner-mobile.jpg" />
    <!-- <source type="image/webp" srcset="/img/banner-1.webp" /> -->
    <source
      media="(min-width: 601px)"
      type="image/jpg"
      srcset="/img/banner-1.jpg"
    />
    <img
      class="banner-img"
      src="/img/banner-1.jpg"
      alt="Foto do hospital Muricy"
    />
  </picture>
</section>

<section class="servicos" id="servicos">
  <div class="only-mobile">
    <p>
      Contamos com uma equipe multiprofissional de médicos, nutricionistas,
      farmacêuticos e enfermeiros, atuando sob as rigorosas normas estabelecidas
      pelo Hospital Dr Muricy, pela ANVISA e pelos padrões internacionais. 
    </p>
    <a
      class="bege-button"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541999330086"
    >
      Fale com nossa equipe
    </a>
  </div>
  <h2>NOSSOS SERVIÇOS</h2>
  <div class="content">
    <div class="left">
      <img src="../img/servicos1.png" alt="" />
      <p>
        Nossa estrutura ampla e moderna possibilita que médicos e suas equipes
        possam realizar todos os processos cirúrgicos com eficiência, segurança
        e conforto para seus pacientes.
      </p>
    </div>
    <div class="right">
      <img src="../img/servicos2.png" alt="" />
      <p>
        Além do centro cirúrgico e dos leitos de recuperação, disponibilizamos
        profissionais de saúde responsáveis pelo acompanhamento pré-cirúrgico e
        pós-imediato nos procedimentos. 
      </p>
    </div>
  </div>
</section>

<section class="estrutura" id="estrutura">
  <div class="left">
    <img src="../img/fachada.jpg" alt="" />
  </div>
  <div class="right">
    <h2>estrutura</h2>
    <p>
      Construído em área nobre, nosso hospital ocupa um espaço total de mais de
      4 mil m², distribuídos em cinco andares. 
    </p>
    <p>
      4 salas cirúrgicas, sendo uma ambulatorial e Unidade de Terapia
      Semi-Intensiva 
    </p>

    <p>20 leitos distribuídos em suítes, apartamentos e enfermarias</p>
  </div>
</section>

<section class="complexo">
  <div class="left">
    <div class="intro">
      <h2>COMPLEXO CIRÚRGICO</h2>
      <p>
        Composto por quatro salas panorâmicas altamente equipadas que possuem
        controle de iluminação externa e eliminação do efeito sombra, lâmpadas
        LED que permitem movimentação em 360º e mais de dez articulações,
        permitindo à equipe de saúde uma visão melhor do procedimento.
      </p>
      <p>
        Contamos com equipamento tipo torre para vídeo cirurgias minimamente
        invasivas, com sistema Full HD de imagem, farmácia satélite, área de
        recuperação anestésica e monitoramento por câmeras 24 horas. 
      </p>
    </div>
    <img class="imagem only-mobile" src="./img/cirurgico1.jpg" alt="" />
    <div class="suites">
      <h2>suítes</h2>
      <p>
        Não há nada melhor do que estar em casa. Pensando nisso, nossa estrutura
        conta com todo o conforto e acolhimento para que os nossos pacientes
        tenham uma experiência que seja o mais parecida possível à de se
        recuperar no conforto do próprio lar.
      </p>
      <p>Todas as nossas acomodações contam com:</p>
    </div>
  </div>
  <div class="right">
    <img class="imagem only-desktop" src="./img/cirurgico1.jpg" alt="" />
    <div class="itens">
      <div class="item">
        <img src="../img/item1.png" alt="" />
        <p>Cama hospitalar para o paciente e sofá-cama para acompanhante </p>
      </div>
      <div class="item">
        <img src="../img/item2.png" alt="" />
        <p>Armários com cofre embutido, mesas e cadeiras</p>
      </div>
      <div class="item">
        <img src="../img/item3.png" alt="" />
        <p>Ar condicionado (frio e quente) e frigobar</p>
      </div>
      <div class="item">
        <img src="../img/item4.png" alt="" />
        <p>
          Kit hotelaria com produtos de higiene pessoal, toalheiros térmicos e
          secadores de cabelo
        </p>
      </div>
      <div class="item">
        <img src="../img/item5.png" alt="" />
        <p>Enxoval completo de cama, mesa e banho </p>
      </div>
      <div class="item">
        <img src="../img/item6.png" alt="" />
        <p>Rede Wi-fi, TV e telefone</p>
      </div>
    </div>
  </div>
</section>

<section class="conforto">
  <div class="diferenciais">
    <h2>diferenciais</h2>
    <p>
      No Hospital Dr. Muricy, você recebe acompanhamento cuidadoso do início ao
      fim de sua estadia. Antes mesmo de chegar no Hospital, você receberá,
      online, todas as informações que necessita para sua cirurgia.
    </p>
  </div>

  <div class="seletor">
    <button class="selected" id="btnConforto" onclick="showContent('conforto')">
      Conforto
    </button>
    <button id="btnTecnologia" onclick="showContent('tecnologia')">
      Tecnologia
    </button>
    <button id="btnSeguranca" onclick="showContent('seguranca')">
      Segurança
    </button>
  </div>
  <div class="wrapTexto">
    <div id="content">
      <p>
        Nossos apartamentos seguem o conceito de máximo conforto, requinte e
        sofisticação, aliados ao bom gosto, modernidade e tecnologia.
      </p>
    </div>
    <img id="contentImage" src="./img/conforto.jpg" alt="Imagem de conforto" />
  </div>
</section>
<span class="separator"></span>
<section class="nossos-convenios">
  <h2>Nossos convênios</h2>
  <p>
    Além do atendimento particular, o Hospital Dr. Muricy atende alguns
    convênios. Para sua comodidade, verifique com seu plano a forma de liberação
    da sua cirurgia.
  </p>
  <div class="icons">
    <img src="./img/unimed.png" alt="" />
    <img src="./img/judicemed.png" alt="" />
    <img src="./img/sanepar.png" alt="" />
  </div>
  <a
    class="bege-button"
    target="_blank"
    href="https://api.whatsapp.com/send?phone=5541999330086"
  >
    saiba mais
  </a>
</section>

<section class="timeline" id="#historia">
  <div class="content">
    <h2>A história da família Muricy na medicina</h2>
    <img class="line" src="./img/svg/timeline.svg" alt="" />

    <div class="slider-container">
      <div class="swiper" id="Swiper2">
        <div class="swiper-wrapper points">
          <div class="point swiper-slide">
            <h4>
              O bisavô, Dr José Cândido da Silva Muricy, chega em Curitiba
            </h4>
            <p>1853</p>
          </div>

          <div class="point swiper-slide">
            <h4>
              Idealização do projeto e recursos para construção da Santa Casa de
              Misericórdia
            </h4>
            <p>1880</p>
          </div>

          <div class="point swiper-slide">
            <h4>O bisneto, Dr. Muricy, se forma em medicina</h4>
            <p>1968</p>
          </div>

          <div class="point swiper-slide">
            <h4>Hospital Day</h4>
            <p>1989</p>
          </div>

          <div class="point swiper-slide">
            <h4>
              A Dra Maria Angélica Muricy, 3º geração da família, se forma em
              medicina
            </h4>
            <p>1994</p>
          </div>

          <div class="point swiper-slide">
            <h4>Inauguração do Hospital Milton Muricy</h4>
            <p>1999</p>
          </div>
        </div>
      </div>
      <div class="nav-depo">
        <div class="video-button-prev">
          <img class="left" src="./img/svg/arrow-left.svg" alt="" />
        </div>
        <div class="video-button-next">
          <img src="./img/svg/arrow-right.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <img src="./img/svg/white-marca.svg" alt="" />
</section>

<section class="perguntas">
  <h2>Perguntas Frequentes</h2>

  <button type="button" class="collapsible">
    O Hospital aceita plano de saúde?
    <p class="symbol">+</p>
  </button>
  <div class="text-content">
    <p>
      Além do atendimento particular, o Hospital Dr. Muricy atende os convênios
      Unimed, Judicemed e Fundação Sanepar. Para sua comodidade, verifique com
      seu plano a forma de liberação da sua cirurgia.
    </p>
  </div>

  <button type="button" class="collapsible">
    O que faz o Hospital Muricy?
    <p class="symbol">+</p>
  </button>
  <div class="text-content">
    <p>
      Somos reconhecidos pela excelência em cirurgias minimamente invasivas.
      Nossa estrutura ampla e moderna possibilita que médicos e suas equipes
      possam realizar todos os processos cirúrgicos com eficiência, segurança e
      conforto para seus pacientes.
    </p>
  </div>

  <button type="button" class="collapsible">
    Como posso consultar no Hospital Muricy?
    <p class="symbol">+</p>
  </button>
  <div class="text-content">
    <p></p>
  </div>

  <button type="button" class="collapsible">
    Atende todas as especialidades?
    <p class="symbol">+</p>
  </button>
  <div class="text-content">
    <p></p>
  </div>

  <button type="button" class="collapsible">
    Como faço para operar no Hospital Muricy?
    <p class="symbol">+</p>
  </button>
  <div class="text-content">
    <p></p>
  </div>

  <button type="button" class="collapsible">
    O hospital é público ou particular?
    <p class="symbol">+</p>
  </button>
  <div class="text-content">
    <p>
      O Hospital Dr. Muricy é particular, atendendo também os convênios Unimed,
      Judicemed e Fundação Sanepar
    </p>
  </div>

  <button type="button" class="collapsible">
    Qual o horário de funcionamento?
    <p class="symbol">+</p>
  </button>
  <div class="text-content">
    <p></p>
  </div>

  <button type="button" class="collapsible">
    Criança pode entrar?
    <p class="symbol">+</p>
  </button>
  <div class="text-content">
    <p></p>
  </div>

  <button type="button" class="collapsible">
    Tem acompanhante?
    <p class="symbol">+</p>
  </button>
  <div class="text-content">
    <p>
      A permanência de acompanhantes nos quartos de recuperação é permitida. É
      preciso ficar atento às normas e horários do hospital, repassados pela
      equipe antes do internamento.
    </p>
  </div>
</section>

<div class="whatsapp">
  <a href="https://wa.me/5541999330086" target="_blank">
    <img
      src="../img/svg/WHATSAPP.svg"
      class="whatsapp"
      alt="Icone do Whatsapp"
    />
  </a>
</div>

<script>
  var swiper = new Swiper("#Swiper", {
    // Navigation arrows
    navigation: {
      nextEl: ".video-button-next",
      prevEl: ".video-button-prev",
    },
    loop: true,
    breakpoints: {
      // when window width is >= 480px
      600: {
        slidesPerView: 1,
        spaceBetween: 0,
        width: 300,
      },
      // when window width is >= 1600px
      1000: {
        slidesPerView: 1,
        spaceBetween: 0,
      },
    },
  });

  var swiper = new Swiper("#Swiper2", {
    loop: false,
    navigation: {
      nextEl: ".video-button-next",
      prevEl: ".video-button-prev",
    },
    breakpoints: {
      // when window width is >= 480px
      100: {
        slidesPerView: "auto",
        spaceBetween: 100,
      },
      // when window width is >= 1600px
      1000: {
        slidesPerView: "auto",
        spaceBetween: 100
      }
    }
  });

  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var el = this.children;
      if (this.classList[1]) {
        el[0].innerText = "-";
      } else {
        el[0].innerText = "+";
      }

      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }

  var url = new URL(window.location.href);
  var scrollTo = url.hash;
  document.getElementById(scrollTo)?.scrollIntoView({ behavior: 'smooth' });

  document.addEventListener("DOMContentLoaded", function () {
    var currentDate = new Date();
    var targetDate = new Date("2024-01-10");

    console.log(currentDate < targetDate)
    if (currentDate < targetDate) {
      document.getElementById("popup").style.display = "block";
    }
  });

  // Function to close the popup
  function closePopup() {
    document.getElementById("popup").style.display = "none";
  }
</script>

{% include 'footer.njk' %}
