---
title: 
layout: "base-lp.njk"
cssPath: "/css/build/landing-page.css"
---

<div class="LPFlex">
  <h2 class="landingPageTitle">Escolha uma unidade</h2>
  <span></span>
</div>

<div class="LPCidadesFlex">
  <div class="cwb">
    <a href="/home">
      <img src="/img/curitiba.jpg" alt="">
      <h2>CURITIBA</h2>
    </a>
  </div>
  <div class="sao">
    <a href="http://www.clinicamuricy.com.br/sp/">
      <img src="/img/saopaulo.jpg" alt="">
      <h2>SÃO PAULO</h2>
    </a>
  </div>
</div>