---
title: Clínica Muricy - Transplante Capilar
layout: "base-new.njk"
cssPath: "/css/lp.css"
---
<header>
    <img class="background only-desktop" src="../img/new-lp/header.png" alt="">
    <img class="background only-mobile" src="../img/new-lp/header-mob.png" alt="">
    <img class="logo" src="../img/new-lp/logo.svg" alt="">
    <div class="header-text">
        <h3>Recupere seu cabelo e sua autoconfiança com o</h3>
        <h1>Protocolo Muricy</h1>
        <p>Com mais de 30 anos de experiência, já ajudamos mais de 9.000 pacientes a conquistarem resultados naturais e duradouros com nosso protocolo exclusivo.<br/>Agende agora sua avaliação e inicie a sua transformação.</p>
        <a href="" class="purpleButton">Agende sua consulta</a>
    </div>
</header>

<section class="antes">
    <div class="antes-intro">
        <h3>
            Homens que confiaram na Clínica Muricy e
        </h3>
        <h2>Transformaram suas vidas</h2>
    </div>
    <div class="wrap-antes">
        <h1>Antes</h1>
        <img src="../img/new-lp/e.svg" alt="e">
        <h1>Depois</h1>
    </div>
    <div class="images">
        <img src="../img/new-lp/antes1.png" alt="">
        <img src="../img/new-lp/depois1.png" alt="">
    </div>
    <p>Megasessão cirúrgica (especialidade da Clínica Muricy), em que utilizamos por volta de 6 mil unidades foliculares (aproximadamente 12 mil fios).</p>
    <a href="" class="purpleButton">Agende sua transformação</a>
    <div class="images">
        <img src="../img/new-lp/antes2.png" alt="">
        <img src="../img/new-lp/depois2.png" alt="">
    </div>
    <p>Paciente operado há um ano utilizando-se a técnica FUE (follicular unit extraction) tendo como áreas doadoras o couro cabeludo, barba, pêlos do tórax e abdomen (BODY HAIR).</p>
    <a href="" class="purpleButton">Agende sua transformação</a>
    <div class="box" id="testemunho">
        <img src="../img/new-lp/aspas.svg" alt="aspas">
        <div class="text-content">
            <p>Tenho 46 anos e comecei a perder cabelo aos 19. Aos 30, já tinha calvície avançada e, aos 40, só restavam fios nas laterais. Tentei diversos tratamentos, mas nada funcionou, então desisti. Em 2022, um amigo fez implante na Clínica Muricy e insistiu para eu fazer uma consulta com o Dr. Muricy. No começo, duvidei do resultado, mas com o tempo o cabelo dele cresceu bem, e ele parecia muito mais jovem, com um resultado natural.</p>
            <p>Em dezembro de 2023, tomei coragem e fiz meu primeiro implante. Como minha calvície era de grau 7 (aprendi isso na clínica), demorou para crescer, então decidimos fazer outra cirurgia em maio de 2024. Hoje, meu cabelo está natural, volumoso, e quem me conhecia antes fica surpreso com o resultado. Até quem não me conhecia antes não acredita que fiz implante, só acreditando quando mostro a foto antiga da minha CNH.</p>
            <p>Estou muito satisfeito com o resultado e com a segurança do procedimento na Clínica Muricy. O tratamento é feito em um centro cirúrgico bem estruturado e a clínica se destaca pelo aspecto natural dos resultados, que me deram confiança, ao contrário de outros lugares que vi amigos frequentarem. Quem é calvo tem receio de que o cabelo implantado pareça artificial, mas na Clínica Muricy, a naturalidade é garantida.</p>
            <h5>(Odair, Curitiba/PR)</h5>
        </div>
        <button class="read-more-btn only-mobile">Continue lendo</button>
    </div>
    <h4>Quer resultados como esses? Agende sua avaliação agora mesmo</h4>
    <a href="" class="purpleButton">Agende sua consulta</a>
    <img class="linha-direita only-desktop" src="../img/new-lp/linha-direita.png" alt="">
    <img class="linha-esquerda only-desktop" src="../img/new-lp/linha-esquerda.png" alt="">
</section>

<section class="espaco">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="card">
                    <div class="left">
                        <h3>um espaço exclusivo</h3>
                        <h1>para Cuidar de Você e dos Seus Fios/Cabelo</h1>
                        <p>Localizada dentro do Hospital Muricy, nossa clínica foi projetada para oferecer o máximo de conforto e sofisticação. Cada detalhe do ambiente foi pensado para criar uma experiência acolhedora e segura para nossos pacientes.</p>
                    </div>
                    <div class="right">
                        <img src="../img/new-lp/slide1.png" alt="">
                    </div>
                </div>
                <img src="../img/new-lp/linha-card1.svg" alt="">
            </div>
            <div class="swiper-slide">
                <div class="card">
                    <div class="right">
                        <img src="../img/new-lp/slide2.png" alt="">
                    </div>
                    <div class="left">
                        <h1>Experiência de 30 anos</h1>
                        <p>Equipe médica liderada pelo Dr. Muricy, referência nacional em transplantes capilares.</p>
                    </div>
                </div>
                <img src="../img/new-lp/linha-card2.svg" alt="">
            </div>
            <div class="swiper-slide">
                <div class="card">
                    <div class="left">
                        <h1>Time especializado</h1>
                        <p>Localizada dentro do Hospital Muricy, nossa clínica foi projetada para oferecer o máximo de conforto e sofisticação. Cada detalhe do ambiente foi pensado para criar uma experiência acolhedora e segura para nossos pacientes.</p>
                        <h1>segurança total</h1>
                        <p>Realizamos todos os procedimentos dentro do Hospital Muricy, com suporte de uma equipe de anestesiologia e monitoramento contínuo, garantindo total segurança para você.</p>
                    </div>
                    <div class="right">
                        <img src="../img/new-lp/slide3.png" alt="">
                    </div>
                </div>
                <img src="../img/new-lp/linha-card1.svg" alt="">
            </div>
            <div class="swiper-slide">
                <div class="card">
                    <div class="right">
                        <img src="../img/new-lp/slide4.png" alt="">
                    </div>
                    <div class="left">
                        <h1>consultórios modernos</h1>
                        <p>Salas equipadas com tecnologia de ponta.</p>
                        <h1>ambiente sofisticado</h1>
                        <p>Atendimento em um espaço que transmite tranquilidade e profissionalismo.</p>
                    </div>
                </div>
                <img src="../img/new-lp/linha-card2.svg" alt="">
            </div>
            <div class="swiper-slide">
                <div class="card">
                    <div class="left">
                        <h1>setor exclusivo hair care</h1>
                        <p>Espaço dedicado ao cuidado integral dos fios e couro cabeludo.</p>
                        <h1>acompanhamento com tricologista</h1>
                        <p>Após o transplante você será acompanhado por um dermatologista tricologista dando continuidade ao tratamento capilar.</p>
                    </div>
                    <div class="right">
                        <img src="../img/new-lp/slide5.png" alt="">
                    </div>
                </div>
                <img src="../img/new-lp/linha-card1.svg" alt="">
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>

<section class="tecnologia">
    <div class="tecnologia-intro">
        <h3>tecnologia e expertise</h3>
        <h2>Para resultados naturais e duradouros</h2>
        <p>A Clínica Muricy oferece mais do que um simples transplante capilar. Aqui, unimos técnica, inovação e cuidado para proporcionar resultados que elevam sua autoconfiança.</p>
    </div>
    <div class="wrap-body">
        <img class="only-desktop" src="../img/new-lp/body.png" alt="">
        <div class="right-body">
            <h3>técnica</h3>
            <img class="only-mobile body" src="../img/new-lp/body.png" alt="">
            <p>Na Clínica Muricy, temos ampla experiência com a técnica de <b>body hair (pelos corporais)</b> no transplante capilar, já realizando mais de 1.000 procedimentos. Essa abordagem é ideal para preencher áreas calvas, especialmente em pacientes com quantidade insuficiente de folículos na região doadora. Nossos cirurgiões são altamente qualificados, garantindo resultados naturais e precisos.</p>
            <a href="" class="purpleButton">Agende sua consulta</a>
            <img class="texto-img" src="../img/new-lp/texto-body.svg" alt="">
        </div>
    </div>
    <p>O <b>body hair</b> é um procedimento cirúrgico utilizado quando o paciente não tem área doadora suficiente no couro cabeludo para o transplante capilar. Nesse caso, o cirurgião avalia outras áreas, como barba, tórax, abdômen, costas ou pelos pubianos, para serem doadoras de unidade folicular. 
        <br/>
        Em alguns casos, é uma forma de preservar a área doadora do couro cabeludo para procedimentos futuros. Estes pelos são retirados, selecionados e distribuídos na região a serem transplantados, de forma que sejam mesclados com unidades foliculares do couro cabeludo.
    </p>
    <div class="tecnologia-quem">
        <h2>Para quem é indicado?</h2>
        <div class="wrap-itens">
            <div class="item">
                <img src="../img/new-lp/alopecia.png" alt="">
                <p>Pessoas com nível mais avançado de alopecia.</p>
            </div>
            <div class="item">
                <img src="../img/new-lp/anteriores.png" alt="">
                <p>Pessoas que já realizaram múltiplos transplantes capilares anteriores.</p>
            </div>
            <div class="item">
                <img src="../img/new-lp/calvicie.png" alt="">
                <p>Pessoas que sofrem com calvície avançada grau 5 ou 6.</p>
            </div>
        </div>
    </div>
    <div class="outros">
        <h1>outros tratamentos</h1>
        <div class="swiper-outros">
            <div class="buttons">
                <div class="swiper-outros-prev">
                    <img src="../img/new-lp/arrow-back.svg" alt="">
                </div>
                <div class="swiper-outros-next">
                    <img src="../img/new-lp/arrow-forward.svg" alt="">
                </div>
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card-outros card-open" data-modal="modal-barba">
                        <img src="../img/new-lp/barba.png" alt="">
                        <h3>Transplante de barba</h3>
                        <p class="begeButton">Veja mais</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card-outros card-open" data-modal="modal-sobrancelha">
                        <img src="../img/new-lp/sobrancelha.png" alt="">
                        <h3>Transplante de sobrancelhas</h3>
                        <p class="begeButton">Veja mais</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card-outros card-open data-modal="modal-detox">
                        <img src="../img/new-lp/detox.png" alt="">
                        <h3>Detox (Terapia Capilar)</h3>
                        <p class="begeButton">Veja mais</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card-outros card-open" data-modal="modal-eletroporacao">
                        <img src="../img/new-lp/terapia.png" alt="">
                        <h3>Eletroporação (Terapia Capilar)</h3>
                        <p class="begeButton">Veja mais</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <article id="modal-barba">
        <div class="tecnologia-modal">
            <div class="modal-card">
              <div class="modal-wrap">
                <img src="../img/new-lp/barba.png" alt="">
                <div class="modal-text">
                    <h1>Transplante de Barba</h1>
                    <p>
                        O transplante de barba é a solução ideal para quem deseja preencher falhas ou conquistar um visual mais definido. Com técnicas avançadas, os fios são implantados de forma precisa, garantindo um resultado natural e harmônico. Agende uma avaliação e transforme sua aparência com segurança e sofisticação!
                    </p>
                    <a href="" class="whiteButton">Agende sua consulta</a>
                </div>
                <img class="close-arrow modal-close" src="../img/new-lp/close.svg" alt="" />
    
              </div>
              <img src="../img/new-lp/linha-modal.png" alt="">
            </div>
          </div>
      </article>
    
    <article id="modal-sobrancelha">
        <div class="tecnologia-modal">
            <div class="modal-card">
                <div class="modal-wrap">
                    <img src="../img/new-lp/sobrancelha.png" alt="">
                    <div class="modal-text">
                        <h1>Transplante de Sobrancelha</h1>
                        <p>
                            O transplante de sobrancelha é a solução ideal para preencher falhas e redefinir o olhar com fios naturais e permanentes. Com técnicas avançadas, criamos um design harmônico e personalizado para valorizar sua expressão. Agende uma avaliação e descubra o poder de sobrancelhas bem definidas!
                        </p>
                        <a href="" class="whiteButton">Agende sua consulta</a>
                    </div>
                    <img class="close-arrow modal-close" src="../img/new-lp/close.svg" alt="" />
                  </div>
                  <img src="../img/new-lp/linha-modal.png" alt="">
            </div>
          </div>
    </article>
    
    <article id="modal-detox">
        <div class="tecnologia-modal">
            <div class="modal-card">
                <div class="modal-wrap">
                    <img src="../img/new-lp/detox.png" alt="">
                    <div class="modal-text">
                        <h1>Detox</h1>
                        <img src="../img/new-lp/terapia-font.svg" alt="">
                        <p>
                            Nosso tratamento detox capilar combina benefícios essenciais para a saúde dos fios e do couro cabeludo:
                        </p>
                        <ul>
                            <li>
                                <b>Limpeza:</b> promove a limpeza profunda do couro cabeludo
                            </li>
                            <li>
                                <b>Crescimento:</b> ativa a circulação sanguínea, fortalecendo os folículos e incentivando o crescimento de fios mais fortes.
                            </li>
                            <li>
                                <b>Ação Calmante:</b> reduz inflamações e desconfortos, aliviando a sensibilidade do couro cabeludo.
                            </li>
                            <li>
                                <b>Nutrição e Hidratação:</b> revitaliza a fibra capilar, deixando os fios mais macios, brilhantes e resistentes.
                            </li>
                        </ul>
                        <a href="" class="whiteButton">Agende sua consulta</a>
                        
                    </div>
                    <img class="close-arrow modal-close" src="../img/new-lp/close.svg" alt="" />
                  </div>
                  <img src="../img/new-lp/linha-modal.png" alt="">
            </div>
          </div>
    </article>
    
    <article id="modal-eletroporacao">
        <div class="tecnologia-modal">
            <div class="modal-card">
                <div class="modal-wrap">
                    <img src="../img/new-lp/terapia.png" alt="">
                    <div class="modal-text">
                        <h1>ELETROPORAÇÃO</h1>
                        <img src="../img/new-lp/terapia-font.svg" alt="">
                        <p>
                            A eletroporação capilar utiliza impulsos elétricos para estimular os folículos e potencializar a absorção de ativos, promovendo fios mais fortes, hidratados e brilhantes.Benefícios:
                        </p>
                            
                        <ul>
                            <li>
                                Estimula o crescimento capilar
                            </li>
                            <li>
                                Reduz a queda e fortalece os fios
                            </li>
                            <li>
                                Aumenta a densidade e espessura
                            </li>
                            <li>
                                Hidrata profundamente e devolve o brilho
                            </li>
                        </ul>
                        <a href="" class="whiteButton">Agende sua consulta</a>
                    </div>
                    <img class="close-arrow modal-close" src="../img/new-lp/close.svg" alt="" />
    
                  </div>
                  <img src="../img/new-lp/linha-modal.png" alt="">
            </div>
          </div>
    </article>

    <h3>Descubra como podemos transformar a sua autoconfiança.</h3>
    <a href="" class="purpleButton">Saiba Mais</a>
</section>

<section class="profissionais">
    <img src="../img/new-lp/linha-direita.svg" alt="">
    <div class="intro-profissionais">
        <h3>Nossos profissionais</h3>
        <h2>Nossa equipe médica é reconhecida <b>nacionalmente</b> em <b>transplantes capilares</b></h2>
        <p>Nossa equipe é liderada pelo Dr. Muricy, referência em transplantes capilares há mais de 30 anos. Com uma trajetória marcada por inovações e cuidado excepcional, nossos médicos são dedicados a oferecer os melhores resultados para cada paciente.</p>
        <div class="wrap-profissionais">
            <div class="item-profissionais">
                <img src="../img/new-lp/equipe.svg" alt="">
                <h4>Equipe especializada</h4>
                <p>Profissionais com ampla experiência em transplantes capilares e tratamentos de alopecia.</p>
            </div>
            <div class="item-profissionais">
                <img src="../img/new-lp/equipe.svg" alt="">
                <h4>Atenção Integral</h4>
                <p>Diagnóstico, tratamento e acompanhamento completo para garantir sua satisfação e confiança.</p>
            </div>
        </div>
    </div>

    <div class="cards">
        <div class="card-profissionais" data-modal="modal-dr-muricy">
            <div class="wrap-profissionais">
                <article id="modal-dr-muricy">
                  <div class="card-open">
                    <img src="../img/new-lp/dr-muricy.png" alt="">
                    <h5>Dr. José Candido Muricy</h5>
                    <p>CRM 2317 | RQE 539</p>
                    <a href="" class="whiteButton">Veja mais</a>
                </div>
            
                <div class="tecnologia-modal">
                    <div class="modal-card">
                      <div class="modal-wrap">
                        <img src="../img/new-lp/dr-muricy.png" alt="">
                        <div class="modal-text">
                            <h1>Dr. José Candido Muricy</h1>
                            <h3>CRM 2317 | RQE 539</h3>
                            <p>
                                Médico formado pela UFPR, Dr. Muricy é um dos maiores especialistas em cirurgia corretiva da calvície no Brasil. Iniciou sua especialização em cirurgia plástica na década de 80, com estágios internacionais com renomados cirurgiões, como o Dr. Jaime Planas (Barcelona) e Dr. José Guerrero Santos (México). Participou de mais de uma centena de cursos e congressos da Sociedade Brasileira de Cirurgia Plástica e da International Society of Hair Restoration Surgery. É membro fundador e ex-presidente da Associação Brasileira de Cirurgia da Restauração Capilar (ABCRC).
                            </p>
                        </div>
                        <img class="close-arrow modal-close" src="../img/new-lp/close.svg" alt="" />
            
                      </div>
                      <img src="../img/new-lp/card-profissionais.svg" alt="">
                    </div>
                  </div>
                </article>
              </div>
        </div>
        <div class="card-profissionais" data-modal="modal-dr-raffaele">
            <div class="wrap-profissionais">
                <article id="modal-dr-raffaele">
                  <div class="card-open">
                    <img src="../img/new-lp/dr-raffaele.png" alt="">
                    <h5>DR. Raffaele Muricy Marigliano</h5>
                    <p>CRM 10961 | RQE 4266</p>
                    <a href="" class="whiteButton">Veja mais</a>
                </div>
            
                <div class="tecnologia-modal">
                    <div class="modal-card">
                      <div class="modal-wrap">
                        <img src="../img/new-lp/dr-raffaele.png" alt="">
                        <div class="modal-text">
                            <h1>DR. Raffaele Muricy Marigliano</h1>
                            <h3>CRM 10961 | RQE 4266</h3>
                            <p>
                                Cirurgião Plástico formado pela Pontifícia Universidade Católica do Paraná (1987), CRM 10961. Especializado em Cirurgia Geral pelo Hospital da Cruz Vermelha Brasileira (PR) e em Cirurgia Plástica pelos serviços do Dr. José Candido Muricy (Curitiba) e Dr. Antônio Costa Estima (Porto Alegre). Membro especialista e titular da Sociedade Brasileira de Cirurgia Plástica (1993-1995) e especialista pelo Conselho Regional de Medicina do Paraná. Membro da Associação Brasileira de Cirurgia de Restauração Capilar.
                            </p>
                        </div>
                        <img class="close-arrow modal-close" src="../img/new-lp/close.svg" alt="" />
            
                      </div>
                      <img src="../img/new-lp/card-profissionais.svg" alt="">
                    </div>
                  </div>
                </article>
              </div>
        </div>
        <div class="card-profissionais" data-modal="modal-dra-priscila">
            <div class="wrap-profissionais">
                <article id="modal-dra-priscila">
                  <div class="card-open">
                    <img src="../img/new-lp/dra-priscila.png" alt="">
                    <h5>Dra. Priscila Rebellato</h5>
                    <p>CRM 27694 | RQE 21203</p>
                    <a href="" class="whiteButton">Veja mais</a>
                </div>
            
                <div class="tecnologia-modal">
                    <div class="modal-card">
                      <div class="modal-wrap">
                        <img src="../img/new-lp/dra-priscila.png" alt="">
                        <div class="modal-text">
                            <h1>Dra. Priscila Rebellato</h1>
                            <h3>CRM 27694 | RQE 21203</h3>
                            <p>
                                Graduada em Medicina pela Pontifícia Universidade Católica do Paraná (2010), com residência em Clínica Médica (Hospital Regional Hans Dieter Schmidt, 2014) e especialização em Dermatologia (Hospital Universitário Evangélico de Curitiba, 2016). Possui subespecialização em Tricologia, Cosmiatria e Laser (Hospital Universitário Evangélico Mackenzie, 2017). Atualmente, é colaboradora nos Ambulatórios de Dermatologia Pediátrica do Hospital Infantil Pequeno Príncipe e de Tricologia do Hospital Universitário Evangélico Mackenzie.
                            </p>
                        </div>
                        <img class="close-arrow modal-close" src="../img/new-lp/close.svg" alt="" />
            
                      </div>
                      <img src="../img/new-lp/card-profissionais.svg" alt="">
                    </div>
                  </div>
                </article>
              </div>
        </div>
    </div>
</section>

<section class="pre-footer">
    <p>Confie sua transformação a quem entende de transplante capilar. Agende sua consulta agora mesmo!</p>
    <a href="" class="purpleButton"> Agende sua consulta</a>
</section>

<footer>
    <div class="footer">
        <img src="../img/new-lp/footer.svg" alt="">
        <div class="wrap-info">
            <div class="left">
                <p>(41) 3242-8371</p>
                <p>Rua Pedro Collere, Nº 35 | Esquina com Avenida Presidente Getúlio Vargas
                    <br/>
                    Curitiba - PR
                </p>
            </div>
            <div class="middle">
                <a href=""><img src="../img/new-lp/whatsapp.svg" alt=""></a>
                <a href="https://www.instagram.com/clinica_muricy/"><img src="../img/new-lp/instagram.svg" alt=""></a>
            </div>
            <div class="right">
                <a href="https://www.namiconsultoria.com.br/" target="_blank">
                    Desenvolvido por Nami Consultoria
                </a>
            </div>
        </div>
    </div>
</footer>

<script>
    const swiper = new Swiper(".swiper", {
      spaceBetween: 0,
      slidesPerView: "1",
      loop: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });

    const swiperOutros = new Swiper(".swiper-outros", {
      spaceBetween: 20,
      slidesPerView: "auto",
      loop: true,
      navigation: {
        nextEl: '.swiper-outros-next',
        prevEl: '.swiper-outros-prev',
      },
    });
  
  </script>

  <!-- script para criacao do modal tecnologia -->
  <script>
    // Seleciona todos os botões de abrir
    const openButtons = document.querySelectorAll(".card-open");
    // Seleciona todos os modais na ordem
    const modals = document.querySelectorAll(".tecnologia-modal");
    // Seleciona todos os botões de fechar dentro dos modais
    const closeButtons = document.querySelectorAll(".modal-close");
  
    openButtons.forEach((button, index) => {
      button.addEventListener("click", (e) => {
        e.preventDefault(); // previne clique em links
        // Fecha todos os modais antes de abrir o novo
        modals.forEach(modal => modal.classList.remove("active-modal"));
        // Abre o modal correspondente
        modals[index].classList.add("active-modal");
      });
    });
  
    // Fecha ao clicar no botão de fechar
    closeButtons.forEach((btn) => {
      btn.addEventListener("click", () => {
        btn.closest(".tecnologia-modal").classList.remove("active-modal");
      });
    });
  
    // Fecha se clicar fora do conteúdo do modal
    modals.forEach(modal => {
      modal.addEventListener("click", (e) => {
        if (e.target === modal) {
          modal.classList.remove("active-modal");
        }
      });
    });
  </script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
      const button = document.querySelector('.read-more-btn');
      const box = document.getElementById('testemunho');
  
      button.addEventListener('click', function () {
        box.classList.toggle('expanded');
        button.textContent = box.classList.contains('expanded') ? 'Mostrar menos' : 'Continue lendo';
      });
    });
  </script>