---
title:
layout: "base-new.njk"
cssPath: "/css/lp.css"
---
<header>
    <img class="background" src="../img/new-lp/header.png" alt="">
    <img class="logo" src="../img/new-lp/logo.svg" alt="">
    <div class="header-text">
        <h3>Recupere seu cabelo e sua autoconfiança com o</h3>
        <h1>Protocolo Muricy</h1>
        <p>Com mais de 30 anos de experiência, já ajudamos mais de 9.000 pacientes a conquistarem resultados naturais e duradouros com nosso protocolo exclusivo.<br/>Agende agora sua avaliação e inicie a sua transformação.</p>
        <a href="" class="purpleButton">Agende sua consulta</a>
    </div>
</header>

<section class="antes">
    <div class="antes-intro">
        <h3>
            Homens que confiaram na Clínica Muricy e
        </h3>
        <h2>Transformaram suas vidas</h2>
    </div>
    <div class="wrap-antes">
        <h1>Antes</h1>
        <img src="../img/new-lp/e.svg" alt="e">
        <h1>Depois</h1>
    </div>
    <div class="images">
        <img src="../img/new-lp/antes1.png" alt="">
        <img src="../img/new-lp/depois1.png" alt="">
    </div>
    <p>Megasessão cirúrgica (especialidade da Clínica Muricy), em que utilizamos por volta de 6 mil unidades foliculares (aproximadamente 12 mil fios).</p>
    <a href="" class="purpleButton">Agende sua transformação</a>
    <div class="images">
        <img src="../img/new-lp/antes2.png" alt="">
        <img src="../img/new-lp/depois2.png" alt="">
    </div>
    <p>Paciente operado há um ano utilizando-se a técnica FUE (follicular unit extraction) tendo como áreas doadoras o couro cabeludo, barba, pêlos do tórax e abdomen (BODY HAIR).</p>
    <a href="" class="purpleButton">Agende sua transformação</a>
    <div class="box">
        <img src="../img/new-lp/aspas.svg" alt="aspas">
        <p>Tenho 46 anos e comecei a perder cabelo aos 19. Aos 30, já tinha calvície avançada e, aos 40, só restavam fios nas laterais. Tentei diversos tratamentos, mas nada funcionou, então desisti. Em 2022, um amigo fez implante na Clínica Muricy e insistiu para eu fazer uma consulta com o Dr. Muricy. No começo, duvidei do resultado, mas com o tempo o cabelo dele cresceu bem, e ele parecia muito mais jovem, com um resultado natural.</p>
        <p>Em dezembro de 2023, tomei coragem e fiz meu primeiro implante. Como minha calvície era de grau 7 (aprendi isso na clínica), demorou para crescer, então decidimos fazer outra cirurgia em maio de 2024. Hoje, meu cabelo está natural, volumoso, e quem me conhecia antes fica surpreso com o resultado. Até quem não me conhecia antes não acredita que fiz implante, só acreditando quando mostro a foto antiga da minha CNH.</p>
        <p>Estou muito satisfeito com o resultado e com a segurança do procedimento na Clínica Muricy. O tratamento é feito em um centro cirúrgico bem estruturado e a clínica se destaca pelo aspecto natural dos resultados, que me deram confiança, ao contrário de outros lugares que vi amigos frequentarem. Quem é calvo tem receio de que o cabelo implantado pareça artificial, mas na Clínica Muricy, a naturalidade é garantida.</p>
        <h5>(Odair, Curitiba/PR)</h5>
    </div>
    <p>Quer resultados como esses? Agende sua avaliação agora mesmo</p>
    <a href="" class="purpleButton">Agende sua consulta</a>
    <img class="linha-direita" src="../img/new-lp/linha-direita.png" alt="">
    <img class="linha-esquerda" src="../img/new-lp/linha-esquerda.png" alt="">
</section>

<section class="espaco">
    
</section>