---
title: Nossa História
layout: "base.njk"
cssPath: "/css/build/home.css"
---

<section>
  <div class="institucionalFlex">
    <h2>INSTITUCIONAL</h2>
    <img src="/img/institucional.jpg" alt="">
  </div>
  <div class="purpleBox">
    <p class="purpleText">
      Somos especialistas em transplante capilar (termo também conhecido como transplante de cabelo, implante capilar ou
      implante de cabelo) e tratamento clínico da queda dos cabelos, para homens e mulheres, utilizando técnicas
      modernas e avançadas. Com mais de três décadas de especialização, nossos serviços conferem credibilidade, confiabilidade e segurança.
      São milhares de pacientes atendidos e tratados cirurgicamente, vindos do Brasil e do exterior.
    <br><br>
      A Clínica Muricy foi fundada pelo cirurgião plástico Dr. José Candido Muricy, o primeiro cirurgião a se
      especializar em megassessão no Brasil e um dos primeiros a realizar a técnica de transplante capilar no Paraná. É
      reconhecido mundialmente entre seus pares. A Clínica Muricy possui 2 unidades: em Curitiba, sob a responsabilidade do Dr. José Candido Muricy, e em São
      Paulo, dirigida pela Dra. Maria Angélica Muricy Sanseverino.
    </p>
  </div>
</section>