---
title: Orientações
layout: "base.njk"
cssPath: "/css/build/orientacoes.css"
---

<section class="orientacoes-banner">
  <img src="/img/banner-orientacoes.jpg" alt="">
  <h1>orientações</h1>
  <h4>Conheça todas as etapas para que a sua cirurgia de Transplante <br/> Capilar seja ainda mais segura e tranquila:  </h4>
</section>

<div class="banner-nav">
  <a href="" class="active">pré-operatório</a>
  <a href="">pós-operatório</a>
</div>

<section class="pre-operatorio">
  <div class="title-container">
    <h2>pré-operatório</h2>
    <span class="full-horizontal-line"></span>
  </div>

  <div class="conteudo">
    <div>
      <p>
        Antes da realização da cirurgia de mega ou gigatransplante de unidades foliculares, o paciente é avaliado e orientado para o procedimento.<br/><br/>

        Primeiramente  é submetido a uma avaliação clínica para identificar o seu tipo de cabelo e densidade pilosa da região doadora através da DENSITOMETRIA CAPILAR e extensão da área calva.<br/><br/>

        Se indicada a cirurgia, solicitamos exames laboratoriais, eletrocardiograma e teste de esforço cardíaco, avaliação clínica pré-operatória e avaliação pré-anestésica. Antes do procedimento cirúrgico também é feita a sessão de fotografias para a avaliação e delimitação da área calva. Posteriormente, estas fotos serão comparadas às do pós-operatório, para análise do resultado obtido na cirurgia.
      </p>

      <img src="/img/pre-op.jpg" alt="">
    </div>

    <p class="text-bottom">A equipe da Clínica Muricy  orientará quanto a medicação a ser utilizada no pré e no pós-operatório. Os medicamentos receitados devem ser tomados corretamente, como complemento do procedimento cirúrgico.</p>
  </div>
</section>

<section class="gray-box">
  <div>
    <p><b>Não devem ser utilizados</b></p>       
    <span class="horizontal-line"></span>
  </div>

  <ul>
    <li>Aspirina por duas semanas antes da cirurgia.</li>
    <li>Minoxidil por 10 dias antes da cirurgia</li>
    <li>Vitamina E (complexos vitamínicos gérmem de trigo, nozes) por três semanas antes da cirurgia</li>
    <li>Álcool por uma semana antes da cirurgia</li>
    <li>Glutamato de monossódico (molho chamado Shoyo usado na culinária japonesa) por uma semana antes da cirurgia</li>
    <li>Drogas proibidas por uma semana antes da cirurgia</li>
    <li>Ginko-biloba e anti-inflamatórios por duas semanas antes da cirurgia</li>
    <li>Cigarro 15 dias antes da cirurgia</li>
  </ul>

</section>