---
permalink: '/robots.txt'
eleventyExcludeFromCollections: true
---

# Allow all user agents. 
User-agent: * 
Allow: /  

User-agent: * 
Disallow: /wp-content/*  

User-agent: * 
Disallow: /wp-admin/*