---
permalink: '/robots.txt'
eleventyExcludeFromCollections: true
---

# Allow all user agents. 
User-agent: * 
Allow: /  

User-agent: * 
Disallow: /wp-content/*  

User-agent: * 
Disallow: /wp-admin/*

User-agent: * 
Disallow: /noticias

User-agent: * 
Disallow: /a-clinica

User-agent: * 
Disallow: /doutores

User-agent: * 
Disallow: /trabalhe-conosco

User-agent: * 
Disallow: /clipping

User-agent: * 
Disallow: /duvidas

User-agent: * 
Disallow: /mitos-e-verdades

User-agent: * 
Disallow: /historico