---
title: Técnica
layout: "base.njk"
cssPath: "/css/tecnica.css"
---

<section class="tecnicas-banner">
  <img src="/img/banner-tecnicas.jpg" alt="">
  <h1>TÉCNICA CIRÚRGICA</h1>
  <h4>Somos referência em cirurgia de Transplante Capilar. Estamos na vanguarda de inovações e contínuo aprimoramento
    com as mais novas e modernas técnicas cirúrgicas.</h4>
  <p>
    Existem duas técnicas cirúrgicas de transplante capilar conhecidas atualmente: FUT e FUE.<br><br>
    FUT é a técnica convencional da extração das unidades foliculares através da retirada de uma faixa do couro
    cabeludo.<br><br>
    FUE é a extração folículo a folículo. Mais moderna, menos invasiva, sem cicatriz linear.<br>
    É a especialidade da Clínica Muricy, associada ou não com body hair (pelos retirados de várias partes do corpo e do
    couro cabeludo).<br>
  </p>
</section>

<div class="banner-nav">
  <button onClick="pickTab('fue')" id="fueBtn" class="active">FUE</button>
  <button onClick="pickTab('body-hair')" id="body-hairBtn">body hair</button>
</div>

{% include 'bodyhair.njk' %}
{% include 'fue.njk' %}

<script>
  const fueButton = document.getElementById(`fueBtn`);
  const bodyhairButton = document.getElementById(`body-hairBtn`);

  const fue = document.getElementById(`fue`);
  const bodyHair = document.getElementById(`body-hair`);

  function pickTab(id) {
    fue.style.display = 'none';
    bodyHair.style.display = 'none';

    fueButton.classList.remove("active");
    bodyhairButton.classList.remove("active");

    switch (id) {
      case 'fue':
        fue.style.display = 'flex';
        fueButton.classList.add("active");
        break;
      case 'body-hair':
        bodyHair.style.display = 'flex';
        bodyhairButton.classList.add("active");
        break;

      default:
        break;
    }
  }

  const params = new URLSearchParams(window.location.search);

  // let tratamento = '';

  // if (params.get('tratamento')) {
  //   tratamento = params.get('tratamento').toString()
  // } else {
  //   tratamento = 'fue'
  // }

  const tratamento = params.get('tratamento') ? params.get('tratamento').toString() : 'fue';

  pickTab(tratamento);
</script>