---
title: Tratamento
layout: "base.njk"
cssPath: "/css/build/transplante.css"
---

<section class="orientacoes-banner">
  <img src="/img/bannerTransplante.jpg" alt="">
  <h1>TRANSPLANTE<br>CAPILAR</h1>
  <h4>São 30 anos de experiência e mais de 7 mil transplantes capilares,<br>melhorando a autoestima de todos os nossos pacientes operados.</h4>
</section>

<section class="informacoes-iniciais">
  <div class="container-bege">
    <h2>ORIENTAÇÕES</h2>
    <div class="right-side">
      <p>
        Conheça todas as etapas e dicas para que a sua cirurgia de Transplante Capilar seja ainda mais segura e
        tranquila:
      </p>
      <div>
        <a href="/orientacoes?tratamento=pre">
          PRÉ-OPERATÓRIO
        </a>
        <a href="/orientacoes?tratamento=pos">
          PÓS-OPERATÓRIO
        </a>
      </div>
    </div>
  </div>
</section>

<div class="tecnicas">
  <img src="/img/tecnicas.jpg" alt="Mulher escovando cabelo" />

  <div class="texto-tecnicas">
    <h2>TÉCNICAS</h2>
    <p>
      Estamos sempre aprimorando a nossa metodologia de Transplante Capilar.
      Confira as principais técnicas utilizadas por nossos cirurgiões especialistas e referências em restauração
      capilar:
    </p>
    <ul>
      <li><a href="/tecnicas?tratamento=fue">FUE</a></li>
      <li><a href="/tecnicas?tratamento=body-hair">BODY HAIR</a></li>
      <li><a href="/tecnicas?tratamento=outras-tecnicas">FUT</a></li>
    </ul>
  </div>
</div>

<div class="agende-consulta">
  <img src="/img/linhas-tratamento2.png" />
  <a href="/avaliacao">AVALIAÇÃO PARA TRANSPLANTE CAPILAR</a>
</div>