---
title: Tratamento
layout: "base.njk"
cssPath: "/css/build/transplante.css"
---

<section class="informacoes-iniciais">
  <div class="atendimento-clinico">
    <h1 class="atendimento-titulo">
      ATENDIMENTO CLÍNICO
    </h1>
    <img src="/img/svg/transplante-banner-lines.svg" />
  </div>
  <div class="container-bege">
    <h2>ORIENTAÇÕES</h2>
    <div class="right-side">
      <p>
        Conheça todas as etapas e dicas para que a sua cirurgia de Transplante Capilar seja ainda mais segura e tranquila:
      </p>
      <div>
        <a href="/pre-operatorio">
          PRÉ-OPERATÓRIO
        </a>
        <a href="/pos-operatorio">
          PÓS-OPERATÓRIO
        </a>
      </div>
    </div>
  </div>
</section>

<div class="tecnicas">
  <img src="/img/tecnicas.jpg" alt="Mulher escovando cabelo" />

  <div class="texto-tecnicas">
    <h2>TRATAMENTOS</h2>
    <p>
      Estamos sempre aprimorando a nossa metodologia de Transplante Capilar.
      Confira as principais técnicas utilizadas por nossos cirurgiões especialistas e referências em restauração capilar:
    </p>
    <ul>
      <li><a href="#">MEGASSESSÕES</a></li>
      <li><a href="#">FUE</a></li>
      <li><a href="#">CORREÇÕES</a></li>
      <li><a href="#">BODY HAIR</a></li>
      <li><a href="#">OUTRAS TÉCNICAS</a></li>
    </ul>
  </div>
</div>

<div class="agende-consulta">
  <img src="/img/linhas-tratamento2.png" />
  <a href="#">AVALIAÇÃO PARA TRANSPLANTE CAPILAR</a>
</div>
