---
title: Tratamentos Associados
layout: "base.njk"
cssPath: "/css/tratamentos-associados.css"
---

<section class="orientacoes-banner">
  <img src="/img/tabanner.jpg" alt="">
  <h1>TRATAMENTOS<br>ASSOCIADOS</h1>
  <h4>Conheça os produtos e o nosso setor exclusivo para<br> tratamentos clínicos em Curitiba:</h4>
</section>

<div class="banner-nav">
  <button onClick="pickTab('pre')" id="pre" class="active">hair care</button>
  <button onClick="pickTab('pos')" id="pos">medical hair</button>
</div>

{% include 'haircare.njk' %}

{% include 'medicalhair.njk' %}

<script>
  const haircare = document.getElementById(`haircare`);
  const medicalhair = document.getElementById(`medicalhair`);
  const preButton = document.getElementById(`pre`);
  const posButton = document.getElementById(`pos`);

  function pickTab(id) {
    if (id === 'pre') {
      haircare.style.display = 'flex';
      medicalhair.style.display = 'none';
      preButton.classList.add("active");
      posButton.classList.remove("active");
    } else {
      haircare.style.display = 'none';
      medicalhair.style.display = 'flex';
      preButton.classList.remove("active");
      posButton.classList.add("active");
    }
  }

  const params = new URLSearchParams(window.location.search);

  pickTab(params.get('associado').toString());
</script>