---
title: Tratamento
layout: "base.njk"
cssPath: "/css/build/tratamento.css"
---

<section class="orientacoes-banner">
  <img src="/img/bannerAtendimento.jpg" alt="">
  <h1>ATENDIMENTO<br>CLÍNICO</h1>
</section>

<section class="informacoes-iniciais">
  <div class="container-rosa">
    <div class="diagnostico" id="diagnostico">
      <h2>CONSULTAS CLÍNICAS</h2>

      <div class="diagnosticoFlex">
        <p>
          A queda de cabelo, quando exagerada ou incômoda, precisa ser devidamente investigada. O diagnóstico precoce e
          preciso de possíveis problemas do cabelo e do couro cabeludo aumenta as chances de sucesso do tratamento.<br>
          Temos os melhores profissionais especialistas em tricologia e tratamentos para cada caso.
        </p>
        <a href="/avaliacao">AGENDE UMA AVALIAÇÃO</a>
      </div>
    </div>

    <div class="informacoes-cabelo">
      <h2>DERMATOLOGISTA TRICOLOGISTA</h2>

      <p>
        Os cabelos são um componente fundamental de identidade pessoal e um
        símbolo de beleza. Sendo assim, qualquer ameaça de dano ou perda gera
        preocupação e abalo na autoestima.<br /><br>
        O especialista que cuida dos cabelos, pelos e os problemas relacionados
        a eles é o médico dermatologista com especialização em tricologia.
      </p>
      <p>
        Com os recursos e técnicas utilizados no tratamento tópico e por via
        oral, microagulhamento capilar, laser e fotobiomodulação, são possíveis
        bons resultados para os mais variados problemas capilares. E o
        tratamento clínico é um importante aliado no transplante capilar.<br />
        <br>
        Na Clínica Muricy você tem a disposição este especialista. Ligue e
        solicite mais informações.
      </p>
    </div>
  </div>
  <div class="tratamentos">
    <div class="texto-tratamentos">
      <h2>TRATAMENTOS</h2>
      <p>
        A tecnologia pode ser uma grande aliada no seu tratamento capilar. Em
        nossa clínica contamos com profissionais experientes e equipamentos
        especializados para cuidar da saúde do seu couro cabeludo e das hastes
        dos seus fios de cabelo. Confira:
      </p>
      <ul>
        <li><a href="/tratamento-clinico?tratamento=mmp">MMP</a></li>
        <li><a href="/tratamento-clinico?tratamento=micropigmentacao">MICROPIGMENTAÇÃO</a></li>
        <li><a href="/tratamento-clinico?tratamento=medicamentos">MEDICAMENTOS</a></li>
        <!-- <li><a href="/tratamento-clinico?tratamento=laser">LASER</a></li> -->
      </ul>
    </div>

    <img src="/img/escovando-cabelo.jpg" alt="Mulher escovando cabelo" />
  </div>
</section>

<div class="container-verde">
  <h2>TRATAMENTOS ASSOCIADOS</h2>

  <div class="texto-tratamento-associados">
    <p>
      Conheça os produtos e o nosso setor exclusivo para tratamentos clínicos em
      Curitiba:
    </p>
    <ul>
      <li><a href="/tratamentos-associados?associado=pro">HAIR CARE</a></li>
      <li><a href="/tratamentos-associados?associado=pre">MEDICAL HAIR</a></li>
    </ul>
  </div>
</div>

<div class="agende-consulta">
  <img src="/img/linhas-tratamento2.png" />
  <a href="/contato">AGENDE A SUA CONSULTA</a>
</div>