---
title: Blog
layout: "base.njk"
cssPath: "/css/blog.css"
---

<section class="banner">
  <div>
    <h2>DOENÇAS DO COURO CABELUDO</h2>
    <h5>São várias as doenças que acometem o couro cabeludo. Entender as principais doenças é fundamental para tentar
      identificar e buscar o tratamento adequado.</h5>
  </div>
  <img src="/img/blog/blog-lines.png" alt="">
</section>

<div class="tratamentos-container">
  <div class="left-container">
    <div class="title-container">
      <h4>LÍQUEN PLANO PILAR</h4>
      <span class="horizontal-line"></span>
    </div>
    <p>É uma doença crônica, autoimune e requer tratamento continuado orientado por especialista. Provoca vermelhidão e
      descamação no couro cabeludo e o surgimento de pequenas bolhas arroxeadas. Se não tratada pode causar perda
      definitiva dos cabelos.
    </p>
  </div>

  <div class="right-container">
    <div class="title-container">
      <span class="horizontal-line"></span>
      <h4>FOLICULITE QUELOIDIANA DA NUCA</h4>
    </div>
    <p>Mais comuns em homens que possuem tendências a acne, a foliculite queloidiana da nuca consiste em uma infecção
      crônica dos folículos pilosos, que em casos mais graves pode deixar fibroses ou cicatrizes queloides.</p>
  </div>

  <div class="left-container">
    <div class="title-container">
      <h4>PSORÍASE</h4>
      <span class="horizontal-line"></span>
    </div>
    <p>De causa hereditária, a psoríase é uma doença que leva a descamação intensa e esbranquiçada do couro cabeludo,
      parecida com a caspa. Pode ser confundida com a dermatite seborreica. Há melhora com a exposição solar e
      tratamento adequado, embora não cure.</p>
  </div>

  <div class="purple-background-right">
    <div class="title-container">
      <span class="horizontal-line__white"></span>
      <h4>TINEA CAPITIS</h4>
    </div>
    <p>Provocada por fungos, seu principal sintoma é a perda de cabelo localizada e o surgimento de placas, que podem
      inflamar e infeccionar. Pode provocar a perda definitiva dos cabelos se não tratada corretamente. Acomete mais
      crianças.</p>
  </div>

  <div class="left-container">
    <div class="title-container">
      <h4>FOLICULITE</h4>
      <span class="horizontal-line"></span>
    </div>
    <p>A foliculite acontece quando o couro cabeludo está com inflamação em um ou mais folículos. Pode ser causada por
      uma infecção viral, fúngica ou bacteriana e pode estar presente em outras áreas do corpo. Nos casos mais graves,
      chama-se Foliculite Descalvante ou Dissecante.</p>
  </div>

  <div class="right-container">
    <div class="title-container">
      <span class="horizontal-line"></span>
      <h4>DERMATITE SEBORREICA</h4>
    </div>
    <p>Também conhecida como caspa, é uma das doenças do couro cabeludo mais frequentes entre as pessoas. Nessa
      condição, o paciente apresenta uma oleosidade excessiva no couro cabeludo, que está associada à descamação e
      inflamação. Essa doença é crônica e ocorre em diferentes níveis de gravidade, tendo períodos no qual há melhora e
      piora dos sintomas. Sua causa pode estar relacionada a genética ou agentes externos como álcool, fungos, estresse
      emocional, medicamentos entre outros.<br />
      Além da oleosidade no couro cabeludo, existem outros sintomas comuns como escamas amareladas que ardem e são
      oleosas e escamas brancas que descamam, coceira, leve vermelhidão na área afetada e, em alguns casos, também é
      notada a perda de cabelo.
    </p>
  </div>

  <div class="purple-background-left">
    <div class="title-container">
      <h4>PITIRÍASE VERSICOLOR</h4>
      <span class="horizontal-line__white"></span>
    </div>
    <p>A pitiríase é infecção causada por fungos, apresentando descamação e coceira. Essa condição pode ser ativada por
      sudorese excessiva, estresse, alteração no PH do couro cabeludo e queda de cabelo temporária. Há manchas
      esbranquiçadas na pele. Melhora com a exposição ao sol.</p>
  </div>

  <div class="left-container">
    <div class="title-container">
      <h4>EFLÚVIO TELÓGENO</h4>
      <span class="horizontal-line"></span>
    </div>
    <p>Quando presente, há um aumento da queda diária dos fios do cabelo, sendo percebido principalmente na hora do
      banho ou quando se está penteando o cabelo, pelo exagero de fios que caem. <br />
      Essa causa normalmente está associada a algum evento que ocorreu aproximadamente três meses antes da queda
      começar, que é o tempo médio da queda e renovação dos fios. Várias podem ser as causas: gripe, pós-parto, doenças
      infecciosas, cirurgias, estresse entre outros.
    </p>
    <p>Além da queda também há coceira no couro cabeludo. O tratamento pode ser feito com medicações estimuladoras para
      acelerar o processo de crescimento. Entretanto, também é preciso investigar se a condição está associada a
      deficiência de algum componente como ferro ou vitaminas.
    </p>
  </div>

  <div class="right-container">
    <div class="title-container">
      <span class="horizontal-line"></span>
      <h4>ALOPECIA AREATA</h4>
    </div>
    <p>Também conhecida pela queda de cabelo, a alopecia areata é uma doença inflamatória autoimune. A percepção se dá
      com a queda dos fios e a formação de falhas circulares, sem cabelos. Também pode ser difusa no couro cabeludo. A
      extensão dessa falha costuma variar entre um indivíduo e outro.
    </p>
    <p>Não contagiosa, esta enfermidade está relacionada a quadros emocionais, infecciosos, traumas físicos, entre
      outros. Os fios podem crescer novamente mesmo após a perda total dos cabelos, após tratamento e controle adequados
      da inflamação.
    </p>
  </div>

  <div class="purple-background-right">
    <div class="title-container">
      <span class="horizontal-line__white"></span>
      <h4>ALOPECIA ANDROGENÉTICA</h4>
    </div>
    <p>Conhecida como calvície, é uma queda de cabelo geneticamente determinada. Essa doença pode ter início já na
      adolescência, quando o estímulo hormonal aparece, fazendo com que os fios do cabelo se tornem cada vez mais finos.
      Essa condição também acomete tanto homens, quanto mulheres entre 30 e 40 anos.<br />
      Os fios ficam mais ralos e o couro cabeludo mais exposto. Nos homens a área mais aberta é a da região frontal e da
      coroa. Já nas mulheres a área central tende a ser a mais acometida.
    </p>
    <p>
      Para fazer com que os fios voltem a crescer, é indicado o uso de bloqueadores hormonais, poliovitamínicos, lasers,
      loções capilares, uso de minoxidil, entre outros. Porém essas ações podem recuperar parte da perda capilar e
      estacionar o processo, mas somente o transplante capilar pode solucionar o problema definitivamente.<br />
      Na Clinica Muricy você tem o cuidado completo dos seus cabelos. Agende uma avaliação.
    </p>
  </div>





  <span class="vertical-line"></span>

</div>